{% extends "voc2_de.j2" %}

{% block summary %}
<p>Das Vokabular von OSLO Soil & Subsoil Interpretations enthält Begriffe zur Beschreibung von Beobachtungen in Bezug auf Boden und Untergrund der Art der Interpretation.</p>
<p>Dabei handelt es sich hauptsächlich um Beobachtungen, die die Schichtung des Untergrundes beschreiben, wobei in erster Linie die stratigraphischen und lithologischen Merkmale, aber auch die anthropogenen und geotechnischen Schichten diskutiert werden.  </p>
<p>Anhand von räumlichen Bereichen kann die Variation dieser Schichten in der Tiefe beschrieben werden, wobei die Eigenschaften jeder Schicht wie Bodentyp, geologische Formation, Wasserauskleidung usw. Diese Attribute werden in der Regel verschlüsselt übertragen.  </p>
<p>Es handelt sich um Beobachtungen der Art der Interpretation, da es sich in der Regel um persönliche Urteile handelt, die jedoch begründet sind und auf theoretischem Wissen oder auf der Verarbeitung anderer grober Beobachtungen beruhen.  </p>
{% endblock %}
