{% extends "ap2_en.j2" %}

{% block summary %}
<p>The Soil and Subsoil application profile explains how to use the <a href="https://data.vlaanderen.be/ns/bodem-en-ondergrond">terminology</a> that is additionally provided to exchange Observations specifically for the Soil and Subsurface domain (but still generic enough to be useful for other subdomains of Soil and Subsoil).</p>
<p>This concerns, for example, BO_RuimtelijkBemonsteringsobject that adds attributes such as ground level and depth to Spatial Sampling Object from <a href="https://data.vlaanderen.be/doc/applicatieprofiel/observaties-en-metingen">Observations and Measurements</a> .</p>
<p>Also for the domain Soil and Subsurface, the Spatial Sampling Object Profile from Observations and Measurements was expanded with Profile Elements with the intention of better describing parts of Profiles such as Layers.</p>
<p>In addition to Ranges that can document variations of phenomena in space and time, there was also a need for "ordinary" measurement series in the domain of Soil and Subsurface, where the phenomenon can be a function of an arbitrary parameter. For that reason, we added Measurement Series and the widely used Fraction Measurement specialization.</p>
{% endblock %}
