{% extends "ap2_en.j2" %}

{% block summary %}
<p>The Soil application profile explains how the terminology in this domain should be used to exchange data on soil observations.</p>
<p>The application profile builds on <a href="https://data.vlaanderen.be/doc/applicatieprofiel/bodem-en-ondergrond/sensoren-en-bemonstering">the OSLO Sensors and Sampling application profile</a>, among other things.<p>This subdomain relates to the sampling and observation of the soil. </p>
<p>Sampling is done at Soil Locations (sometimes further specialized as Soil Borehole or Profile Well).</p>
<p>In addition to analyses of soil samples, the soil profile is determined and the soil as a whole is classified according to various soil classification systems. </p>
<p>The Profile of a Soil as a result of an Observation consists of Horizons and Layers that can also be sampled or observed separately. </p>
<p>Also in this domain there are Observations that can be described generically. </p>
{% endblock %}
