{% extends "ap2_fr.j2" %}

{% block summary %}
<p>Le profil de l’application Observations et mesures explique comment la <a href="https://data.vlaanderen.be/ns/observaties-en-metingen">terminologie</a> de ce domaine doit être utilisée pour échanger des données sur les observations en général et les mesures (et autres observations spécialisées) en particulier.</p>
<p>Ce profil d’application est basé sur <a href="https://www.iso.org/standard/32574.html">la norme ISO 19156:2011</a>. Il <a href="https://data.vlaanderen.be/doc/applicatieprofiel/bodem-en-ondergrond/ruimtelijke-bereiken">s’appuie également sur le profil d’application OSLO Spatial Ranges</a>.</p>
<p>Les observations sont considérées comme l’activité qui établit la valeur ve Caractéristique ve Objet.</p>
<p>La plupart du temps, il n’est pas possible d’observer l’Objet qui nous intéresse vraiment et donc on en observe une partie (l’Objet d’échantillonnage). Cette pièce est un lieu représentatif (objet d’échantillonnage spatial de type Point, Ligne, Plan, Solide) ou un échantillon représentatif.</p>
<p>Les observations ne sont pas toujours des mesures (c’est-à-dire des observations avec une valeur quantitative comme résultat), le résultat peut également être qualitatif (classification), vrai/faux (occurrence), un nombre (compte), etc.</p>
<p>Un cas particulier (avec une modélisation spécifique correspondante) est une plage : une référence qui varie dans l’espace (y=f(location) ou SpatialRange) ou dans le temps (y=f(time) ou Time Series).</p>
{% endblock %}
