{% extends "voc2_en.j2" %}

{% block summary %}
<p>The vocabulary "OSLO-Network" defines terms that apply to networks in general. It describes basic characteristics of a network such as the elements that make it up e.g. nodes, links, zones, connections. The terms are intended to be specialized for describing networks with specific functions, e.g. transport networks or hydrographic networks. This vocabulary is based on the <a href="https://inspire.ec.europa.eu/documents/inspire-data-specifications-%E2%80%93-base-models-%E2%80%93-generic-network-model">Generic Network Model</a> of INSPIRE.</p>
{% endblock %}
