{% extends "iceg_hydrants_ap_nl.j2" %}

{% block summary %}
<div id="tabs">
  <ul>
    <li><a href="#tabs-1">Engels</a></li>
    <li><a href="#tabs-2">Frans</a></li>
    <li><a href="#tabs-3">Nederlands</a></li>
	<li><a href="#tabs-4">Duits</a></li>
  </ul>
  <div id="tabs-1">
    <p>Het hieronder gepresenteerde model is een toepassingsprofiel van het thema 'Hydranten', opgesteld in het kader van de thematische werkgroep ICEG, waarin deskundigen van federaal en regionaal niveau en gemeenschappen zijn samengebracht. Het model is ontworpen door middel van een reeks workshops en een afsluitende open consultatie.</p>
	<p>Het doel was om de termen die op regionaal en federaal niveau voor brandkranen zijn gedefinieerd, te standaardiseren, uitgaande van de eisen van de belanghebbenden en vertrouwend op OSLO en SAREF. Het dient om gegevens toegankelijk te maken als linked open data en om standaardinterfaces (API's) te definiëren om de interprovinciale en interregionale samenwerking en integratie van de verschillende diensten en tools te vereenvoudigen.</p>
	<p>De Hydrant Vocabulary is ontworpen om de uitwisseling van basisinformatie over hydranten te ondersteunen. Door gebruik te maken van de woordenschat wordt het voor instellingen makkelijker om gegevens over dit thema te publiceren.</p>
  </div>
  <div id="tabs-2">
    <p>Nog te bevestigen</p>
  </div>
  <div id="tabs-3">
    <p>Het onderstaande model is een applicatieprofiel rond het thema 'Hydranten', ontwikkeld in het kader van de ICEG thematische werkgroep, waarin expertis van het federale, regionale niveau en de gemeenschappen zijn samengebracht. Het model is ontworpen om via een reeks workshops en een finale open consultatie.</p>
 	<p>Het doel was om de termen die zijn gedefinieerd voor hydranten op regional en federaal niveau te standaardiseren, vertrekkende van de eisen van belanghebbenden, steunende op OSLO en SAREF Het dient om gegevens</p>
  </div>
   <div id="tabs-4">
    <p>Nog te bevestigen</p>
  </div>
</div>
 
<br><br>

{% endblock %}

{% block license %}
<p>Deze specificatie van <a href="https://github.com/belgif">Belgif</a> is gepubliceerd onder <a href="https://creativecommons.org/licenses/by/4.0/">CC-BY-4.0</a>".</p>
{% endblock %}

{% block changelog %}
<p>Er is geen changelog gedefinieerd.<p>
{% endblock %}


{% block codelist %}
<div class="region region--no-space-top">
	<h3 class="h3" id="HydrantType">Type brandkraan</h3>
	<dl>
		<dt>VOORVOEGSEL vbht:</dt>
		<dd>http://vocab.belgif.be/auth/hydranttype/</dd>
	</dl>
	<br/>
	<h4>SKOS TopConcepts</h4>
	<table class="data-table">
		<thead>
			<tr>
				<th>URI</th>
				<th>skos:prefLabel@en</th>
				<th>skos:notatie</th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td>vbht:bovengrondse brandkraan</td>
				<td>Bovengrondse brandkraan</td>
				<td>bovengrondseHydrant</td>
			</tr>
			<tr>
				<td>vbht:risingPoint</td>
				<td>Stijgend punt</td>
				<td>stijgend punt</td>
			</tr>
			<tr>
				<td>vbht:ondergrondseHydrant</td>
				<td>Ondergrondse brandkraan</td>
				<td>ondergrondseHydrant</td>
			</tr>
			<tr>
				<td>vbht:wall-monuntedHydrant</td>
				<td>Aan de muur gemonteerde brandkraan</td>
				<td>muur-monuntedBrandkraan</td>
			</tr>
		</tbody>
	</table>
</div>
<div class="region region--no-space-top">
	<h3 class="h3" id="NameStatusType">NameStatusType</h3>
	<dl>
		<dt>VOORVOEGSEL vbnst:</dt>
		<dd>http://vocab.belgif.be/auth/namestatustype/</dd>
	</dl>
	<br/>
	<h4>SKOS TopConcepts</h4>
	<table class="data-table">
		<thead>
			<tr>
				<th>URI</th>
				<th>skos:prefLabel@en</th>
				<th>skos:notatie</th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td>vbnst:historisch</td>
				<td>historisch</td>
				<td>historisch</td>
			</tr>
			<tr>
				<td>vbnst:officieel</td>
				<td>ambtenaar</td>
				<td>ambtenaar</td>
			</tr>
			<tr>
				<td>vbnst:Overig</td>
				<td>ander</td>
				<td>Otherl</td>
			</tr>
			<tr>
				<td>vbnst:gestandaardiseerd</td>
				<td>Gestandaardiseerde</td>
				<td>Gestandaardiseerde</td>
			</tr>
		</tbody>
	</table>
</div>

<div class="region region--no-space-top">
	<h3 class="h3" id="NativenessValue">Oorspronkelijke waarde</h3>
	<dl>
		<dt>VOORVOEGSEL vbnv:</dt>
		<dd>http://vocab.belgif.be/auth/nativenessvalue/</dd>
	</dl>
	<br/>
	<h4>SKOS TopConcepts</h4>
	<table class="data-table">
		<thead>
			<tr>
				<th>URI</th>
				<th>skos:prefLabel@en</th>
				<th>skos:notatie</th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td>vbnv:endoniem</td>
				<td>endoniem</td>
				<td>endoniem</td>
			</tr>
			<tr>
				<td>vbnv:exoniem</td>
				<td>exoniem</td>
				<td>exoniem</td>
			</tr>
		</tbody>
	</table>
</div>

<div class="region region--no-space-top">
	<h3 class="h3" id="OpeningKeyType">OpeningKeyType</h3>
	<dl>
		<dt>VOORVOEGSEL vbokt:</dt>
		<dd>http://vocab.belgif.be/auth/openingkeytype/</dd>
	</dl>
	<br/>
	<h4>SKOS TopConcepts</h4>
	<table class="data-table">
		<thead>
			<tr>
				<th>URI</th>
				<th>skos:prefLabel@en</th>
				<th>skos:notatie</th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td>Kleur:R20mm</td>
				<td>R 20 mm</td>
				<td>R20mm</td>
			</tr>
			<tr>
				<td>Temperatuur:R30mm</td>
				<td>R 30 mm</td>
				<td>R30mm</td>
			</tr>
		</tbody>
	</table>
</div>

<div class="region region--no-space-top">
	<h3 class="h3" id="PipeType">Type pijp</h3>
	<dl>
		<dt>VOORVOEGSEL vbpt:</dt>
		<dd>http://vocab.belgif.be/auth/pipetype/</dd>
	</dl>
	<br/>
	<h4>SKOS TopConcepts</h4>
	<table class="data-table">
		<thead>
			<tr>
				<th>URI</th>
				<th>skos:prefLabel@en</th>
				<th>skos:notatie</th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td>vbpt:distributionPipe</td>
				<td>Distributie pijp</td>
				<td>distributiePijp</td>
			</tr>
			<tr>
				<td>vbpt:transportPijp</td>
				<td>Transportleiding</td>
				<td>transportPijp</td>
			</tr>
		</tbody>
	</table>
</div>

<div class="region region--no-space-top">
	<h3 class="h3" id="Status">Status</h3>
	<dl>
		<dt>VOORVOEGSEL vbs:</dt>
		<dd>http://vocab.belgif.be/auth/status/</dd>
	</dl>
	<br/>
	<h4>SKOS TopConcepts</h4>
	<table class="data-table">
		<thead>
			<tr>
				<th>URI</th>
				<th>skos:prefLabel@en</th>
				<th>skos:notatie</th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td>VBS:Operationeel</td>
				<td>Operationele</td>
				<td>Operationele</td>
			</tr>
			<tr>
				<td>vbs:Buiten dienst</td>
				<td>buiten dienst</td>
				<td>buiten dienst</td>
			</tr>
			<tr>
				<td>vbs:Opmerking</td>
				<td>opmerking</td>
				<td>opmerking</td>
			</tr>
		</tbody>
	</table>
</div>

<div class="region region--no-space-top">
	<h3 class="h3" id="OpeningKeyType">OpeningKeyType</h3>
	<dl>
		<dt>VOORVOEGSEL vbokt:</dt>
		<dd>http://vocab.belgif.be/auth/openingkeytype/</dd>
	</dl>
	<br/>
	<h4>SKOS TopConcepts</h4>
	<table class="data-table">
		<thead>
			<tr>
				<th>URI</th>
				<th>skos:prefLabel@en</th>
				<th>skos:notatie</th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td>vbs: R20mm</td>
				<td>R20mm</td>
				<td>R20mm</td>
			</tr>
			<tr>
				<td>vbs: R30mm</td>
				<td>R30mm</td>
				<td>R30mm</td>
			</tr>
		</tbody>
	</table>
</div>

<div class="region region--no-space-top">
	<h3 class="h3" id="PipeClassificationType">PijpClassificationType</h3>
	<dl>
		<dt>VOORVOEGSEL vbpct:</dt>
		<dd>http://vocab.belgif.be/auth/pipeclassificationtype/</dd>
	</dl>
	<br/>
	<h4>SKOS TopConcepts</h4>
	<table class="data-table">
		<thead>
			<tr>
				<th>URI</th>
				<th>skos:prefLabel@en</th>
				<th>skos:notatie</th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td>vbs:primair</td>
				<td>primair</td>
				<td>primair</td>
			</tr>
			<tr>
				<td>vbs:secundair</td>
				<td>secundair</td>
				<td>secundair</td>
			</tr>
			<tr>
				<td>vbs:tertiair</td>
				<td>tertiair</td>
				<td>tertiair</td>
			</tr>
		</tbody>
	</table>
</div>

{% endblock %}
