{% extends "iceg_hydrants_ap_fr.j2" %}

{% block summary %}
<div id="tabs">
  <ul>
    <li><a href="#tabs-1">Anglais</a></li>
    <li><a href="#tabs-2">Français</a></li>
    <li><a href="#tabs-3">Néerlandais</a></li>
	<li><a href="#tabs-4">Allemand</a></li>
  </ul>
  <div id="tabs-1">
    <p>Le modèle présenté ci-dessous est un profil d’application de la thématique « Bouches d’incendie », construit dans le cadre du groupe de travail thématique de l’ICEG, regroupant des experts des niveaux fédéral et régional ainsi que des communautés. Le modèle a été conçu dans le cadre d’une série d’ateliers et d’une consultation finale ouverte.</p>
	<p>L’objectif était d’uniformiser les termes définis pour les bouches d’incendie au niveau régional et fédéral, en partant des exigences des parties prenantes, et en s’appuyant sur OSLO et SAREF. Il a pour but de rendre les données accessibles sous forme de données ouvertes liées et de définir des interfaces normalisées (API) pour simplifier la collaboration interprovinciale et interrégionale et l’intégration des différents services et outils.</p>
	<p>Le vocabulaire des bouches d’incendie est conçu pour soutenir l’échange d’informations de base sur les bouches d’incendie. L’utilisation de ce vocabulaire facilitera la publication par les institutions de données concernant ce thème.</p>
  </div>
  <div id="tabs-2">
    <p>À confirmer</p>
  </div>
  <div id="tabs-3">
    <p>Het onderstaande model is een applicatieprofiel rond het thema 'Hydranten', ontwikkeld in het kader van de ICEG thematische werkgroep, waarin expertis van het federale, regionale niveau en de gemeenschappen zijn samengebracht. Het model is ontworpen om via een reeks workshops en een finale open consultatie.</p>
 	<p>Het doel was om de termen die zijn gedefinieerd voor hydranten op regional en federaal niveau te standaardiseren, vertrekkende van de eisen van belanghebbenden, steunende op OSLO en SAREF Het dient om gegevens</p>
  </div>
   <div id="tabs-4">
    <p>À confirmer</p>
  </div>
</div>
 
<br><br>

{% endblock %}

{% block license %}
<p>Cette spécification de <a href="https://github.com/belgif">Belgif</a> est publiée sous <a href="https://creativecommons.org/licenses/by/4.0/">CC-BY-4.0</a>".</p>
{% endblock %}

{% block changelog %}
<p>Aucun journal des modifications défini.<p>
{% endblock %}


{% block codelist %}
<div class="region region--no-space-top">
	<h3 class="h3" id="HydrantType">Type de bouche d’incendie</h3>
	<dl>
		<dt>PRÉFIXE vbht :</dt>
		<dd>http://vocab.belgif.be/auth/hydranttype/</dd>
	</dl>
	<br/>
	<h4>SKOS TopConcepts</h4>
	<table class="data-table">
		<thead>
			<tr>
				<th>URI</th>
				<th>skos :prefLabel@en</th>
				<th>skos :notation</th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td>vbht :bouche d’incendie hors sol</td>
				<td>bouche d’incendie hors sol</td>
				<td>bouche d’incendie hors sol</td>
			</tr>
			<tr>
				<td>vbht :risingPoint</td>
				<td>Point ascendant</td>
				<td>risingPoint</td>
			</tr>
			<tr>
				<td>vbht :souterrainBouche d’incendie</td>
				<td>bouche d’incendie souterraine</td>
				<td>souterrainBouche d’incendie</td>
			</tr>
			<tr>
				<td>vbht :mur-monuntedBouche d’incendie</td>
				<td>borne d’incendie murale</td>
				<td>mur-monuntedBouche d’incendie</td>
			</tr>
		</tbody>
	</table>
</div>
<div class="region region--no-space-top">
	<h3 class="h3" id="NameStatusType">NomStatusType</h3>
	<dl>
		<dt>PRÉFIXE vbnst :</dt>
		<dd>http://vocab.belgif.be/auth/namestatustype/</dd>
	</dl>
	<br/>
	<h4>SKOS TopConcepts</h4>
	<table class="data-table">
		<thead>
			<tr>
				<th>URI</th>
				<th>skos :prefLabel@en</th>
				<th>skos :notation</th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td>vbnst :historique</td>
				<td>historique</td>
				<td>historique</td>
			</tr>
			<tr>
				<td>vbnst :officiel</td>
				<td>fonctionnaire</td>
				<td>fonctionnaire</td>
			</tr>
			<tr>
				<td>vbnst :Autre</td>
				<td>autre</td>
				<td>Autres</td>
			</tr>
			<tr>
				<td>vbnst :normalisé</td>
				<td>Standardisé</td>
				<td>Standardisé</td>
			</tr>
		</tbody>
	</table>
</div>

<div class="region region--no-space-top">
	<h3 class="h3" id="NativenessValue">IndicitéValeur</h3>
	<dl>
		<dt>PRÉFIXE vbnv :</dt>
		<dd>http://vocab.belgif.be/auth/nativenessvalue/</dd>
	</dl>
	<br/>
	<h4>SKOS TopConcepts</h4>
	<table class="data-table">
		<thead>
			<tr>
				<th>URI</th>
				<th>skos :prefLabel@en</th>
				<th>skos :notation</th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td>vbnv :endonyme</td>
				<td>Endonyme</td>
				<td>Endonyme</td>
			</tr>
			<tr>
				<td>vbnv :exonyme</td>
				<td>exonyme</td>
				<td>exonyme</td>
			</tr>
		</tbody>
	</table>
</div>

<div class="region region--no-space-top">
	<h3 class="h3" id="OpeningKeyType">OuvertureKeyType</h3>
	<dl>
		<dt>PRÉFIXE vbokt :</dt>
		<dd>http://vocab.belgif.be/auth/openingkeytype/</dd>
	</dl>
	<br/>
	<h4>SKOS TopConcepts</h4>
	<table class="data-table">
		<thead>
			<tr>
				<th>URI</th>
				<th>skos :prefLabel@en</th>
				<th>skos :notation</th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td>vbokt :R20mm</td>
				<td>R 20 millimètre</td>
				<td>R20 millimètres</td>
			</tr>
			<tr>
				<td>vbokt :R30mm</td>
				<td>R 30 millimètre</td>
				<td>R30mm</td>
			</tr>
		</tbody>
	</table>
</div>

<div class="region region--no-space-top">
	<h3 class="h3" id="PipeType">Type de tuyau</h3>
	<dl>
		<dt>PRÉFIXE vbpt :</dt>
		<dd>http://vocab.belgif.be/auth/pipetype/</dd>
	</dl>
	<br/>
	<h4>SKOS TopConcepts</h4>
	<table class="data-table">
		<thead>
			<tr>
				<th>URI</th>
				<th>skos :prefLabel@en</th>
				<th>skos :notation</th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td>vbpt :distributionPipe</td>
				<td>Tuyau de distribution</td>
				<td>distributionTuyau</td>
			</tr>
			<tr>
				<td>vbpt :transportPipe</td>
				<td>Tuyau de transport</td>
				<td>transportTuyau</td>
			</tr>
		</tbody>
	</table>
</div>

<div class="region region--no-space-top">
	<h3 class="h3" id="Status">Statut</h3>
	<dl>
		<dt>PRÉFIXE vbs :</dt>
		<dd>http://vocab.belgif.be/auth/status/</dd>
	</dl>
	<br/>
	<h4>SKOS TopConcepts</h4>
	<table class="data-table">
		<thead>
			<tr>
				<th>URI</th>
				<th>skos :prefLabel@en</th>
				<th>skos :notation</th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td>VBS :Opérationnel</td>
				<td>opérationnel</td>
				<td>opérationnel</td>
			</tr>
			<tr>
				<td>vbs :hors service</td>
				<td>hors service</td>
				<td>hors service</td>
			</tr>
			<tr>
				<td>vbs :Remarque</td>
				<td>remarque</td>
				<td>remarque</td>
			</tr>
		</tbody>
	</table>
</div>

<div class="region region--no-space-top">
	<h3 class="h3" id="OpeningKeyType">OuvertureKeyType</h3>
	<dl>
		<dt>PRÉFIXE vbokt :</dt>
		<dd>http://vocab.belgif.be/auth/openingkeytype/</dd>
	</dl>
	<br/>
	<h4>SKOS TopConcepts</h4>
	<table class="data-table">
		<thead>
			<tr>
				<th>URI</th>
				<th>skos :prefLabel@en</th>
				<th>skos :notation</th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td>vbs :R20mm</td>
				<td>R20 millimètres</td>
				<td>R20 millimètres</td>
			</tr>
			<tr>
				<td>vbs :R30mm</td>
				<td>R30mm</td>
				<td>R30mm</td>
			</tr>
		</tbody>
	</table>
</div>

<div class="region region--no-space-top">
	<h3 class="h3" id="PipeClassificationType">PipeClassificationType</h3>
	<dl>
		<dt>PRÉFIXE vbpct :</dt>
		<dd>http://vocab.belgif.be/auth/pipeclassificationtype/</dd>
	</dl>
	<br/>
	<h4>SKOS TopConcepts</h4>
	<table class="data-table">
		<thead>
			<tr>
				<th>URI</th>
				<th>skos :prefLabel@en</th>
				<th>skos :notation</th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td>vbs :primaire</td>
				<td>primaire</td>
				<td>primaire</td>
			</tr>
			<tr>
				<td>vbs :secondaire</td>
				<td>secondaire</td>
				<td>secondaire</td>
			</tr>
			<tr>
				<td>vbs :tertiaire</td>
				<td>tertiaire</td>
				<td>tertiaire</td>
			</tr>
		</tbody>
	</table>
</div>

{% endblock %}
