{% extends "ap2_en.j2" %}

{% block summary %}
<p>This application profile was developed to semantically model the different data streams related to financial reporting and to standardize the structure of such data.</p>Many organisations have to submit their financial reports (annually) to various (public) organisations in order to check or support a dossier for subsidies, among other things. </p>
<p>The following information is captured with regard to the financial report: the financial facts stated in it, the financial concept behind the fact (e.g. assets, turnover, costs, usually based on an imposed schedule), the context in which the fact must be viewed (e.g. the period to which the fact relates), if applicable. the dimensions that apply (e.g. time, region, product). </p>
<p>The model for the financial report is based on a well-known standard in this domain, i.e. <a href="https://www.xbrl.org/Specification/XBRL-2.1/REC-2003-12-31/XBRL-2.1-REC-2003-12-31%2Bcorrected-errata-2013-02-20.html">XBRL</a> , and a sub-standard thereof, i.e. <a href="https://www.xbrl.org/specification/dimensions/rec-2012-01-25/dimensions-rec-2006-09-18%2Bcorrected-errata-2012-01-25-clean.html">XBRL Dimensions.</a> </p>
<p>As far as the data flows are concerned, a link is made to the filing of a financial report and to the various validation steps it goes through, e.g. for approval of a grant. A financial report can also be linked to a file. </p>
<p>A more formal description of the terms used in the application profile can be found in the <a href="https://data.vlaanderen.be/ns/financiele-data">OSLO – Financial Reporting vocabulary</a>. </p>
{% endblock %}
