{% extends "ap2_en.j2" %}

{% block summary %}
<p>The OSLO Room Reservation application profile provides a detailed framework for describing room reservations and the associated data, using an appropriate vocabulary, 
enriched with terms from other vocabularies.</p>

<p>The core of this profile is the reservation, which functions as a central connection between public services (see <a href="https://data.vlaanderen.be/doc/applicatieprofiel/dienstencataloog/" target="_blank">OSLO Service Catalogue</a>) 
and infrastructure (see <a href="https://data.vlaanderen.be/doc/applicatieprofiel/cultuur-en-jeugd/infrastructuur/" target="_blank">OSLO-Culture and Youth Infrastructure</a>).</p>

<p>A reservation is recorded by an Agent (see <a href="https://data.vlaanderen.be/doc/applicatieprofiel/generiek-basis/" target="_blank">OSLO-Generic</a>) 
for a specific Activity (see <a href="https://data.vlaanderen.be/doc/applicatieprofiel/cultuurparticipatie/" target="_blank">OSLO-Cultural Participation</a>), 
within a defined period and with the addition of a buffer period and location information. 
Each reservation has a status such as request, pending, or approved, depending on the progress of the processing.</p>

<p>This infrastructure reservation is part of the public service,
with a public organisation as responsible (see <a href="https://data.vlaanderen.be/doc/applicatieprofiel/organisatie-basis/" target="_blank">OSLO Organisation</a>). 
This organization has attributes such as area of operation, contact information, and preferred name, and acts as the central administrator of the infrastructure.</p>

<p>Infrastructure has different types of attributes. There is one mandatory attribute, which is the location, because every piece of infrastructure must have at least one location. 
Other attributes such as cancellation policy, accessibility, availability, ownership, opening and accessibility can be optionally shared and are not always required.</p>

<p>Furthermore, there are elements that do not have to be present, but may occur several times. 
These include documents associated with the infrastructure, as well as capacity, contact, dimension, facility, usage, name, access, infrastructure type, and security requirements.</p>

<p>An important feature of infrastructure is that it can consist of both indoor spaces and outdoor spaces, such as indoor halls or terraces. 
This provides flexibility in designing the infrastructure for various types of events and activities.</p>
{% endblock %}
