{% extends "voc2_en.j2" %}

{% block summary %}
<p>The Soil Drilling vocabulary includes terminology related to drilling or sampling the soil.</p>
<p>To this end, it specialises in terms of the <a href="https://data.vlaanderen.be/ns/sensoren-en-bemonstering/">vocabulary Sensors and Sampling</a>. </p>
<p>These include Soil Drilling, Borehole and Soil Sample as a special case of Sampling, Spatial Sampling Object and Sample respectively.</p>
<p>Drill merthode and drill are also defined and characteristics of the Soil Drilling (e.g. driller and driller or Legal Framework) or properties of the Borehole such as formwork and diameter.</p>
{% endblock %}
