{% extends "ap2_fr.j2" %}

{% block summary %}
<p>Profil d’application avec des associations, avec ou sans classe d’association correspondante, qui descendent du vocabulaire.</p>
<p>Des solutions aux problèmes soulevés dans ce processus sont proposées et appliquées. Vous trouverez des explications dans les textes du diagramme.</p>
{% endblock %}

{% block status %}
<p>Il doit s’agir du texte d’état.</p>
{% endblock %}
