{% extends "ap2_fr.j2" %}

{% block summary %}
<p>Il s’agit d’un exemple de profil d’application permettant d’illustrer l’utilisation des rôles.</p>
{% endblock %}

{% block status %}
En voici un exemple.
{% endblock %}


