{% extends "ap2_fr.j2" %}

{% block summary %}
<p>Il s’agit d’un exemple de profil d’application permettant de tester la façon dont les associations sont traitées dans les spécifications.</p>
<p>Dans cette version, <b>les balises d’uri ont été ajoutées à toutes les classes (à l’exception des classes d’association) par rapport à</b> la version d’origine.</p>
{% endblock %}

{% block status %}
<p>Il doit s’agir du texte d’état.</p>
{% endblock %}


