{% extends "voc2_fr.j2" %}

{% block summary %}
<p>Il s’agit d’un exemple de vocabulaire pour tester comment les associations sont traitées dans la spécification.</p>
<p>Dans cet exemple, toutes les <b>associations et classes d’association se trouvent dans un package différent</b>.
  Nous souhaitons donc utiliser les associations existantes entre les nouvelles classes au sein de notre package.
  La balise package=MyOtherDomain a été ajoutée aux associations, rôles, classes d’association et attributs dans les classes d’association.</p>
<p>Si tout se passe bien, vous ne verrez pas l’URI de base de MyOtherDomain comme l’URI d’un élément défini dans le vocabulaire généré (mais comme Domain et Range).</p>
{% endblock %}

{% block status %}
<p>Il doit s’agir du texte d’état.</p>
{% endblock %}


