{% extends "ap2_fr.j2" %}

{% block summary %}
<p>Il s’agit d’un exemple de profil d’application permettant de tester la façon dont les associations sont traitées dans les spécifications.</p>
<p>Une balise <b>name-source-class</b> et une balise <b>name-target-class</b> ont été ajoutées aux classes d’association afin que les URI appropriés puissent être créés pour les attributs générés dans les classes d’association.</p>
<p>Dans le <b>vocabulaire</b> correspondant se trouvent les associations entre les <b>... classes de base</b>.</p>
{% endblock %}

{% block status %}
<p>Il doit s’agir du texte d’état.</p>
{% endblock %}


