{% extends "duet-ap2_fr.j2" %}

{% block summary %}
<p>Entrez ici un résumé de mon profil de candidature.</p>
{% endblock %}

{% block status %}
<p>(Supprimez ce bloc pour qu’un paragraphe par défaut s’affiche automatiquement.)</p>
{% endblock %}
