{% extends "voc2_fr.j2" %}

{% block summary %}
<p>Il s’agit d’un exemple de vocabulaire pour tester comment les associations sont traitées dans la spécification.</p>
<p>Dans cette version, <b>les balises d’uri ont été ajoutées à toutes les classes (à l’exception des classes d’association) par rapport à</b> la version d’origine.</p>
{% endblock %}

{% block status %}
<p>Il doit s’agir du texte d’état.</p>
{% endblock %}


