{% extends "ap2_fr.j2" %}

{% block summary %}
<p>Il s’agit d’un exemple de profil d’application permettant de tester la façon dont les associations sont traitées dans les spécifications.</p>
<p>Dans cette version, <b>des balises ap-label-nl ont été ajoutées à tous les éléments par rapport à</b> la version originale.</p>
{% endblock %}

{% block status %}
<p>Il doit s’agir du texte d’état.</p>
{% endblock %}


