{% extends "voc2_fr.j2" %}

{% block summary %}
<p>Il s’agit d’un exemple de vocabulaire pour tester comment les associations sont traitées dans la spécification.</p>
<p>Dans cette version, <b>des étiquettes de nom ont été ajoutées à toutes les classes (y compris les classes d’association), les associations et les rôles par rapport à</b> la version originale.</p>
<p>Pour les rôles, un « H » (avec une lettre majuscule) a également été ajouté à l’étiquette nominative au début à titre de test.</p>
{% endblock %}

{% block status %}
<p>Il doit s’agir du texte d’état.</p>
{% endblock %}


