{% extends "ap2_fr.j2" %}

{% block summary %}
<p>Le profil d’application OSLO-Patrimoine culturel, un profil sur le vocabulaire <a href="https://data.vlaanderen.be/ns/cultureel-erfgoed">OSLO-Patrimoine culturel</a>, explique comment la terminologie du patrimoine culturel doit être utilisée pour échanger des données sur les objets du patrimoine culturel.</p>
<p>Par patrimoine, nous entendons à la fois le patrimoine matériel (mobilier et immobilier) et le patrimoine immatériel. Il peut donc s’agir de collections muséales, d’objets matériels tels que des peintures, des livres, des bâtiments, des monuments, des paysages ; les aspects intangibles de ces objets tels que le texte, l’image, le fichier, mais aussi l’idée qu’ils expriment ; patrimoine immatériel tel que les traditions, les coutumes, l’artisanat.</p>
<p>Les événements ou les activités qui se déroulent dans le cadre du patrimoine sont traités dans un profil d’application différent, à savoir dans <a href="https://data.vlaanderen.be/doc/applicatieprofiel/cultureel-erfgoed-event">OSLO-CulturalHeritage-event</a>. Il s’agit des Représentations ou de la Création/Production d’objets patrimoniaux ou de leur gestion (Acquisition, Conservation, Enlèvement, Mesure, Classement, etc.). Dans le profil d’application OSLO-CulturalHeritage-object, nous considérons les événements au plus du point de vue d’un objet patrimonial.</p>
<p>Au cœur du profil d’application OSLO-CulturalHeritage-object se trouvent la collection organisée et les objets fabriqués par l’homme qui en font partie. La culture est, par définition, quelque chose d’artificiel et généralement ce qui est considéré comme du patrimoine est soigneusement géré et préservé (curated). Nous avons également inclus des caractéristiques artificielles dans le profil pour distinguer les objets plus ou moins séparés (par exemple, une peinture ou un livre) et les objets qui sont intégrés à leur environnement (par exemple, une peinture rupestre ou un canal).</p>
<p>Dans le profil d’application OSLO-CulturalHeritage-Object, il y a également de la place pour les objets immatériels tels que les textes, les images, les diagrammes et les enregistrements (respectivement Objets linguistiques, Éléments visuels, Dessins ou modèles ou procédures et Documents). Cela permet, par exemple, d’écrire un texte séparément de son support ou, par exemple, un fichier informatique séparément du support de stockage.</p>
<p>C’est une chose de pouvoir lier le texte d’un livre à une copie de livre dans une bibliothèque. Il est encore mieux de pouvoir documenter la relation entre un texte et sa traduction. Ou de pouvoir faire référence aux chansons individuelles d’un album. Pour cette raison, les classes Work et Expression ont été ajoutées au modèle. Une œuvre peut être dérivée d’une autre œuvre (cf. la traduction du livre) ou peut inclure des expressions d’autres œuvres (cf. les chansons de l’album).</p>
<p>Le travail et l’expression ont été davantage spécialisés. En plus d’une œuvre autonome ordinaire (IndividueelWerk), il existe des « conteneurs » avec des expressions d’autres œuvres : le travail d’agrégation pour les œuvres collectives, le travail de publication pour une publication avec du texte et des photos et le travail de performance pour le théâtre ou la danse qui montre du texte, du mouvement et de la musique, etc. à un public. Il existe également les catégories Œuvre d’enregistrement (pour les enregistrements au moyen d’images et de sons animés ou non en mouvement) et Œuvre en série (une œuvre de publication publiée périodiquement). L’intégrateur ultime est ComplexWerk pour les œuvres qui se composent d’autres œuvres (par exemple, Het Verdriet van België en néerlandais et sa traduction en français).</p>
<p>Les objets décrits dans le profil de l’application OSLO-CulturalHeritage-object peuvent être soumis à certains droits, par exemple la propriété ou le droit d’auteur. Le cours de droit décrit le type de droits en cause. Et bien sûr, il est possible de spécifier les ayants droit. Pour la propriété, il existe un raccourci pour cela : l’association « propriétaire » entre un objet et un Agent (Personne ou Organisation).</p>
<p>Une loi peut être appliquée à des choses qui prennent une forme concrète, mais pas à une idée. Cela signifie qu’il n’y a aucun droit sur une instance d’Œuvre (définition : « idée ou combinaison d’idées derrière une Expression artistique ou intellectuelle ») mais sur le texte, l’image ou le son dans lequel l’idée est exprimée. Les objets matériels tels que les peintures ou les monuments peuvent également faire l’objet d’un droit.</p>
<p>Il est possible de spécifier la base juridique sur laquelle un droit particulier est fondé.</p>
<p>Les classes du profil d’application d’objet OSLO-Patrimoine culturel sont des spécialisations de la classe abstraite Entité et héritent de caractéristiques telles que l’identifiant, la description ou le type. Les associations entre entités peuvent également être décrites de cette manière, par exemple pour indiquer quel événement est représenté dans un tableau ou pour indiquer clairement de quelle œuvre d’art une photographie a été prise.</p>
<p>Chaque classe possède des attributs qui décrivent plus en détail ses instances, par exemple l’emplacement d’un objet fabriqué par l’homme. Certains d’entre eux sont le résultat d’événements qui se sont déroulés sur l’objet, par exemple l’emplacement d’un tableau après son achat par un musée. Il est possible de se référer à ces événements, une description plus complète (par exemple, qui a réalisé cette peinture et quand) est donnée dans le profil d’application OSLO-CulturalErfgoed-event.</p>
{% endblock %}


