{% extends "ap2_en.j2" %}

{% block summary %}
<p>The OSLO-CulturalHeritage-event application profile, a profile on the <a href="https://data.vlaanderen.be/ns/cultureel-erfgoed">OSLO-CulturalHeritage-vocabulary</a>, explains how Cultural Heritage terminology should be used to exchange data about Cultural Heritage events.</p>
<p>Given the importance of heritage objects such as paintings, monuments, texts, sculptures, etc., information about the activities related to them is also relevant, e.g. where and when and by whom the objects were created or produced. Or by whom and when they were purchased or taken into custody, what condition they are in now or once were, and how and by whom this condition was determined. Finally, events themselves can also be Heritage such as carnival or a procession.</p>
<p>The objects to which these activities relate are dealt with in a different application profile, namely in <a href="https://data.vlaanderen.be/doc/applicatieprofiel/cultureel-erfgoed-object">OSLO-Cultural Heritage object</a>. This concerns matters such as Man-made Objects or Features, Curated Collections, Information Objects such as Documents, Visual Items, Language Objects or Expressions of Works such as Recordings or Publications. In the OSLO-CulturalHeritage-event application profile, we look at these objects from the point of view of a Heritage event.</p>
<p>Almost all classes in the OSLO-Cultural Heritage event application profile are subclasses of Activity. An Activity is a subclass of an Event, an Event is something that takes place at a certain time and in a certain place and that produces an effect: e.g. a birth, a meeting, a war. If that effect is deliberately caused by a human being, then we speak of an Activity.</p>
<p>Creation and Production (respectively the making of an intangible object such as a text or a document and the production of a material object such as a painting or a sculpture) are important activities because they allow to describe by whom, when and where a heritage object was made.</p>
<p>It is possible to subtype these activities, e.g. Creation as a Conception event when the activity concerns the conception of a Work or as a Publication event when the work consists of expressions of other works (e.g. texts and photographs) and is distributed to a large audience (e.g. in book form or on the web).</p>
<p>Expression events such as a Publication or a Recording Session always produce something material (e.g. a printed book or a downloadable music stream), i.e. it is both a Creation and a Production event.</p>
<p>A Production event is a subtype of Modification, e.g. producing a painting comes down to modifying existing material (i.e. applying paint to canvas). But the possibilities of Modification are broader, e.g. the subclass AddingPart allows to describe the event in which an object was added to a collection.</p>
<p>Other subclasses of Activity relate to the management of tangible heritage objects. For example, there are the classes Acquisition and Conservation to describe the activity in which the ownership and management of an object is transferred, e.g. when a work of art is purchased by a museum. Usually, the location of the purchased object also changes and to describe this we use the Moving event. The idea of expanding the collection with a purchase can be classified as a Curation event.</p>
<p>An important class is Award. Subclasses of these are Measurement, Classification, and Condition Assessment. These are respectively intended to describe the activity in which a heritage object is measured (in the broad sense, e.g. height and width but also monetary value), classified (e.g. according to style or period) or where the condition of the object is determined. The result of these activities can be stored with the object (see attributes such as dimension, type and state) but the added value of the corresponding events lies in metadata such as the moment, place and executor of the activity and also in the history (e.g. if two consecutive condition assessments show that the state of the object has deteriorated).</p>
<p>The events can also be looked at from the point of view of an Agent, e.g. in which Creation events he was involved (and thus which heritage objects he created). Or in which purchase transactions he has acquired which objects.</p>
<p>Classes in the OSLO-Cultural Heritage event application profile are specializations of the abstract class Entity and inherit characteristics such as identifier, description or type of inheritance from it.</p>
<p>Of course, each class has attributes that further describe its instances, e.g. the Location to which a heritage object has been moved or the type assigned to an object in a Classification event. How the objects themselves can be described in more detail is explained in the application profile OSLO-Cultural Heritage Object.</p>
{% endblock %}


