{% extends "ap2_de.j2" %}

{% block summary %}
<p>Das Anwendungsprofil OSLO-CulturalHeritage-event, ein Profil zum <a href="https://data.vlaanderen.be/ns/cultureel-erfgoed">OSLO-CulturalHeritage-Vokabular</a>, erklärt, wie die Terminologie des Kulturerbes für den Austausch von Daten über Kulturerbe-Veranstaltungen verwendet werden sollte.</p>
<p>Angesichts der Bedeutung von Kulturgütern wie Gemälden, Denkmälern, Texten, Skulpturen usw. sind auch Informationen über die damit verbundenen Aktivitäten relevant, z. B. wo, wann und von wem die Objekte geschaffen oder hergestellt wurden. Oder von wem und wann sie gekauft oder in Gewahrsam genommen wurden, in welchem Zustand sie sich jetzt oder einmal befinden und wie und von wem dieser Zustand festgestellt wurde. Schließlich können auch Veranstaltungen selbst Kulturerbe sein, wie z. B. Karneval oder eine Prozession.</p>
<p>Die Objekte, auf die sich diese Aktivitäten beziehen, werden in einem anderen Anwendungsprofil behandelt, nämlich im <a href="https://data.vlaanderen.be/doc/applicatieprofiel/cultureel-erfgoed-object">Objekt OSLO-Kulturerbe</a>. Dabei geht es um Themen wie von Menschenhand geschaffene Objekte oder Merkmale, kuratierte Sammlungen, Informationsobjekte wie Dokumente, Bildgegenstände, Sprachobjekte oder Ausdrucksformen von Werken wie Tonträger oder Publikationen. Im Anwendungsprofil OSLO-Kulturerbe-event betrachten wir diese Objekte aus der Sicht einer Kulturerbe-Veranstaltung.</p>
<p>Fast alle Klassen im Anwendungsprofil OSLO-Kulturerbe sind Unterklassen von Activity. Eine Aktivität ist eine Unterklasse eines Ereignisses, ein Ereignis ist etwas, das zu einer bestimmten Zeit und an einem bestimmten Ort stattfindet und eine Wirkung hervorruft: z.B. eine Geburt, eine Begegnung, ein Krieg. Wenn dieser Effekt absichtlich von einem Menschen herbeigeführt wird, dann sprechen wir von einer Aktivität.</p>
<p>Kreation und Produktion (bzw. die Herstellung eines immateriellen Objekts wie eines Textes oder eines Dokuments bzw. die Herstellung eines materiellen Objekts wie eines Gemäldes oder einer Skulptur) sind wichtige Tätigkeiten, da sie es ermöglichen, zu beschreiben, von wem, wann und wo ein Kulturerbeobjekt hergestellt wurde.</p>
<p>Es ist möglich, diese Aktivitäten zu unterteilen, z. B. Schöpfung als Konzeptionsereignis, wenn es sich um die Konzeption eines Werkes handelt, oder als Veröffentlichungsereignis, wenn das Werk aus Ausdrücken anderer Werke (z. B. Texte und Fotografien) besteht und an ein großes Publikum (z. B. in Buchform oder im Internet) verbreitet wird.</p>
<p>Ausdrucksereignisse wie eine Veröffentlichung oder eine Aufnahmesitzung erzeugen immer etwas Materielles (z.B. ein gedrucktes Buch oder einen herunterladbaren Musikstream), d.h. es handelt sich sowohl um ein Erstellungs- als auch um ein Produktionsereignis.</p>
<p>Ein Produktionsereignis ist eine Unterart von Änderung, z. B. geht es bei der Herstellung eines Gemäldes darum, vorhandenes Material zu modifizieren (d. h. Farbe auf die Leinwand aufzutragen). Die Möglichkeiten der Modifikation sind jedoch breiter, z.B. erlaubt die Unterklasse AddingPart, das Ereignis zu beschreiben, in dem ein Objekt zu einer Sammlung hinzugefügt wurde.</p>
<p>Weitere Unterklassen der Tätigkeit beziehen sich auf die Verwaltung von Objekten des materiellen Kulturerbes. So gibt es zum Beispiel die Klassen Erwerb und Konservierung, um die Tätigkeit zu beschreiben, bei der das Eigentum und die Verwaltung eines Objekts übertragen wird, z.B. wenn ein Kunstwerk von einem Museum erworben wird. In der Regel ändert sich auch der Standort des gekauften Objekts und um dies zu beschreiben, verwenden wir das Moving-Ereignis. Die Idee, die Sammlung durch einen Kauf zu erweitern, kann als Kurationsveranstaltung eingestuft werden.</p>
<p>Eine wichtige Klasse ist die Auszeichnung. Unterklassen davon sind Messung, Klassifizierung und Zustandsbewertung. Diese sollen jeweils die Tätigkeit beschreiben, bei der ein Kulturerbe vermessen (im weiteren Sinne, z.B. Höhe und Breite, aber auch Geldwert), klassifiziert (z.B. nach Stil oder Epoche) oder wo der Zustand des Objekts bestimmt wird. Das Ergebnis dieser Aktivitäten kann mit dem Objekt gespeichert werden (siehe Attribute wie Dimension, Typ und Zustand), aber der Mehrwert der entsprechenden Ereignisse liegt in Metadaten wie Zeitpunkt, Ort und Ausführender der Aktivität und auch in der Historie (z.B. wenn zwei aufeinanderfolgende Zustandsbewertungen zeigen, dass sich der Zustand des Objekts verschlechtert hat).</p>
<p>Die Ereignisse können auch aus der Sicht eines Agenten betrachtet werden, z.B. an welchen Schöpfungsereignissen er beteiligt war (und somit welche Kulturerbeobjekte er geschaffen hat). Oder in welchen Kaufgeschäften er welche Objekte erworben hat.</p>
<p>Klassen im Anwendungsprofil OSLO-Kulturerbe sind Spezialisierungen der abstrakten Klasse Entität und erben von ihr Merkmale wie Kennung, Beschreibung oder Art der Vererbung.</p>
<p>Natürlich verfügt jede Klasse über Attribute, die ihre Instanzen weiter beschreiben, z. B. den Ort, an den ein Heritage-Objekt verschoben wurde, oder den Typ, der einem Objekt in einem Klassifizierungsereignis zugewiesen wurde. Wie die Objekte selbst näher beschrieben werden können, wird im Anwendungsprofil OSLO-Cultural Heritage Object erläutert.</p>
{% endblock %}


