{% extends "ap2_de.j2" %}

{% block summary %}
<p>Das Anwendungsprofil OSLO Soil & Subsurface Interpretations erläutert, wie die Terminologie aus dem entsprechenden <a href="https://data.vlaanderen.be/ns/bodem-en-ondergrond/interpretaties/">Vokabular</a> verwendet werden sollte, um Daten über spezialisierte Beobachtungen der Art der Interpretation in Bezug auf Boden & Untergrund auszutauschen.</p>
<p>Das Anwendungsprofil baut unter anderem auf dem Anwendungsprofil <a href="https://data.vlaanderen.be/doc/applicatieprofiel/sensoren-en-bemonstering">OSLO Sensors and Sampling</a> auf. </p>
<p>Interpretationen sind Beobachtungen, die ein persönliches oder begründetes Urteil beinhalten. Dieses Urteil basiert auf theoretischem Wissen und/oder der Verarbeitung anderer Beobachtungen. </p>
<p>Im Zusammenhang mit Boden und Untergrund geht es oft um Interpretationen der Schichtung: stratigraphische oder lithologische Eigenschaften der Schichten oder anthropogene oder geotechnische Schichten, die unterschieden werden können. Dieses Anwendungsprofil konzentriert sich auf solche Interpretationen, aber auch andere Arten von Beobachtungen können als Interpretationen klassifiziert werden.</p>
<p>Wie sich die Schichtung mit der Tiefe verändert, wird anhand von Spatial Ranges beschrieben, d.h. einer Geometrie (Tiefe von-bis) und einem Wert mit den Eigenschaften der Schicht pro Schicht. </p>
<p>Diese Eigenschaften hängen von der Art der Schicht ab. Es geht z.B. um die Art des Bodens, die geologische Formation, die Wasserauskleidung usw. Sie werden in der Regel mit Hilfe von Werten aus einer Codeliste beschrieben. </p>
<p>Wie oben erwähnt, können die Eingaben für die Interpretationen andere Beobachtungen sein, z.B. generische Beobachtungen, die mit dem Anwendungsprofil Sensoren und Probenahme beschrieben werden, oder spezifischere Beobachtungen wie die aus dem <a href="https://data.vlaanderen.be/doc/applicatieprofiel/bodem-en-ondergrond/observaties">Anwendungsprofil OSLO Boden- und Untergrundbeobachtungen</a> oder aus dem <a href="https://data.vlaanderen.be/doc/applicatieprofiel/bodem-en-ondergrond/sonderingen">Anwendungsprofil OSLO CPTs</a>. </p>
<p>Die Klassen Observation Procedure und Input können verwendet werden, um auf diese anderen Beobachtungen zu verweisen. </p>
{% endblock %}
