{% extends "ap2_fr.j2" %}

{% block summary %}
<p>Ce profil d’application permet de décrire la participation culturelle, la participation à une activité et peut être utilisé, par exemple, pour le programme « Goal-Oriented Digital Transformation ».</p>
<p>Une activité est une action qui est délibérément réalisée par un agent dans l’intention de produire un effet culturel, social ou matériel. Dans ce profil d’application, nous faisons référence à cet Agent en tant que Réalisateur qui peut être une Personne ou une Organisation.</p>
<p>Une activité peut être suivie par un participant. Cette relation s’appelle une participation. Une transaction et un billet peuvent alors y être liés. Des commentaires peuvent également être donnés sur la participation.</p>
<p>Pour le participant à une activité, un profil de participant générique ou personnel peut être échangé dans lequel sont contenues les questions relatives à la participation culturelle, aux caractéristiques générales et sociodémographiques.</p>
<p>Le Réalisateur propose l’Activité et peut effectuer la Promotion par le biais d’un Canal. Cette classe peut être spécifiée davantage dans l’Organisateur.</p>
<p>À propos de l’activité, il y a des informations sur quelle chose est réalisée et par quel entrepreneur, mais aussi sur les informations sur les prix et les informations sur la réservation.</p>
<p>Le profil d’application réutilise les termes et la façon dont ils sont appliqués à partir de la 
profil d’application <a href="https://data.vlaanderen.be/standaarden/kandidaat-standaard/applicatieprofiel-organisatie-basis.html">OSLO-Organization</a>, 
<a href="https://data.vlaanderen.be/standaarden/erkende-standaard/applicatieprofiel-cultureel-erfgoed-event.html">OSLO-Patrimoine Culturel :Evénement</a> et 
<a href="https://data.vlaanderen.be/standaarden/erkende-standaard/applicatieprofiel-cultureel-erfgoed-object.html">OSLO-CulturalHeritage :Objet</a>, 
<a href="https://data.vlaanderen.be/standaarden/kandidaat-standaard/applicatieprofiel-persoon-basis.html">Personne OSLO</a>, 
<a href="https://data.vlaanderen.be/standaarden/standaard-in-ontwikkeling/vocabularium-en-applicatieprofiel-oslo-consent.html">OSLO-Consent</a>, 
<a href="https://data.vlaanderen.be/standaarden/kandidaat-standaard/applicatieprofiel-besluit-subsidies.html">Bourse OSLO</a> et 
<a href="https://data.vlaanderen.be/standaarden/kandidaat-standaard/applicatieprofiel-feitelijke-verenigingen.html">OSLO-ActualAssociation</a>.</p>
<p>Une description plus formelle des termes peut être trouvée dans le vocabulaire OSLO-Cultural Participation.</p>
{% endblock %}

{% block status %}
<p>Ce profil d’application a le statut <a href="https://data.vlaanderen.be/id/concept/StandaardStatus/ErkendeStandaard">Norme reconnue</a> et a été publié le 2023-05-11.</p>
<p>Des informations sur le processus suivi et les décisions prises pour parvenir à cette spécification sont disponibles dans le <a href="https://data.vlaanderen.be/standaarden/kandidaat-standaard/applicatieprofiel-en-vocabularium-cultuurparticipatie.html">Registre des normes</a>.</p>
{% endblock %}
