{% extends "ap2_de.j2" %}

{% block summary %}
<p>Dieses Anwendungsprofil ermöglicht es, die kulturelle Teilhabe, die Teilnahme an einer Aktivität zu beschreiben und kann z.B. für das Programm 'Zielorientierte Digitale Transformation' verwendet werden.</p>
<p>Eine Aktivität ist eine Handlung, die von einem Agenten absichtlich mit der Absicht ausgeführt wird, einen kulturellen, sozialen oder materiellen Effekt hervorzurufen. In diesem Anwendungsprofil bezeichnen wir diesen Agenten als Realisierer, bei dem es sich um eine Person oder eine Organisation handeln kann.</p>
<p>An einer Aktivität kann ein Teilnehmer teilnehmen. Diese Beziehung wird als Partizipation bezeichnet. An diesen können dann eine Transaktion und ein Ticket angeknüpft werden. Es kann auch Feedback zur Teilnahme gegeben werden.</p>
<p>Für den Teilnehmer an einer Aktivität kann ein generisches oder persönliches Teilnehmerprofil ausgetauscht werden, in dem Fragen der kulturellen Teilhabe, allgemeiner und soziodemografischer Merkmale enthalten sind.</p>
<p>Der Realisator bietet die Aktivität an und kann die Werbung über einen Kanal durchführen. Diese Klasse kann weiter für Organizer angegeben werden.</p>
<p>Über die Aktivität gibt es Informationen darüber, welche Sache von welchem Auftragnehmer ausgeführt wird, aber auch über die Preisinfo und die Buchungsinfo.</p>
<p>Das Anwendungsprofil verwendet Begriffe und die Art und Weise, wie sie aus dem 
Anwendungsprofil <a href="https://data.vlaanderen.be/standaarden/kandidaat-standaard/applicatieprofiel-organisatie-basis.html">OSLO-Organisation</a>, 
<a href="https://data.vlaanderen.be/standaarden/erkende-standaard/applicatieprofiel-cultureel-erfgoed-event.html">OSLO-Kulturerbe:Veranstaltung</a> und 
<a href="https://data.vlaanderen.be/standaarden/erkende-standaard/applicatieprofiel-cultureel-erfgoed-object.html">OSLO-Kulturerbe:Objekt</a>, 
<a href="https://data.vlaanderen.be/standaarden/kandidaat-standaard/applicatieprofiel-persoon-basis.html">OSLO Person</a>, 
<a href="https://data.vlaanderen.be/standaarden/standaard-in-ontwikkeling/vocabularium-en-applicatieprofiel-oslo-consent.html">OSLO-Einwilligung</a>, 
<a href="https://data.vlaanderen.be/standaarden/kandidaat-standaard/applicatieprofiel-besluit-subsidies.html">OSLO Grant</a> und 
<a href="https://data.vlaanderen.be/standaarden/kandidaat-standaard/applicatieprofiel-feitelijke-verenigingen.html">OSLO-ActualAssociation</a>.</p>
<p>Eine formellere Beschreibung der Begriffe findet sich im Vokabular der OSLO-Kulturpartizipation.</p>
{% endblock %}

{% block status %}
<p>Dieses Anwendungsprofil hat den Status <a href="https://data.vlaanderen.be/id/concept/StandaardStatus/ErkendeStandaard">Recognized Standard</a> und wurde am 11.05.2023 veröffentlicht.</p>
<p>Informationen über den angewandten Prozess und die Entscheidungen, um zu dieser Spezifikation zu gelangen, sind im Normenregister <a href="https://data.vlaanderen.be/standaarden/kandidaat-standaard/applicatieprofiel-en-vocabularium-cultuurparticipatie.html">verfügbar.</a></p>
{% endblock %}
