{% extends "ap2_fr.j2" %}

{% block summary %}
<p>Le profil d’application OSLO-CulturalHeritage-event, un profil sur le <a href="https://data.vlaanderen.be/ns/cultureel-erfgoed">vocabulaire OSLO-CulturalHeritage,</a> explique comment la terminologie du patrimoine culturel doit être utilisée pour échanger des données sur les événements du patrimoine culturel.</p>
<p>Compte tenu de l’importance des objets patrimoniaux tels que les peintures, les monuments, les textes, les sculptures, etc., il est également pertinent d’obtenir des informations sur les activités qui s’y rapportent, par exemple où, quand et par qui les objets ont été créés ou produits. Ou par qui et quand ils ont été achetés ou mis en détention, dans quel état ils se trouvent maintenant ou ont été, et comment et par qui cette condition a été déterminée. Enfin, les événements eux-mêmes peuvent également être du patrimoine comme un carnaval ou une procession.</p>
<p>Les objets auxquels ces activités se rapportent sont traités dans un profil d’application différent, à savoir dans <a href="https://data.vlaanderen.be/doc/applicatieprofiel/cultureel-erfgoed-object">l’objet OSLO-Patrimoine culturel</a>. Il s’agit de questions telles que les objets ou caractéristiques artificiels, les collections organisées, les objets d’information tels que les documents, les éléments visuels, les objets linguistiques ou les expressions d’œuvres telles que les enregistrements ou les publications. Dans le profil d’application OSLO-CulturalHeritage-event, nous examinons ces objets du point de vue d’un événement patrimonial.</p>
<p>Presque toutes les classes du profil d’application d’événement OSLO-Patrimoine culturel sont des sous-classes d’activité. Une activité est une sous-classe d’un événement, un événement est quelque chose qui a lieu à un certain moment et à un certain endroit et qui produit un effet : par exemple, une naissance, une rencontre, une guerre. Si cet effet est délibérément causé par un être humain, alors on parle d’une Activité.</p>
<p>La création et la production (respectivement la réalisation d’un objet immatériel tel qu’un texte ou un document et la production d’un objet matériel tel qu’une peinture ou une sculpture) sont des activités importantes car elles permettent de décrire par qui, quand et où un objet patrimonial a été fabriqué.</p>
<p>Il est possible de sous-typer ces activités, par exemple la Création en tant qu’événement de Conception lorsque l’activité concerne la conception d’une œuvre ou en tant qu’événement de publication lorsque l’œuvre consiste en des expressions d’autres œuvres (par exemple, des textes et des photographies) et est distribuée à un large public (par exemple sous forme de livre ou sur le web).</p>
<p>Les événements d’expression tels qu’une publication ou une session d’enregistrement produisent toujours quelque chose de matériel (par exemple, un livre imprimé ou un flux musical téléchargeable), c’est-à-dire qu’il s’agit à la fois d’un événement de création et d’un événement de production.</p>
<p>Un événement de production est un sous-type de modification, par exemple, la production d’une peinture se résume à modifier un matériau existant (c’est-à-dire appliquer de la peinture sur une toile). Mais les possibilités de modification sont plus larges, par exemple la sous-classe AddingPart permet de décrire l’événement dans lequel un objet a été ajouté à une collection.</p>
<p>D’autres sous-classes d’activités concernent la gestion des objets du patrimoine matériel. Par exemple, il existe les classes Acquisition et conservation pour décrire l’activité dans laquelle la propriété et la gestion d’un objet sont transférées, par exemple lorsqu’une œuvre d’art est achetée par un musée. Habituellement, l’emplacement de l’objet acheté change également et pour décrire cela, nous utilisons l’événement Moving. L’idée d’élargir la collection avec un achat peut être classée comme un événement de curation.</p>
<p>Une classe importante est le prix. Des sous-classes de ceux-ci sont la mesure, la classification et l’évaluation de l’état. Ceux-ci sont respectivement destinés à décrire l’activité au cours de laquelle un objet patrimonial est mesuré (au sens large, par exemple la hauteur et la largeur mais aussi la valeur monétaire), classé (par exemple selon le style ou l’époque) ou où l’état de l’objet est déterminé. Le résultat de ces activités peut être stocké avec l’objet (voir attributs tels que la dimension, le type et l’état), mais la valeur ajoutée des événements correspondants réside dans les métadonnées telles que le moment, le lieu et l’exécuteur de l’activité ainsi que dans l’historique (par exemple, si deux évaluations de condition consécutives montrent que l’état de l’objet s’est détérioré).</p>
<p>Les événements peuvent également être examinés du point de vue d’un agent, par exemple dans quels événements de la Création il a été impliqué (et donc quels objets patrimoniaux il a créés). Ou dans quelles opérations d’achat il a acquis quels objets.</p>
<p>Les classes du profil d’application d’événement OSLO-Patrimoine culturel sont des spécialisations de la classe abstraite Entité et héritent de caractéristiques telles que l’identifiant, la description ou le type d’héritage de celle-ci.</p>
<p>Bien sûr, chaque classe possède des attributs qui décrivent plus précisément ses instances, par exemple l’emplacement vers lequel un objet patrimonial a été déplacé ou le type attribué à un objet lors d’un événement de classification. La manière dont les objets eux-mêmes peuvent être décrits plus en détail est expliquée dans le profil de candidature OSLO-Objet du patrimoine culturel.</p>
{% endblock %}


