{% extends "ap2_de.j2" %}

{% block summary %}
<p>Das Anwendungsprofil OSLO-Cultural Heritage object, ein Profil zum <a href="https://data.vlaanderen.be/ns/cultureel-erfgoed">OSLO-Cultural</a> Heritage-Vokabular, erläutert, wie die Terminologie des Kulturerbes für den Austausch von Daten über Kulturerbeobjekte verwendet werden sollte.</p>
<p>Unter Kulturerbe verstehen wir sowohl materielles (bewegliches und unbewegliches) als auch immaterielles Erbe. Es kann sich also um Museumssammlungen handeln, um materielle Objekte wie Gemälde, Bücher, Gebäude, Denkmäler, Landschaften; die immateriellen Aspekte dieser Objekte wie der Text, das Bild, die Datei, aber auch die Idee, die durch sie ausgedrückt wird; immaterielles Erbe wie Traditionen, Bräuche, Handwerk.</p>
<p>Veranstaltungen oder Aktivitäten, die im Rahmen von Heritage stattfinden, werden in einem anderen Anwendungsprofil behandelt, nämlich in <a href="https://data.vlaanderen.be/doc/applicatieprofiel/cultureel-erfgoed-event">OSLO-CulturalHeritage-event</a>. Es handelt sich um Aufführungen oder die Schaffung/Produktion von Kulturgütern oder deren Verwaltung (Erwerb, Konservierung, Entfernung, Messung, Klassifizierung usw.). Im Anwendungsprofil OSLO-Kulturerbe-Objekt betrachten wir Ereignisse allenfalls aus der Sicht eines Kulturerbe-Objekts.</p>
<p>Im Mittelpunkt des Anwendungsprofils OSLO-CulturalHeritage-object stehen die Curated Collection und die dazu gehörenden künstlichen Objekte. Kultur ist per Definition etwas von Menschenhand Gemachtes, und in der Regel wird das, was als Kulturerbe gilt, sorgfältig verwaltet und bewahrt (kuratiert). Wir haben auch ManmadeCharacteristics in das Profil aufgenommen, um zwischen mehr oder weniger getrennten Objekten (z.B. einem Gemälde oder einem Buch) und Objekten, die in ihre Umgebung integriert sind (z.B. eine Höhlenmalerei oder ein Kanal), zu unterscheiden.</p>
<p>Im Anwendungsprofil OSLO-CulturalHeritage-Object ist auch Platz für immaterielle Objekte wie Texte, Bilder, Diagramme und Aufzeichnungen (bzw. Sprachobjekte, Visual Items, Designs oder Verfahren und Dokumente). So ist es z.B. möglich, einen Text getrennt von seinem Träger oder z.B. eine Computerdatei getrennt vom Speichermedium zu verfassen.</p>
<p>Es ist eine Sache, den Text eines Buches mit einer Buchkopie in einer Bibliothek verknüpfen zu können. Noch besser ist es, die Beziehung zwischen einem Text und seiner Übersetzung dokumentieren zu können. Oder um sich auf die einzelnen Songs eines Albums beziehen zu können. Aus diesem Grund wurden dem Modell die Work-Klasse und die Expression-Klasse hinzugefügt. Ein Werk kann von einem anderen Werk abgeleitet sein (vgl. die Übersetzung des Buches) oder Ausdrucksformen anderer Werke enthalten (vgl. die Lieder auf dem Album).</p>
<p>Arbeit und Ausdruck wurden weiter spezialisiert. Neben einem gewöhnlichen Einzelwerk (IndividueelWerk) gibt es "Container" mit Ausdrucksformen anderer Werke: Aggregationsarbeiten für z.B. kollektive Werke, Publikationsarbeiten für z.B. eine Publikation mit Text und Fotos und Performancearbeiten für z.B. Theater oder Tanz, die Text und Bewegung und Musik etc. einem Publikum zeigen. Daneben gibt es die Kategorien Recording Work (für Registrierungen mittels bewegtem oder unbewegtem Bild und Ton) und Serial Work (ein periodisch veröffentlichtes Publikationswerk). Der ultimative Integrator ist ComplexWerk für Werke, die aus anderen Werken bestehen (z. B. Het Verdriet van België auf Niederländisch und seine Übersetzung ins Französische).</p>
<p>Die im Anwendungsprofil OSLO-Kulturerbe-Objekt beschriebenen Objekte können bestimmten Rechten unterliegen, z.B. Eigentums- oder Urheberrechten. Die Law-Klasse beschreibt die Art der Rechte, um die es sich handelt. Und natürlich ist es möglich, die Rechteinhaber anzugeben. Für die Eigentümerschaft gibt es dafür eine Abkürzung: die Assoziation "Eigentümer" zwischen einem Objekt und einem Agenten (Person oder Organisation).</p>
<p>Ein Gesetz kann auf Dinge angewendet werden, die eine konkrete Form annehmen, aber nicht auf eine Idee. Das bedeutet, dass es keine Rechte an einer Instanz des Werks gibt (Definition: "Idee oder Kombination von Ideen hinter einem künstlerischen oder intellektuellen Ausdruck"), sondern an dem Text, Bild oder Ton, in dem die Idee ausgedrückt wird. Auch materielle Dinge wie Gemälde oder Denkmäler können einem Recht unterliegen.</p>
<p>Es ist möglich, die Rechtsgrundlage zu spezifizieren, auf der ein bestimmtes Recht beruht.</p>
<p>Klassen im Anwendungsprofil OSLO-Cultural Heritage object sind Spezialisierungen der abstrakten Klasse Entity und erben Merkmale wie Identifikator, Beschreibung oder Typ. Auch Assoziationen zwischen Entitäten können auf diese Weise beschrieben werden, z.B. um anzuzeigen, welches Ereignis in einem Gemälde abgebildet ist oder um deutlich zu machen, welches Kunstwerk fotografiert wurde.</p>
<p>Jede Klasse verfügt über Attribute, die Instanzen davon weiter beschreiben, z. B. den Standort eines von Menschen erstellten Objekts. Einige davon sind das Ergebnis von Ereignissen, die sich am Objekt abgespielt haben, z.B. der Standort eines Gemäldes, nachdem es von einem Museum erworben wurde. Es ist möglich, sich auf diese Veranstaltungen zu beziehen, eine genauere Beschreibung (z.B. wer dieses Bild wann angefertigt hat) finden Sie im Anwendungsprofil OSLO-CulturalErfgoed-event.</p>
{% endblock %}


