{% extends "voc2_de.j2" %}

{% block summary %}
<p>Das OSLO-Vokabular für Boden- und Untergrundbeobachtungen enthält Begriffe zur Beschreibung speziellerer Boden- und Untergrundbeobachtungen. </p>
<p>Dabei handelt es sich um Beobachtungen, die sich nicht generisch mit den Begriffen aus dem Vokabular <a href="https://data.vlaanderen.be/ns/sensoren-en-bemonstering/">OSLO Sensors and Sampling</a> beschreiben lassen. </p>
<p>Bei den betreffenden Beobachtungen handelt es sich um Analysen, die in der Regel in einem Labor mit Spezialgeräten durchgeführt werden, um die Kornverteilung oder geotechnische Eigenschaften von Bodenproben wie Kompressibilität, Permeabilität oder Scherfestigkeit zu bestimmen. </p>
<p>Dabei handelt es sich häufig um Spezialisierungen von Messreihen, d.h. das Ergebnis variiert in Abhängigkeit von einem anderen Parameter wie Belastung, Druck oder Korngröße. </p>
<p>Auch für Bohrlochmessungen wird ein Begriff angegeben. </p>
<p>Die Terminologie für die Bodenproben, auf denen die Analysen basieren, findet sich im Vokabular <a href="https://data.vlaanderen.be/ns/grondboringen/">OSLO Soil Drilling.</a> </p>
{% endblock %}
