{% extends "ap2_en.j2" %}

{% block summary %}
<p>The Groundwater Monitoring Network application profile explains how terminology in this domain should be used to exchange data on groundwater observations.</p>
<p>The application profile builds on <a href="https://data.vlaanderen.be/doc/applicatieprofiel/bodem-en-ondergrond/sensoren-en-bemonstering">the OSLO Sensors and Sampling application profile</a>, among other things.<p>This subdomain relates to the monitoring of groundwater level and quality.  </p>
<p>The level is measured in so-called monitoring wells, usually with open or closed piezometers placed in these wells. </p>
<p>Monitoring can be done manually or automatically with Sensors.  </p>
<p>The quality is determined by observing various quality parameters on Groundwater samples obtained in the Wells and the Piezometers. </p>
<p>The piezometers are organized in so-called Monitoring Networks. </p>
{% endblock %}
