{% extends "ap2_fr.j2" %}

{% block summary %}
<p>Le profil d’application OSLO Soil & Subsurface Interpretations explique comment la terminologie du <a href="https://data.vlaanderen.be/ns/bodem-en-ondergrond/interpretaties/">vocabulaire</a> correspondant doit être utilisée pour échanger des données sur des observations spécialisées du type d’interprétation concernant le sol et le sous-sol.</p>
<p>Le profil d’application s’appuie sur le profil d’application <a href="https://data.vlaanderen.be/doc/applicatieprofiel/sensoren-en-bemonstering">OSLO Sensors and Sampling</a>, entre autres. </p>
<p>Les interprétations sont des observations qui impliquent un jugement personnel ou raisonné. Ce jugement est basé sur des connaissances théoriques et/ou le traitement d’autres observations. </p>
<p>Dans le cadre du Sol et du Sous-sol, il s’agit souvent d’Interprétations de la stratification : caractéristiques stratigraphiques ou lithologiques des couches ou couches anthropiques ou géotechniques que l’on peut distinguer. Ce profil d’application se concentre sur ces interprétations, mais d’autres types d’observations peuvent également être classés comme interprétations.</p>
<p>La façon dont la stratification varie avec la profondeur est décrite à l’aide de plages spatiales, c’est-à-dire d’une géométrie (profondeur de-à) et d’une valeur avec les caractéristiques de la couche par couche. </p>
<p>Ces caractéristiques dépendent du type de couche. Par exemple, il s’agit du type de sol, de la formation géologique, du revêtement de l’eau, etc. Ils sont généralement décrits à l’aide de valeurs provenant d’une liste de codes. </p>
<p>Comme mentionné ci-dessus, les données d’entrée pour les interprétations peuvent être d’autres observations, par exemple des observations génériques décrites avec le profil d’application Capteurs et échantillonnage, ou des observations plus spécifiques telles que celles du <a href="https://data.vlaanderen.be/doc/applicatieprofiel/bodem-en-ondergrond/observaties">profil d’application OSLO Observations des sols et du sous-sol</a> ou du <a href="https://data.vlaanderen.be/doc/applicatieprofiel/bodem-en-ondergrond/sonderingen">profil d’application OSLO CPTs</a>. </p>
<p>Les classes Procédure d’observation et Entrée peuvent être utilisées pour faire référence à ces autres observations. </p>
{% endblock %}
