{% extends "ap2_fr.j2" %}

{% block summary %}
<p>Le profil d’application Observations des sols et du sous-sol explique comment la terminologie du <a href="https://data.vlaanderen.be/ns/bodem-en-ondergrond/observaties/">vocabulaire</a> correspondant doit être utilisée pour l’échange de données sur les observations spécialisées des sols et du sous-sol. </p>
<p>Le profil d’application s’appuie sur le profil d’application <a href="https://data.vlaanderen.be/doc/applicatieprofiel/sensoren-en-bemonstering">OSLO Sensors and Sampling</a>, entre autres. </p>
<p>Pour les observations génériques, par exemple celles de ce que l’on appelle la reconnaissance (type de sol, teneur en humus, masse volumétrique, etc.), les classes de capteurs et d’échantillonnage sont suffisantes. </p>
<p>Ce n’est pas le cas pour les observations de ce profil d’application qui se déroulent généralement dans un laboratoire avec un équipement spécialisé : détermination de la distribution des grains ou caractéristiques géotechniques telles que la perméabilité, la compressibilité ou la résistance au cisaillement. </p>
<p>Pour ces analyses, les classes et les caractéristiques nécessaires sont fournies, généralement des spécialisations de la classe Série de mesures, car le résultat varie avec un certain paramètre, par exemple la proportion d’un certain diamètre de grain dans un échantillon de sol ou la déformation d’un échantillon avec une pression croissante. </p>
<p>Les analyses se rapportent généralement à des échantillons de sol, mais pour la description de ceux-ci, nous nous référons au profil d’application Forage de sol. </p>
<p>Ce profil d’application ne concerne pas les interprétations, c’est-à-dire les observations qui impliquent un jugement personnel raisonné, qui sont traitées dans le <a href="https://data.vlaanderen.be/doc/applicatieprofiel/bodem-en-ondergrond/interpretaties">profil d’application OSLO Interprétations des sols et du sous-sol.</a></p>
{% endblock %}
