{% extends "voc2_en.j2" %}

{% block summary %}
<p>The Soil and Subsoil vocabulary adds terminology to the <a href="https://data.vlaanderen.be/ns/observaties-en-metingen">Observations and Measurements</a> and <a href="https://data.vlaanderen.be/ns/sensoren-en-bemonstering">Sensors and Sampling</a> vocabulary specifically for the Soil and Subsoil domain.</p>
<p>The terms are generic enough to be useful for multiple subdomains within Soil & Subsoil.</p>
<p>It concerns terms such as Depth, Ground level or an extension of Profile from Observations and Measurements with Profile Element and Low as a specialization.</p>
<p>Measurement series and fraction measurement as a specialization have also been added as a supplement to Discrete Ranges from Observations and Measurements. The latter are limited to variations of a phenomenon in time and space, while in this domain it must also be possible to describe variations in function of other parameters.</p>
<p>also some utilitarian classes have been added such as assignment and Acknowledgment.</p>
<p>In addition to Ranges that can document variations of phenomena in space and time, there was also a need for "ordinary" measurement series in the domain of Soil and Subsurface, where the phenomenon can be a function of an arbitrary parameter. For that reason, we added Measurement Series and the widely used Fraction Measurements specialization.</p>
{% endblock %}
