{% extends "voc2_en.j2" %}

{% block summary %}
<p>The Observations and Measurements vocabulary contains the terminology needed to describe Observations.</p>
<p>Most of it is external terminology based on <a href="https://www.iso.org/standard/32574.html">ISO 19156:2011 Observations & Measurements</a>.</p>
{% endblock %}
