{% extends "voc2_de.j2" %}

{% block summary %}
<p>Das Vokabular "Beobachtungen und Messungen" enthält die Terminologie, die zur Beschreibung von Beobachtungen erforderlich ist.</p>
<p>Das meiste davon ist externe Terminologie, die auf <a href="https://www.iso.org/standard/32574.html">ISO 19156:2011 Beobachtungen und Messungen</a> basiert.</p>
{% endblock %}
