{% extends "ap2_fr.j2" %}

{% block summary %}
<p>Le profil d’application Réseau de surveillance des eaux souterraines explique comment la terminologie de ce domaine doit être utilisée pour échanger des données sur les observations effectuées au moyen de CPT.</p>
<p>Le profil d’application <a href="https://data.vlaanderen.be/doc/applicatieprofiel/bodem-en-ondergrond/sensoren-en-bemonstering">s’appuie sur le profil d’application OSLO Sensors and Sampling</a>, entre autres.<p>Par CPT, nous entendons l’échantillonnage vertical du sol et du sous-sol en insérant une sonde dans le sol.   </p>
<p>Cette sonde mesure la variation en fonction de la profondeur de certaines caractéristiques du sol et du sous-sol, telles que la stratification, la capacité portante, la pollution, etc. </p>
<p>Les spécialisations de ce profil d’application se concentrent principalement sur un type particulier de CPT : des variantes du test de pénétration du cône (CPT) ou l’enfoncement d’un cône dans le sol dans lequel certaines caractéristiques du sol et du sous-sol peuvent être identifiées indirectement ou directement en cours de route  </p>
{% endblock %}
