{% extends "voc2_en.j2" %}

{% block summary %}
<p>This application profile serves as a representation of the step-by-step process of creating, processing and interpreting thermographic scans of buildings.</p>
<p>ThermAI focuses on using a vehicle equipped with a thermographic camera, the Thermocar, to scan building facades and identify areas of energy loss. This data is then processed to provide homeowners with targeted renovation advice. However, the current manual data processing is time-consuming and creates long waiting times for residents.</p>
<p>The interpretation can be done manually, but thanks to the use of AI, it can also be automated. This process, ThermAI, therefore paid special attention to this automation. This process was set up by the <a href="https://www.wvi.be/">West Flemish Intermunicipal Company (WVI)</a> and supported by the <a href="https://www.brugge.be/">City of Bruges</a>.</p> 
<p>In order to capture the actual Observation and associated information about the Observation Procedure, the Observable Feature, the Observation Collection and the Sensor, these classes were taken from the internationally recognized <a href="https://www.w3.org/TR/vocab-ssn/">Semantic Sensor Network Ontology (SSNO).</a> An Observation is always carried out with a Sensor, which has several subclasses. The subclasses, which are relevant for making thermographic scans, and were therefore newly defined for this route, are: Camera, GPS, and Setup. In addition, in order to capture information about the AI model used for the interpretation of the images, the MachineLearning Model class was also taken from <a href="https://semiceu.github.io/MLDCAT-AP/releases/2.0.0/">MLDCAT-AP.</a> This class is also seen as a subclass of Sensor in the model</p>
<p>It is important to understand that the Observation class is a representation of each step in the process, from the actual Measurement, to Classification, to Geometry Observation and the actual Interpretation. The first three subclasses have been taken from <a href="https://data.vlaanderen.be/doc/applicatieprofiel/observaties-en-metingen/">OSLO Observations and Measurements</a>, while Interpretation has been newly defined in this trajectory.</p>
<p>The Observation itself was modeled at the highest possible level, using the class Any. This class itself is overarching to the Domain Object subclass, which indicates that the reservation in this model is always done on a fixed, non-moving object. This Domain Object is also the umbrella for the newly defined Video and Photo classes, as well as the reused Building, Building Unit, BIM_Gebouw and BIM_Element classes. These were taken from <a href="https://data.vlaanderen.be/ns/gebouw/">OSLO Building</a> and <a href="https://www.buildingsmart.org/standards/bsi-standards/industry-foundation-classes/">IFC</a> respectively. </p>
<p>Finally, a few classes have been added to the model, which can provide even more information about the Device, System, associated Deployment and the Platform on which this System is hosted. These classes all come from <a href="https://www.w3.org/TR/vocab-ssn/">Semantic Sensor Network Ontology (SSNO),</a> as well as the <a href="https://saref.etsi.org/core/v4.1.1/">Smart Applications REFerence ontology (SAREF).</a></p>
<p>Thanks to this semantic standard, the exchange between municipal and geographical systems, among others, is promoted and searchability and findability is facilitated.</p>
{% endblock %}
