{% extends "voc2_en.j2" %}

{% block summary %}
<p>The vocabulary "OSLO-Mobility: Trips and Offerings" defines terms that apply to (1) trips made by individuals and (2) the mobility services available to them for this purpose.</p>
<p>Of the trips, things are defined as the route followed, the services/resources/infrastructure used, the operator, the tickets purchased, passenger preferences and characteristics.</p>
<p>Mobility services include concepts such as the resources to be reserved by the passenger, the infrastructure available to the service, details of the provider and the operator, and the licences they hold.</p>
{% endblock %}
