{% extends "voc2_en.j2" %}

{% block summary %}
<p>The vocabulary "OSLO transport network" defines terms that apply to transport networks in general. It describes basic characteristics of a transport network such as the elements that make it up, e.g. transport nodes, links, zones, connections. The terms are intended to be specialized for describing transport networks with specific functions, e.g. road networks or railway networks. This vocabulary is based on the <a href="https://inspire.ec.europa.eu/Themes/115/2892">Data Specification on Transport Networks</a> of INSPIRE. It builds on the <a href="https://data.vlaanderen.be/ns/netwerk">OSLO Network</a> vocabulary.</p>
{% endblock %}
