{% extends "voc2_en.j2" %}

{% block summary %}
<p>The objective of this Vocabulary is to standardise the flow of information regarding the digitisation of the Death Declaration. This Vocabulary was developed as part of  <a href="https://www.vlaanderen.be/lokaal-bestuur/digitale-transformatie/gemeente-zonder-gemeentehuis/goedgekeurde-projecten/digitale-aangifte-overlijden-grootschalige-transformatie">Digital Declaration of Death</a>, a project within the Municipality without Town Hall programme. In doing so, the model tries to meet the information requirements as defined in the paper models IIIC & D, but also tries to break free from the limitations of a physical medium for this information.</p>

<p>The vocabulary reuses terms the following standards:</p>

<ul>  
  <li><a href="https://hl7.org/fhir/">FHIR</a></li>  
  <li><a href="https://data.vlaanderen.be/standaarden/kandidaat-standaard/vocabularium-persoon-basis.html">OSLO Person</a></li>  
  <li><a href="https://data.vlaanderen.be/standaarden/erkende-standaard/vocabularium-dienst-transactiemodel.html">OSLO Service Transaction Model</a></li>  
  <li><a href="https://semiceu.github.io/CCCEV/">CCCEV</a></li>  
</ul>  

<p>A Person can have a Death as a Person Event. This is linked to the State of Death. This falls under the more general heading of Medical Condition that can be derived from a Medical Observation. The Medical Observation is carried out by a Doctor and documented in a Medical Report. This, in turn, is an input and Evidence that is necessary for the Public Service around a Death. The Death Handling Service provides a Death Handling Document such as a death certificate. The concept of Wills was also included in the model where it will determine the Funeral and Residual Processing. Terms related to Death in a broad sense have been included in the Vocabulary for Death Registration. Terms that have to do with the health of a Person in a broader sense have been included in a specific extension to the Vocabulary of a Person under the heading of Vocabulary Health Status Person.</p>

<p>In view of the statistical post-processing that takes place, Sociodemographic Characteristics was also included. Also, due to the additional information needs defined within the Model IIID, information was included about Pregnancy, Birth and the derived information that comes with this.</p>

<p>Terms related to Death in a broad sense have been included in the Vocabulary for Death Registration. Terms that have to do with the health of a Person in a broader sense have been included in a specific extension to the Vocabulary of a Person under the heading of Vocabulary Health Status Person.</p>
{% endblock %}