{% extends "ap2_en.j2" %}

{% block summary %}
<p>This application profile makes it possible to describe cultural participation, the Participation in an Activity and can be used, for example, for the program 'Goal-Oriented Digital Transformation'.</p>
<p>An Activity is an Action that is deliberately performed by an Agent with the intention of producing a cultural, social or material effect. In this application profile, we refer to this Agent as a Realizer who can be a Person or Organization.</p>
<p>An Activity can be participated in by a Participant. This relationship is called a Participation. A Transaction and Ticket can then be linked to this. Feedback may also be given about the Participation.</p>
<p>For the Participant in an Activity, a generic or personal Participant Profile can be exchanged in which matters relating to Cultural Participation, General and Sociodemographic Characteristics are contained.</p>
<p>The Realisator offers the Activity and can carry out Promotion through a Channel. This class can be further specified to Organizer.</p>
<p>About the Activity there is information about which Thing is being carried out and by which Contractor, but also about the Price Info and Booking Info.</p>
<p>The application profile reuses terms and the way they are applied from the 
application profile <a href="https://data.vlaanderen.be/standaarden/kandidaat-standaard/applicatieprofiel-organisatie-basis.html">OSLO-Organization</a>, 
<a href="https://data.vlaanderen.be/standaarden/erkende-standaard/applicatieprofiel-cultureel-erfgoed-event.html">OSLO-CulturalHeritage:Event</a> and 
<a href="https://data.vlaanderen.be/standaarden/erkende-standaard/applicatieprofiel-cultureel-erfgoed-object.html">OSLO-CulturalHeritage:Object</a>, 
<a href="https://data.vlaanderen.be/standaarden/kandidaat-standaard/applicatieprofiel-persoon-basis.html">OSLO Person</a>, 
<a href="https://data.vlaanderen.be/standaarden/standaard-in-ontwikkeling/vocabularium-en-applicatieprofiel-oslo-consent.html">OSLO-Consent</a>, 
<a href="https://data.vlaanderen.be/standaarden/kandidaat-standaard/applicatieprofiel-besluit-subsidies.html">OSLO Grant</a> and 
<a href="https://data.vlaanderen.be/standaarden/kandidaat-standaard/applicatieprofiel-feitelijke-verenigingen.html">OSLO-ActualAssociation</a>.</p>
<p>A more formal description of the terms can be found in the OSLO-Cultural Participation vocabulary.</p>
{% endblock %}

{% block status %}
<p>This application profile has status <a href="https://data.vlaanderen.be/id/concept/StandaardStatus/ErkendeStandaard">Recognized Standard</a> and was released on 2023-05-11.</p>
<p>Information on the process followed and the decisions to arrive at this specification are available in the Register of <a href="https://data.vlaanderen.be/standaarden/kandidaat-standaard/applicatieprofiel-en-vocabularium-cultuurparticipatie.html">Standards</a>.</p>
{% endblock %}
