{% extends "voc2_fr.j2" %}

{% block summary %}
<p>Vocabulaire avec une association, avec ou sans classe d’association correspondante, qui doit pouvoir être descendu dans un profil d’application.</p>
{% endblock %}

{% block status %}
<p>Il doit s’agir du texte d’état.</p>
{% endblock %}
