{% extends "voc2_fr.j2" %}

{% block summary %}
<p>Il s’agit d’un exemple de vocabulaire pour tester comment les associations sont traitées dans la spécification.</p>
<p>C’est dans ce vocabulaire que se trouvent les associations entre les <b>... classes de base</b>.</p>
{% endblock %}

{% block status %}
<p>Il doit s’agir du texte d’état.</p>
{% endblock %}


