{% extends "ap2_fr.j2" %}

{% block summary %}
<p>Il s’agit d’un exemple de profil d’application permettant de tester la façon dont les associations sont traitées dans les spécifications.</p>
<p>Cet exemple se trouve <b>dans un package différent de celui où les associations ont été définies</b>. Ils sont <i>achetés</i> avec les classes participantes à partir de l’emballage d’origine.
  Étant donné que ce vocabulaire lui-même ne définit pas de termes supplémentaires, le contenu de la spécification résultante est <b>par définition vide</b>.</p>
{% endblock %}

{% block status %}
<p>Il doit s’agir du texte d’état.</p>
{% endblock %}


