{% extends "voc2_fr.j2" %}

{% block summary %}
<p>Il s’agit d’un exemple de vocabulaire pour tester comment les associations sont traitées dans la spécification.</p>
<p>Dans cet exemple <b>, la ou les classes participantes sont dans un package différent</b> pour chaque association.
  Nous voulons donc définir de nouvelles associations entre les classes existantes au sein de notre package.
  Les classes ont été fournies avec la balise package=MyOtherDomain, mais elles auraient tout aussi bien pu être des classes 'achetées' de MyOtherDomain...
  Les balises de package nécessaires ont été ajoutées aux associations et aux rôles, de sorte que tous les éléments générés se trouvent dans le package actuel (et non dans MyOtherDomain).</p>
<p>Si tout se passe bien, vous ne verrez pas l’URI de base de MyOtherDomain comme l’URI d’un élément défini dans le vocabulaire généré (mais comme Domain et Range).</p>
{% endblock %}

{% block status %}
<p>Il doit s’agir du texte d’état.</p>
{% endblock %}


