{% extends "ap2_fr.j2" %}

{% block summary %}
<p>Il s’agit d’un exemple de profil d’application permettant de tester la façon dont les associations sont traitées dans les spécifications.</p>
<p>Dans cette version <b>, des balises d’uri ont été ajoutées à toutes les associations, rôles et classes d’association par rapport à</b> la version d’origine.</p>
<p>De plus, <b>les uri uri-source-attribute et uri-target-attribute ont été ajoutés</b> aux classes d’association pour déterminer les uri des attributs de liaison générés.</p>
{% endblock %}

{% block status %}
<p>Il doit s’agir du texte d’état.</p>
{% endblock %}


