{% extends "voc2_en.j2" %}

{% block summary %}
<p>Fill in a summary of my vocabulary here.</p>
{% endblock %}

{% block status %}
<p>(Remove this block to make an automated default paragraph appear.)</p>
{% endblock %}
