{% extends "voc2_en.j2" %}

{% block summary %}
<p>The Sensors and Sampling vocabulary contains the terminology needed to describe the observation instruments used to perform Observations and also to document the activity of taking representative spatial or physical samples.</p>
<p>Most of it is external terminology based on the <a href="https://www.w3.org/TR/vocab-ssn/">W3C SSN Ontology</a> and <a href="https://www.w3.org/TR/vocab-ssn-ext/">extensions.</a> These build on terminology from <a href="https://www.iso.org/standard/32574.html">ISO 19156:2011 Observations & Measurements</a>. Furthermore, a class was reused from the <a href="https://saref.etsi.org/core/v3.1.1/">SAREF Ontology</a> to describe Aircraft.</p>
{% endblock %}
