{% extends "voc2_en.j2" %}

{% block summary %}
<p>The OSLO-Local Economy vocabulary defines terms that are applicable to exchange data about a local economy. More specifically, it is about visitor measurements, transactions and all factors in the environment that can have an impact on the local economy. The vocabulary provides an overview of the terminology used and the associated definitions.</p>
{% endblock %}

{% block status %}
<p>(Remove this block to make an automated default paragraph appear.)</p>
{% endblock %}
