{% extends "ap2_en.j2" %}

{% block summary %}
<p> This application profile includes the stimulation of (socially) desired behaviour via (digital) coins, points or other forms of reward. Subsequently, increasing participation by, among other things, allowing citizens, employees and students to participate in valuable actions. In addition, the local economy is stimulated by promoting more spending in their own region. Finally, there is also the development of a mechanism to circulate the (digital) coins, points or other forms of reward within the community as much as possible.</p>
<p>To illustrate the model, we will use the following example: "Stijn goes to the chiro party in Balen and takes a safe alcohol test on arrival. For this, Stijn will receive 3 <a href="https://www.balen.be/product/2594/sobercoins" target="_blank">Sobercoins.</a> at the chiro party that can be used up the same evening."  </p>
<p> A second example, this time of a completed model, can be found <a href="https://github.com/Informatievlaanderen/OSLOthema-incentiveringsplatform/blob/main/resources/OSLO-Incentiveringsplatform-Voorbeeld.pdf" target="_blank">via this link</a> . </p>
{% endblock %}
