{% extends "voc2_en.j2" %}

{% block summary %}
<p>This vocabulary collects the terms that are relevant to offer educational services and issue related credentials. The application profiles <a href="https://data.vlaanderen.be/doc/applicatieprofiel/leerinschrijfcredential/">Learning Enrolment Credential</a> and <a href="https://data.vlaanderen.be/doc/applicatieprofiel/leerprestatiecredential/">Learning Performance Credential</a> make reuse of this vocabulary. This vocabulary is based on the <a href="https://github.com/european-commission-empl/European-Learning-Model">European Learning Model</a>. ELM is based on the <a href="https://www.w3.org/TR/vc-data-model/">W3C Verifiable Credentials Data Model</a> in terms of credential exchange and validation.</p>
{% endblock %}
