{% extends "ap2_en.j2" %}

{% block summary %}
<p>The OSLO Mobility – Timetable and Planning: Time Tables application profile describes how to use the terms from the corresponding vocabulary to describe the network topology and timetable of a public transport network.</p>
<p>The standard is based on the EPIP profile on <a href="https://netex-cen.eu/">NETEX.</a></p>
<p>Use cases for this standard are: route planning, cartography (network plans), timetable and looking up stops/lines.</p>
<p>Public transport is typically offered in the form of Lines, which can be grouped according to the mode of transport (train, tram, bus, etc.) and are part of a Network. These Lines follow certain Routes in the field, the model allows to describe the direction and geometry of these Routes by means of Waypoints and connections between them, the Route Links.</p>
<p>Another part of the model describes the service offered by De Lijnen: the places where stops are made and the times at which stops are made.</p>
<p>A Line follows a so-called Ride Pattern, i.e. the sequence of Points that are visited by the Line. Its specialization, a Service Pattern, describes the sequence of Points where one actually stops. These are the so-called Planned Stopping Points: places where passengers can board or disembark. These logical stops can be linked to physical stops (class Stop) that are described separately in the application profile OSLO Mobility – Timetable and Planning: Stops.</p>
<p>For each point served by a Line or where passengers stop, Passage Times can be specified. These can be grouped by stop and then form the typical time tables that can be found there. They can also be arranged according to the Journey Pattern of a Line and then describe an individual Service Journey with the Arrival Times at the stops.</p>
<p>A specific Service Ride is not necessarily carried out on a daily basis, it may be limited to certain Day types, e.g. only on weekdays. The model allows to describe these Day Types and link them to actual dates (Operational Days) and periods (Operational Periods) in order to arrive at a complete Service Calendar.</p>
<p>Finally, we mention supporting classes, e.g. to indicate the parties that offer or carry out the transport (respectively the Authority and the Operator) or to describe Vehicle types and their Passenger capacity or a class that supports route planning (Service Trip Connection).</p>
{% endblock %}
