{% extends "voc2_fr.j2" %}

{% block summary %}
<p>Le vocabulaire OSLO Soil & Subsurface Observations comprend des termes pour décrire des observations plus spécialisées des sols et du sous-sol. </p>
<p>Il s’agit d’observations qui ne peuvent pas être décrites de manière générique avec les termes du vocabulaire <a href="https://data.vlaanderen.be/ns/sensoren-en-bemonstering/">OSLO Sensors and Sampling.</a> </p>
<p>Les observations en question sont des analyses qui ont généralement lieu dans un laboratoire doté d’un équipement spécialisé pour déterminer la distribution des grains ou les caractéristiques géotechniques des échantillons de sol telles que la compressibilité, la perméabilité ou la résistance au cisaillement. </p>
<p>Il s’agit souvent de spécialisations de séries de mesures, c’est-à-dire que le résultat varie en fonction d’un autre paramètre tel que la charge, la pression ou la taille des grains. </p>
<p>Un terme est également fourni pour les mesures de forage. </p>
<p>La terminologie des échantillons de sol sur lesquels se basent les analyses se trouve dans le vocabulaire <a href="https://data.vlaanderen.be/ns/grondboringen/">OSLO Soil Drilling.</a> </p>
{% endblock %}
