{% extends "impl_fr.j2" %}

{% block summary %}
<p>Remplissez un résumé de mon modèle de mise en œuvre ici.</p>
{% endblock %}

{% block status %}
<p>(Supprimez ce bloc pour faire apparaître un paragraphe par défaut automatique.)</p>
{% endblock %}
