{% extends "ap2_en.j2" %}

{% block summary %}
<p>The application profile "Digital Water Meter" describes how water consumption in Flanders is monitored with digital meters. These meters are equipped with sensors that record water consumption and provide information about the type, manufacturer, and status of the meter, among other things. The consumption data, consisting of observations of water consumption, provides insight into individual and aggregate consumption, as well as predicted consumption patterns. This profile provides a framework for collecting and sharing this data with third parties.</p>
{% endblock %}

