{% extends "ap2_en.j2" %}

{% block summary %}
<p>The Environmental Permit application profile builds on the Environmental Permit vocabulary. The vocabulary forms a standardized core conceptual framework for the environmental permit domain, the application profile establishes the main connections between these concepts.</p>
 
<p>Together with the vocabulary, this application profile should promote the exchange and interconnection (interoperability) of authorisation information, and contribute to a clear common understanding and the prevention of misunderstandings and miscommunication between stakeholders, including a variety of public authorities and the wider public.</p>
 
<p>The vocabulary and the application profile capture the legal core that forms the "backbone" of the environmental permit policy. In short, these are the legal acts and legal facts that produce and evolve the licensed situation, their legal-substantive significance with regard to acts and activities that are regulated under the environmental permit policy, and the various qualitative and spatial-temporal dimensions that form the main starting points for questioning and linking.</p>
 
<p>The vocabulary and the application profile leave the necessary room for ad-hoc expansion, combination with other vocabulary, and possible further, more focused standardization in the future.</p>
 
<p>The application profile is not focused on one specific application or use case, but is rather general in nature: it only contains connections that are inherent to the meaning of the included terms.<p>
{% endblock %}
