{% extends "ap2_en.j2" %}

{% block summary %}
<p>This application profile makes it possible to describe cultural and youth infrastructure and can be used to exchange infrastructure data.</p>
<p>As a central class, there is the Infrastructure that can be represented in a hierarchy by means of sub/super relationships. This Infrastructure can further specialize in matters such as a Building, Indoor or Outdoor Space.</p>
<p> An Activity or Thing may be linked to this Infrastructure. </p>

<p>Matters such as Ownership, Management, Use and Reservation are also described. </p>

<p> It also describes, among other things, what the Accessibility is, what the Accessibility is, etc. </p>

<p>The application profile reuses terms and the way they are applied from the 
application profile <a href="https://data.vlaanderen.be/doc/applicatieprofiel/organisatie-basis/">OSLO-Organization</a>, 
<a href="https://data.vlaanderen.be/doc/applicatieprofiel/cultureel-erfgoed-object">OSLO-CulturalHeritage:Object</a>, 
<a href="https://data.vlaanderen.be/doc/applicatieprofiel/persoon-basis/">OSLO Person</a>, 
<a href="https://purl.eu/doc/applicationprofile/consent/">OSLO-Consent</a>,  
<a href="https://data.vlaanderen.be/doc/applicatieprofiel/FeitelijkeVerenigingen/kandidaatstandaard/2021-06-22">OSLO Association, Actual</a>
<a href="https://data.vlaanderen.be/doc/applicatieprofiel/doelgericht-digitaal-transformeren">OSLO-Purpose-Driven Digital Transformation</a>,
<a href="https://data.vlaanderen.be/doc/applicatieprofiel/dienst-transactiemodel/">OSLO Service</a>,
<a href="https://data.vlaanderen.be/standaarden/standaard-in-ontwikkeling/applicatieprofiel-observaties-en-metingen.html">OSLO observations and measurements</a>,
<a href="https://data.vlaanderen.be/standaarden/kandidaat-standaard/applicatieprofiel-gebouwenregister.html">OSLO Building</a> and
<a href="https://data.vlaanderen.be/doc/applicatieprofiel/perceel/">OSLO Plot</a>.</p>

<p>A more formal description of the terms can be found in the vocabulary OSLO-Culture & Youth Infrastructure.</p>
{% endblock %}
