{% extends "voc2_fr.j2" %}

{% block summary %}
<p>Ce vocabulaire définit un certain nombre de termes pour décrire l’infrastructure de la culture et de la jeunesse.</p>

<p>Le profil d’application réutilise les termes et la façon dont ils sont appliqués à partir de la 
profil d’application <a href="https://data.vlaanderen.be/standaarden/kandidaat-standaard/applicatieprofiel-organisatie-basis.html">OSLO-Organization</a>, 
<a href="https://data.vlaanderen.be/standaarden/erkende-standaard/applicatieprofiel-cultureel-erfgoed-object.html">OSLO-CulturalHeritage :Objet</a>, 
<a href="https://data.vlaanderen.be/standaarden/kandidaat-standaard/applicatieprofiel-persoon-basis.html">Personne OSLO</a>, 
<a href="https://data.vlaanderen.be/standaarden/standaard-in-ontwikkeling/vocabularium-en-applicatieprofiel-oslo-consent.html">OSLO-Consent</a>, 
<a href="https://data.vlaanderen.be/standaarden/kandidaat-standaard/applicatieprofiel-besluit-subsidies.html">Bourse OSLO</a> et 
<a href="https://data.vlaanderen.be/standaarden/kandidaat-standaard/applicatieprofiel-feitelijke-verenigingen.html">OSLO Association, Réel</a>
<a href="https://data.vlaanderen.be/standaarden/standaard-in-ontwikkeling/applicatieprofiel-doelgericht-digitaal-transformeren.html">Transformation numérique axée sur les objectifs d’OSLO</a>,
<a href="https://data.vlaanderen.be/standaarden/erkende-standaard/applicatieprofiel-dienst-transactiemodel.html">Service OSLO</a>,
<a href="https://data.vlaanderen.be/standaarden/standaard-in-ontwikkeling/applicatieprofiel-observaties-en-metingen.html">Observations et mesures OSLO</a>,
<a href="https://data.vlaanderen.be/standaarden/kandidaat-standaard/applicatieprofiel-gebouwenregister.html">Édifice OSLO</a> et
<a href="https://data.vlaanderen.be/standaarden/erkende-standaard/applicatieprofiel-perceel.html">Complot d’OSLO</a>.</p>

{% endblock %}

{% block status %}

{% endblock %}
