{% extends "ap2_en.j2" %}

{% block summary %}
<p>REMARK:</p>
<p>This process was discontinued in consultation with the stakeholders in order to allow for further research into structured conditions. This standard is currently in the status that was developed after the second (or is it third) thematic working group. In other words, there is no approval of this standard.</p>
<p>The purpose of the OSLO Terms and Conditions Service application profile is to map, define and standardize information regarding conditions and supporting documents in order to be able to make use of a Public Service.</p>
<p>On the one hand, the model focuses on the conditions that are linked to a Public Service.</p>
<p>On the other hand, the evidence for the Public Service is also discussed.</p>
<p>The Public Service is linked to a Public Organisation. </p>
<p>An Agent can participate in various forms in a Public Service, this is described in Participation.</p>
<p>In order to comply with a Public Service, Conditions may be imposed.</p>
<p>These Terms and Conditions result in an Information Concept.</p>
<p>The concept contains the expected value to meet the Condition.</p>
<p>This expected value comes from the Supported Value, which in turn derives the value from the Evidence itself.</p>
<p>The Evidence must meet certain formal requirements set out in Evidence Type.</p>
<p>These Evidence Types can be bundled into a list, the Evidence Type List.</p>
<p>A Condition can have one or more Proof Type Lists.</p>
<p>Only one of the Proof Type Lists must be met in order to be entitled to the Public Service.</p>
<p>All Proof Types in a Proof Type List must be met.</p>
<p>Enumerations are generally described outside the application profile, so the enumeration values shown in the diagram are illustrative.</p>
{% endblock %}

{% block status %}
<p>(Remove this block to make an automated default paragraph appear.)</p>
{% endblock %}
