{% extends "voc2_en.j2" %}

{% block summary %}
<p>The OSLO Educational Resources vocabulary defines terms that are applicable to the exchange of information about Educational Resources.
More specifically, it is about how educational resources can be exchanged internationally, whether or not on the basis of associated goals.
Furthermore, the vocabulary also contains the necessary terms about licenses and the (re)use of creative works.</p>
<p>The vocabulary provides an overview of the terminology used and associated definitions.</p>
<p>This vocabulary is used by the application profile
<a href="https://data.vlaanderen.be/doc/applicatieprofiel/leermiddelen/ontwerpstandaard/2025-03-21/">OSLO Educational Resources</a>.</p>
{% endblock %}
