{% extends "voc2_fr.j2" %}

{% block summary %}
<p>Le vocabulaire d’OSLO Truck Parking est un ensemble de tous les différents éléments qui sont importants pour décrire les camions, les parcs de stationnement et les installations, les fournisseurs et les aspects connexes de l’incitation des organisations à les utiliser.</p>
<p>La plupart des termes ont été mis en correspondance avec plusieurs normes existantes : <a href="https://data.vlaanderen.be/standaarden/erkende-standaard/applicatieprofiel-mobiliteit-trips-en-aanbod.html">OSLO Trips and Offer</a>, <a href="https://data.vlaanderen.be/standaarden/standaard-in-ontwikkeling/applicatieprofiel-incentiveringsplatform.html">OSLO Incentive Platform</a>, <a href="https://data.vlaanderen.be/standaarden/erkende-standaard/applicatieprofiel-vervoersknooppunten.html">OSLO Transport Nodes</a> et <a href="https://www.mobivoc.org/en/news/2019/mobivoc-release-en.html">Mobivoc</a>.</p>
<p>De plus, ce vocabulaire définit certains de ses propres termes. Ceux-ci se trouvent sous Classes et propriétés.</p>
{% endblock %}
