{% extends "ap2_fr.j2" %}

{% block summary %}
<p>Le modèle de mise en œuvre d’OSLO Truck Parking montre comment les termes du vocabulaire correspondant doivent être utilisés pour échanger des données sur le stationnement des camions.</p> 
<p>Cette norme est issue du <a href="https://www.vlaio.be/nl/vlaio-netwerk/city-things-slimme-steden-en-gemeenten/city-things#:~:text=Slim%20Vrachtwagenparkeren">projet Smart Truck Parking</a>, avec Truck Parking les initiateurs, dont IGEMO, veulent partager leurs connaissances et leur expérience pour développer un outil numérique qui contribue à la création d’une relation durable entre les chauffeurs routiers et les propriétaires de sites</p>
<p>Le modèle se compose de plusieurs pièces qui ont été réutilisées à partir des normes existantes.</p>
<p>La première partie du modèle traite du camion et de la façon dont il peut se rendre à un parking particulier. Pour clarifier ce processus, des classes telles que Route, Parking et Provider sont utilisées.</p>
<p>Les énumérations sont généralement décrites en dehors du profil d’application, de sorte que les valeurs d’énumération affichées dans le diagramme sont illustratives.</p>
{% endblock %}
