{% extends "voc2.j2" %}

{% block summary %}
<p>The vocabulary of OSLO Truck Parking is a collection of all the different elements that are important for describing trucks, parking lots and facilities, providers and the related aspects of incentivizing organizations to use them.</p>
<p>Most of the terms were mapped to several existing standards: <a href="https://data.vlaanderen.be/standaarden/erkende-standaard/applicatieprofiel-mobiliteit-trips-en-aanbod.html">OSLO Trips and Offer</a>, <a href="https://data.vlaanderen.be/standaarden/standaard-in-ontwikkeling/applicatieprofiel-incentiveringsplatform.html">OSLO Incentive Platform</a>, <a href="https://data.vlaanderen.be/standaarden/erkende-standaard/applicatieprofiel-vervoersknooppunten.html">OSLO Transport Nodes</a> and <a href="https://www.mobivoc.org/en/news/2019/mobivoc-release-en.html">Mobivoc</a>.</p>
<p>In addition, this vocabulary defines some of its own terms. These can be found under Classes and Properties.</p>
{% endblock %}
