{% extends "ap2_en.j2" %}

{% block summary %}
<p>The OSLO Truck Parking implementation model shows how terms from the corresponding vocabulary should be used to exchange data on truck parking.</p>
<p>This standard originated from the <a href="https://www.vlaio.be/nl/vlaio-netwerk/city-things-slimme-steden-en-gemeenten/city-things#:~:text=Slim%20Vrachtwagenparkeren">Smart Truck Parking project</a>, with Truck Parking the initiators, including IGEMO, want to share knowledge and experience to develop a digital tool that contributes to the creation of a sustainable relationship between truck drivers and site owners</p>
<p>The model consists of several parts that were reused from existing standards.</p>
<p>The first part of the model discusses the truck and how it can get to a particular parking lot. To clarify this process, classes such as Route, Parking and Provider are used.</p>
<p>Enumerations are generally described outside the application profile, so the enumeration values shown in the diagram are illustrative.</p>
{% endblock %}
