{% extends "ap2_en.j2" %}

{% block summary %}

<p>The <a href="https://overheid.vlaanderen.be/kaderdecreet-bestuurlijke-handhaving-kbh">Framework Decree on Administrative Enforcement (2019)</a>
	provides for the development of an information system to collect administrative sanctions, 
	so that this information can be consulted by different organisations and services, across the different levels of government.
	This semantic data standard describes an information model that can form the basis of such an Administrative Sanctions Register.</p>



<p>The starting point of the model is the Fact, which describes the acts or omissions of a data subject, in which a certain Source of Law is violated. This data subject can be either a Registered Person or a Registered Organisation.</p>

<p>In addition to the relevant personal and organizational data of the data subject (identification numbers, contact details, domicile/establishment, etc.), information about the Location of the Event is also structured. This can take different forms depending on the specific context. For example, location data of Addresses, Plots, Building Units and Road Segments are tracked in a structured manner. In addition, one also has the possibility to capture the Location via geographical coordinates or via a free text field.</p>

<p>The above information concerns the description of the facts. Subsequently, a Registered Organization can make an Administrative Decision on this Fact. This decision is reflected in an (authentic) Document in which the decision is recorded, e.g. the decision sheet or the decision document. (We refer to OSLO Dossier for the further modelling of Documents in Representations, among other things.)</p>

<p>We then model the Decisions in more detail. These are the Immediate Collection, Decision to Administrative Dismissal, Decision to Administrative Investigation, Decision to Administrative Prosecution and Sanction Decision.</p>

<p>The Decision to Administrative Prosecution may lead to the Cancellation of the Sanction Possibility by Payment of a Sum of Money, or to a Sanction Decision.</p>

<p>Finally, there is the Sanction Decision, which can impose an Administrative Sanction. This contains a description of the Sanction and a reference to the Source of Law on the basis of which the sanction is imposed. In addition, information about suspension and postponement can also be exchanged. The Administrative Sanction consists of an Administrative Fine, Exclusion from Aid or Forfeiture.</p>

{% endblock %}
