{% extends "voc2_fr.j2" %}

{% block summary %}

<p>Le <a href="https://overheid.vlaanderen.be/kaderdecreet-bestuurlijke-handhaving-kbh">décret-cadre sur l’exécution administrative (2019)</a>
	prévoit le développement d’un système d’information pour recueillir les sanctions administratives, 
	afin que ces informations puissent être consultées par différents organismes et services, à travers les différents niveaux de gouvernement.</p>

<p>Ce vocabulaire du Registre des sanctions administratives décrit les différents termes et définitions qui ont été inclus à l’appui du profil d’application du Registre des sanctions administratives. 
	Le point de départ du profil d’application est l’infraction commise, qui décrit les actes ou omissions d’une personne concernée, violant une certaine source de loi. 
	Cette personne concernée peut être soit une personne enregistrée, soit une organisation enregistrée. 
	Par la suite, une organisation enregistrée peut prendre une décision administrative concernant cette infraction commise. 
	Cette décision génère un document (authentique) dans lequel la décision est écrite. 
	Enfin, nous modélisons plus en détail les décisions du superviseur, de l’autorité de poursuite et de l’autorité chargée des amendes.</p>

{% endblock %}
