{% extends "ap2_de.j2" %}

{% block summary %}
<p>Das Implementierungsmodell OSLO Truck Parking zeigt, wie Begriffe aus dem entsprechenden Vokabular verwendet werden sollten, um Daten zum Lkw-Parken auszutauschen.</p>
<p>Dieser Standard ist aus dem <a href="https://www.vlaio.be/nl/vlaio-netwerk/city-things-slimme-steden-en-gemeenten/city-things#:~:text=Slim%20Vrachtwagenparkeren">Projekt Smart Truck Parking</a> hervorgegangen, bei dem die Initiatoren, darunter auch die IGEMO, Wissen und Erfahrungen austauschen wollen, um ein digitales Tool zu entwickeln, das zur Schaffung einer nachhaltigen Beziehung zwischen Lkw-Fahrern und Standortbesitzern beiträgt</p>
<p>Das Modell besteht aus mehreren Teilen, die aus bestehenden Standards wiederverwendet wurden.</p>
<p>Im ersten Teil des Modells geht es um den Lkw und wie er zu einem bestimmten Parkplatz gelangen kann. Um diesen Prozess zu verdeutlichen, werden Klassen wie Route, Parking und Provider verwendet.</p>
<p>Enumerationen werden in der Regel außerhalb des Anwendungsprofils beschrieben, sodass die im Diagramm gezeigten Enumerationswerte zur Veranschaulichung dienen.</p>
{% endblock %}
