{% extends "voc2_de.j2" %}

{% block summary %}
<p>Das Vokabular von OSLO Truck Parking ist eine Sammlung aller verschiedenen Elemente, die für die Beschreibung von Lkw, Parkplätzen und Einrichtungen, Anbietern und den damit verbundenen Aspekten der Anreizgestaltung von Organisationen zur Nutzung dieser Fahrzeuge wichtig sind.</p>
<p>Die meisten Begriffe wurden auf mehrere bestehende Standards abgebildet: <a href="https://data.vlaanderen.be/standaarden/erkende-standaard/applicatieprofiel-mobiliteit-trips-en-aanbod.html">OSLO Trips and Offer</a>, <a href="https://data.vlaanderen.be/standaarden/standaard-in-ontwikkeling/applicatieprofiel-incentiveringsplatform.html">OSLO Incentive Platform</a>, <a href="https://data.vlaanderen.be/standaarden/erkende-standaard/applicatieprofiel-vervoersknooppunten.html">OSLO Transport Nodes</a> und <a href="https://www.mobivoc.org/en/news/2019/mobivoc-release-en.html">Mobivoc</a>.</p>
<p>Darüber hinaus definiert dieses Vokabular einige seiner eigenen Begriffe. Diese finden Sie unter Klassen und Eigenschaften.</p>
{% endblock %}
