{% extends "ap2_en.j2" %}

{% block summary %}
<p>The OSLO-Transport Nodes application profile shows how to use terms from the corresponding <a href="https://data.vlaanderen.be/ns/mobiliteit/vervoersknooppunten">vocabulary</a> to exchange data on Passenger Transport Nodes.</p>

<p>Because of the diverse offer and the transfer options, transport hubs where passengers can transfer play an important role in achieving basic accessibility.</p>

<p>The model consists of two parts. The first part provides a general definition of a Transport Hub and describes the elements that make it up with specific attention to passenger transport. The Traveller uses Transportation Nodes for their Journey or Route and this is described in Part Two.</p>

<p>Below we focus on part one, for more information about part two we refer to the <a href="https://data.vlaanderen.be/doc/applicatieprofiel/mobiliteit-trips-en-aanbod">application profile OSLO Mobility: Trips and Offer</a>.</p>

<p>Transport hubs consist of 1) Infrastructure elements, 2) Transport networks, 3) Mobility services and 4) Ancillary Services.</p>

<p>The Transport Hub class is further specialised to Hoppin Point, which is the Flemish version of a Transport Hub.</p>

<p>Infrastructure elements represent the physical aspect of a Transport Hub, i.e. objects such as Information Kiosks (such as the Hoppin Terminal), Stops, Car Parks, Bicycle Sheds, Chargers, etc. that are necessary for the existing Transport Networks and the Mobility or Additional Services offered at the Transport Hub. The Infrastructure Elements and their specialisations come from the <a href="https://data.vlaanderen.be/doc/vocabularium/openbaardomein/infrastructuur">OSLO Public Domain - Infrastructure Elements</a>, <a href="https://data.vlaanderen.be/doc/applicatieprofiel/mobiliteit/dienstregeling-en-planning/stopplaatsen/kandidaatstandaard/2021-11-18">OSLO Mobility - Timetable and Planning - Stops</a> and from the <a href="https://www.mobivoc.org/">Open Mobility Vocabulary</a>.</p>

<p>The Transport Networks present at a Transport Hub are accessible via Transport Objects such as Transport Nodes (stops, stations, etc.) and Transport Connections between those nodes. Virtual Nodes (points located on a connection between two Transport Nodes, e.g. the position of an abandoned shared scooter or the address of a Passenger) are also possible. The Transport Object class and its subclasses are reused from the <a href="https://data.vlaanderen.be/ns/transportnetwerk">OSLO Transport Network</a> vocabulary.</p>

<p>Through the existing Infrastructure Elements and Transport Objects, Mobility Services are primarily available. These can be scheduled services or shared scooters, but also parking spaces or bicycle pumps. A Mobility Service may include other Mobility Services, e.g. in the case of the Hoppin Centre integrating different services into one service, but also with a Provider describing its services at different levels of granularity (e.g. at a high level, the service "shared mobility in Flanders" and at a lower level, the services "shared cars in Antwerp" and "shared bicycles in Ghent"). The Mobility Service class and dependent classes come from the <a href="https://data.vlaanderen.be/ns/mobiliteit/trips-en-aanbod">OSLO-Mobility: Trips and Offerings</a> vocabulary.</p>

<p>At a Transport Hub, we typically also find all kinds of Additional Services, including services that save the Traveller additional journeys, such as post boxes, bakeries, newsagents, etc.</p>

<p>Enumerations are generally described outside the application profile, so the enumeration values shown in the diagram are illustrative.</p>

{% endblock %}
