{% extends "ap2_en.j2" %}

{% block summary %}
<p>The Soil & Subsurface Observations application profile explains how the terminology from the corresponding <a href="https://data.vlaanderen.be/ns/bodem-en-ondergrond/observaties/">vocabulary</a> should be used to exchange data on specialised Soil & Subsurface Observations. </p>
<p>The application profile builds on the <a href="https://data.vlaanderen.be/doc/applicatieprofiel/sensoren-en-bemonstering">OSLO Sensors and Sampling</a> application profile, among other things. </p>
<p>For Observations that are generic, e.g. those of the so-called recognition (Soil type, Humus content, Volumetric mass, etc.), the classes of Sensors and Sampling are sufficient. </p>
<p>This is not the case for the Observations in this application profile that usually take place in a lab with specialized equipment: determining the Grain Distribution or geotechnical characteristics such as Permeability, Compressibility or Shear Resistance. </p>
<p>For these analyses, the necessary classes and characteristics are provided, usually specializations of the class Measurement series because the result varies with a certain parameter, e.g. the proportion of a certain grain diameter in a soil sample or the deformation of a sample with increasing pressure. </p>
<p>The analyses usually relate to soil samples, but for the description of these we refer to the application profile Soil drilling. </p>
<p>This application profile does not concern Interpretations, i.e. Observations that involve a reasoned personal judgment, which are dealt with in the <a href="https://data.vlaanderen.be/doc/applicatieprofiel/bodem-en-ondergrond/interpretaties">application profile OSLO Soil and Subsurface Interpretations</a>. </p>
{% endblock %}
