{% extends "voc2_fr.j2" %}

{% block summary %}
<p>Le vocabulaire des interprétations des sols et des sous-sols d’OSLO comprend des termes pour décrire les observations concernant le sol et le sous-sol du type d’interprétation.</p>
<p>Il s’agit principalement d’observations qui décrivent la stratification du sous-sol, en premier lieu les caractéristiques stratigraphiques et lithologiques, mais aussi les couches anthropiques et géotechniques sont discutées.  </p>
<p>Les gammes spatiales permettent de décrire la variation de ces couches en profondeur, avec les caractéristiques de chaque couche, telles que le type de sol, la formation géologique, le revêtement de l’eau, etc. Ces attributs sont généralement transmis sous forme cryptée.  </p>
<p>Il s’agit d’observations du type de l’interprétation parce qu’il s’agit généralement de jugements personnels, bien que raisonnés et basés sur des connaissances théoriques ou sur le traitement d’autres observations approximatives.  </p>
{% endblock %}
