{% extends "ap2_en.j2" %}

{% block summary %}
<p>The OSLO Soil & Subsurface Interpretations application profile explains how the terminology from the corresponding <a href="https://data.vlaanderen.be/ns/bodem-en-ondergrond/interpretaties/">vocabulary</a> should be used to exchange data on specialized Observations of the type of Interpretation regarding Soil & Subsoil.</p>
<p>The application profile builds on the <a href="https://data.vlaanderen.be/doc/applicatieprofiel/sensoren-en-bemonstering">OSLO Sensors and Sampling</a> application profile, among other things. </p>
<p>Interpretations are Observations that involve a personal or reasoned judgment. This judgement is based on theoretical knowledge and/or processing of other Observations. </p>
<p>In the context of Soil and Subsoil, it is often a question of Interpretations of stratification: stratigraphic or lithological characteristics of the layers or anthropogenic or geotechnical layers that can be distinguished. This application profile focuses on such Interpretations, but other types of Observations can also be classified as Interpretations.</p>
<p>How layering varies with depth is described by means of Spatial Ranges, i.e. a geometry (depth from-to) and a value with the characteristics of the layer per layer. </p>
<p>These characteristics depend on the type of layer. For example, it is about the type of soil, the geological formation, the water lining, etc. They are usually described by means of values from a code list. </p>
<p>As mentioned above, the input for the Interpretations can be other Observations, e.g. generic Observations described with the application profile Sensors and Sampling, or more specific ones such as those from the <a href="https://data.vlaanderen.be/doc/applicatieprofiel/bodem-en-ondergrond/observaties">application profile OSLO Soil and Subsurface Observations</a> or from the <a href="https://data.vlaanderen.be/doc/applicatieprofiel/bodem-en-ondergrond/sonderingen">application profile OSLO CPTs</a>. </p>
<p>The Observation Procedure and Input classes can be used to refer to these other Observations. </p>
{% endblock %}
