{% extends "voc2_fr.j2" %}

{% block summary %}
<p>Le vocabulaire Sol et Sous-sol ajoute une terminologie au vocabulaire <a href="https://data.vlaanderen.be/ns/observaties-en-metingen">Observations et mesures</a> et <a href="https://data.vlaanderen.be/ns/sensoren-en-bemonstering">Capteurs et échantillonnage</a> , spécifiquement pour le domaine Sol et Sous-sol.</p>
<p>Les termes sont suffisamment génériques pour être utiles pour plusieurs sous-domaines au sein de Soil & Subsoil.</p>
<p>Il s’agit de termes tels que Profondeur, Niveau du sol ou une extension du Profil à partir des Observations et Mesures avec Élément de Profil et Faible comme spécialisation.</p>
<p>La mesure de séries de mesures et la mesure de fractions en tant que spécialisation ont également été ajoutées en complément des plages discrètes d’observations et de mesures. Ces derniers se limitent aux variations d’un phénomène dans le temps et dans l’espace, tandis que dans ce domaine, il doit également être possible de décrire des variations en fonction d’autres paramètres.</p>
<p>De plus, certaines classes utilitaires ont été ajoutées, telles que l’affectation et la reconnaissance.</p>
<p>En plus des gammes qui peuvent documenter les variations des phénomènes dans l’espace et le temps, il y avait également un besoin de séries de mesures « ordinaires » dans le domaine du sol et du sous-sol, où le phénomène peut être fonction d’un paramètre arbitraire. Pour cette raison, nous avons ajouté la série de mesures et la spécialisation largement utilisée dans les mesures de fractions.</p>
{% endblock %}
