{% extends "voc2_en.j2" %}

{% block summary %}

<p>The <a href="https://overheid.vlaanderen.be/kaderdecreet-bestuurlijke-handhaving-kbh">Framework Decree on Administrative Enforcement (2019)</a>
	provides for the development of an information system to collect administrative sanctions, 
	so that this information can be consulted by different organisations and services, across the different levels of government.</p>

<p>This Administrative Sanctions Register vocabulary describes the various terms and definitions that have been included to support the Administrative Sanctions Register application profile. 
	The starting point of the application profile is the Committed Offense, which describes the acts or omissions of a data subject, violating a certain Source of Law. 
	This data subject can be either a Registered Person or a Registered Organisation. 
	Subsequently, a Registered Organisation can make an Administrative Decision on this Committed Offence. 
	This decision generates an (authentic) Document in which the decision is written down. 
	Finally, we model the Decisions of the Supervisor, Prosecution Authority and Fining Authority in more detail.</p>

{% endblock %}
