{% extends "ap2_fr.j2" %}

{% block summary %}

<p>Le <a href="https://overheid.vlaanderen.be/kaderdecreet-bestuurlijke-handhaving-kbh">décret-cadre sur l’exécution administrative (2019)</a>
	prévoit le développement d’un système d’information pour recueillir les sanctions administratives, 
	afin que ces informations puissent être consultées par différents organismes et services, à travers les différents niveaux de gouvernement.
	Cette norme de données sémantiques décrit un modèle d’information qui peut constituer la base d’un tel registre des sanctions administratives.</p>



<p>Le point de départ du modèle est le fait, qui décrit les actes ou omissions d’une personne concernée, dans lesquels une certaine source de droit est violée. Cette personne concernée peut être soit une personne enregistrée, soit une organisation enregistrée.</p>

<p>Outre les données personnelles et organisationnelles pertinentes de la personne concernée (numéros d’identification, coordonnées, domicile/établissement, etc.), des informations sur le lieu de l’événement sont également structurées. Cela peut prendre différentes formes en fonction du contexte spécifique. Par exemple, les données de localisation des adresses, des parcelles, des unités de bâtiment et des segments de route sont suivies de manière structurée. De plus, on a également la possibilité de capturer l’emplacement via des coordonnées géographiques ou via un champ de texte libre.</p>

<p>Les informations ci-dessus concernent la description des faits. Par la suite, une organisation enregistrée peut prendre une décision administrative à ce sujet. Cette décision est consignée dans un document (authentique) dans lequel la décision est enregistrée, par exemple la feuille de décision ou le document de décision. (Nous nous référons au Dossier OSLO pour la modélisation ultérieure des Documents dans les Représentations, entre autres.)</p>

<p>Nous modélisons ensuite les décisions plus en détail. Il s’agit de la collecte immédiate, de la décision de licenciement administratif, de la décision d’enquête administrative, de la décision de poursuite administrative et de la décision de sanction.</p>

<p>La décision d’engager des poursuites administratives peut entraîner l’annulation de la possibilité de sanction moyennant le paiement d’une somme d’argent, ou une décision de sanction.</p>

<p>Enfin, il y a la décision de sanction, qui peut imposer une sanction administrative. Celui-ci contient une description de la sanction et une référence à la source de la loi sur la base de laquelle la sanction est imposée. En outre, des informations sur la suspension et le report peuvent également être échangées. La sanction administrative consiste en une amende administrative, une exclusion de l’aide ou une confiscation.</p>

{% endblock %}
