{% extends "ap2_en.j2" %}

{% block summary %}
<p>This application profile is a derivative of the <a href="https://data.vlaanderen.be/ns/leercredential">OSLO Learning Credential</a> vocabulary,
  which in turn is based on the <a href="https://github.com/european-commission-empl/European-Learning-Model">European Learning Model</a>.
  The latter, in turn, uses the <a href="https://www.w3.org/TR/vc-data-model/">W3C Verifiable Credentials Data Model</a> as an overarching structure.</p>
<p>This model describes how a Person can be the owner of one or more Learning Credentials,
  issued by a particular Organisation (such as a public authority, but also private bodies).
  This Person may have different Learning Claims (possibly issued by an Organization other than the Organization issuing the Learning Credential).
  A Learning Achievement is a specific type of Learning Claim.
  The general information about the Learning Achievement that is common to the different Persons who have obtained the Learning Achievement,
  are contained in the Allocation Specification, while the person-specific information is included in the Allocation Process.</p>
{% endblock %}
