{% extends "ap2_en.j2" %}

{% block summary %}
<p>This application profile reuses the <a href="https://data.vlaanderen.be/ns/leercredential">vocabulary OSLO Learning Credential</a>,
which in turn is based on the <a href="https://github.com/european-commission-empl/European-Learning-Model">European Learning Model</a>.
ELM is based on the <a href="https://www.w3.org/TR/vc-data-model/">W3C Verifiable Credentials Data Model</a> in terms of credential exchange and validation.</p>
<p>This application profile focuses on the collection and exchange of enrolment data in an educational context. To this end, a number of extensions to ELM are planned (registration, etc.). An explicit Learning Enrollment Credential is created to cover these use cases.</p>
{% endblock %}

