{% extends "voc2_en.j2" %}

{% block summary %}
This vocabulary focuses on providing access to car-free zones.
What follows are a number of use cases that fall under this:<ul>
  <li>Configures of a car-free zone.</li>
  <li>Apply for a permit to access an area as a private individual.</li>
  <li>Applying for a permit to access a zone as a company.</li>
  <li>Refusal of an application for access to a zone.</li>
</ul>The number of terms is limited as we have to rely on the corresponding application profile OSLO Mobility: Intelligent Access
almost all of them have reused existing welds and properties.
{% endblock %}
