{% extends "ap2_en.j2" %}

{% block summary %}
This application profile focuses on granting access to car-free zones.
What follows are a number of use cases that fall under this:<ul>
  <li>Configures of a car-free zone.</li>
  <li>Apply for a permit to access an area as a private individual.</li>
  <li>Applying for a permit to access a zone as a company.</li>
  <li>Refusal of an application for access to a zone.</li>
</ul>

<p>This application profile uses classes and properties of
<a href="https://semiceu.github.io/CCCEV/releases/2.1.0/">Core Criterion and Core Evidence Vocabulary</a> and
<a href="https://interoperable-europe.ec.europa.eu/collection/semic-support-centre/solution/core-public-service-vocabulary">Core Public Service Vocabulary (CPSV).</a>
It was aligned with <a href="https://semiceu.github.io/CPSV-AP/releases/3.2.0/">CPSV-AP,</a>
<a href="https://data.vlaanderen.be/doc/applicatieprofiel/dossier/">OSLO Dossier</a>,
<a href="https://data.vlaanderen.be/doc/applicatieprofiel/dienst-transactiemodel/">OSLO Service-Transaction Model</a>,
<a href="https://data.vlaanderen.be/doc/applicatieprofiel/omgevingsvergunning/">OSLO Environmental Permit</a>,
<a href="https://data.vlaanderen.be/doc/applicatieprofiel/besluit-mobiliteit/">OSLO Decree-Mobility</a>, and
<a href="https://belgif.github.io/thematic/models/public%20services/index_en.html">ICEG.</a><p>

<p>
<a href="https://github.com/Informatievlaanderen/OSLOthema-citerra/tree/main/data-examples">Here</a>
you can find a number of data examples.</p>
{% endblock %}
