{% extends "voc2_en.j2" %}

{% block summary %}
<p>The OSLO Statistics vocabulary contains terms that can be used to describe Statistical Observations, i.e. Observations that result in a Statistic. </p>
<p>Statistical Observation is a specialization of the Observation class from the <a href="https://data.vlaanderen.be/ns/observaties-en-metingen/">OSLO Observations and Measurements vocabulary</a>.</p>  
<p>We based the Statistics class on the <a href="https://www.researchgate.net/publication/292315529_Uncertainty_Markup_Language_OGC_08-122r2">UNCERT model</a>. </p>
<p>By Statistics we mean figures that describe the characteristics of a collection of data. </p>
<p>It can be about summary measures such as the mean, the median, a total or an index or about measures that say something about the distribution of the data such as the minimum or maximum, the standard deviation etc. or about the probability that a value occurs or is exceeded. </p>
<p>Some subclasses are provided in case additional information is needed to describe the Statistic, e.g. if it relates to a Quantile, a Moment or a Discrete or ordinary Probability. </p>
{% endblock %}
