{% extends "voc2_en.j2" %}

{% block summary %}
<p>The OSLO Water Quality vocabulary is an extension of the European <a href="https://purl.eu/ns/air-and-water/water/">ODALA Water vocabulary</a>. </p>
<p>The European vocabulary provides terminology for describing water quality, to which this vocabulary adds terms. </p>
<p>The most important additions are additional types of observations, namely ChemicalAgensCargoObservation and HydromorphologicalIndexObservation. </p>
<p>In addition to the ODALA domain object Water Object, Emission and Emission Source were also provided as potential objects to be observed or sampled.<p>Sampling objects can now be grouped as a Sampling Object Set of type Monitoring Network that can consist of Spatial Sampling Objects of type Measurement Point. </p>
<p>Also important is a class Agens in order to be able to indicate the concentration or load of a chemical substance independently of the observed characteristic. For a similar reason, the Species class was also added for BioIndicator Observations. </p>
<p>Finally, it is also possible to characterize an Observation as a Statistical Observation.</p>
{% endblock %}
