{
  "components": {
    "schemas": {
      "Brontype": {
        "properties": {
          "@context": {
            "enum": [
              "https://data.vlaanderen.be/doc/implementatiemodel/magda/persoon/context/persoon-IM.jsonld"
            ],
            "format": "uri",
            "type": "string"
          },
          "@id": {
            "format": "uri",
            "pattern": "^https:\\/\\/data\\.vlaanderen\\.beid\\/Brontype\\/\\d",
            "type": "string"
          },
          "@type": {
            "description": "Lijst van object types (klasse)",
            "items": {
              "description": "Brontype type",
              "type": "string"
            },
            "minItems": 1,
            "type": "array"
          }
        },
        "required": [
          "@context",
          "@id",
          "@type"
        ],
        "type": "object"
      },
      "BurgerlijkeStaatType": {
        "properties": {
          "@context": {
            "enum": [
              "https://data.vlaanderen.be/doc/implementatiemodel/magda/persoon/context/persoon-IM.jsonld"
            ],
            "format": "uri",
            "type": "string"
          },
          "@id": {
            "format": "uri",
            "pattern": "^https:\\/\\/data\\.vlaanderen\\.beid\\/BurgerlijkeStaatType\\/\\d",
            "type": "string"
          },
          "@type": {
            "description": "Lijst van object types (klasse)",
            "items": {
              "description": "BurgerlijkeStaatType type",
              "type": "string"
            },
            "minItems": 1,
            "type": "array"
          }
        },
        "required": [
          "@context",
          "@id",
          "@type"
        ],
        "type": "object"
      },
      "EnterYourTranslationHere": {
        "description": "Enter your translation here",
        "properties": {
          "@context": {
            "enum": [
              "https://data.vlaanderen.be/doc/implementatiemodel/magda/persoon/context/persoon-IM.jsonld"
            ],
            "format": "uri",
            "type": "string"
          },
          "@id": {
            "format": "uri",
            "pattern": "^https:\\/\\/data\\.vlaanderen\\.beid\\/EnterYourTranslationHere\\/\\d",
            "type": "string"
          },
          "@type": {
            "description": "Lijst van object types (klasse)",
            "items": {
              "description": "EnterYourTranslationHere type",
              "type": "string"
            },
            "minItems": 1,
            "type": "array"
          },
          "EnterYourTranslationHere.enterYourTranslationHere": {
            "description": "Enter your translation here",
            "properties": {
              "@id": {
                "format": "uri",
                "pattern": "^https:\\/\\/data\\.vlaanderen\\.beid\\/Enter your translation here\\/\\d",
                "type": "string"
              }
            },
            "required": [
              "@id"
            ],
            "type": "object"
          }
        },
        "required": [
          "@context",
          "@id",
          "@type",
          "EnterYourTranslationHere.enterYourTranslationHere"
        ],
        "type": "object"
      }
    }
  },
  "info": {
    "description": "This is a inspirational OpenAPI Swagger publication",
    "title": [
      "Hello",
      "OpenAPI Swagger publication"
    ],
    "version": "1.0.0"
  },
  "openapi": "3.0.4",
  "paths": {
    "/id/Brontype/{id}": {
      "get": {
        "operationId": "BrontypeGET",
        "parameters": [
          {
            "description": "Identificator van een Brontype object.",
            "in": "path",
            "name": "id",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/ld+json": {
                "schema": {
                  "$ref": "#/components/schemas/Brontype"
                }
              }
            },
            "description": "Brontype object gevonden.",
            "links": {}
          },
          "400": {
            "description": "Ontbrekende informatie bij het opvragen een Brontype object."
          },
          "404": {
            "description": "Brontype object met gegeven ID niet gevonden."
          }
        },
        "tags": [
          "Externe datastandaarden"
        ]
      }
    },
    "/id/BurgerlijkeStaatType/{id}": {
      "get": {
        "operationId": "BurgerlijkeStaatTypeGET",
        "parameters": [
          {
            "description": "Identificator van een BurgerlijkeStaatType object.",
            "in": "path",
            "name": "id",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/ld+json": {
                "schema": {
                  "$ref": "#/components/schemas/BurgerlijkeStaatType"
                }
              }
            },
            "description": "BurgerlijkeStaatType object gevonden.",
            "links": {}
          },
          "400": {
            "description": "Ontbrekende informatie bij het opvragen een BurgerlijkeStaatType object."
          },
          "404": {
            "description": "BurgerlijkeStaatType object met gegeven ID niet gevonden."
          }
        },
        "tags": [
          "Externe datastandaarden"
        ]
      }
    },
    "/id/EnterYourTranslationHere/{id}": {
      "get": {
        "description": "Enter your translation here",
        "operationId": "EnterYourTranslationHereGET",
        "parameters": [
          {
            "description": "Identificator van een EnterYourTranslationHere object.",
            "in": "path",
            "name": "id",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/ld+json": {
                "schema": {
                  "$ref": "#/components/schemas/EnterYourTranslationHere"
                }
              }
            },
            "description": "EnterYourTranslationHere object gevonden.",
            "links": {
              "Enter your translation hereGET": {
                "description": "Het `@id` attribuut van de waarde van `EnterYourTranslationHere.enterYourTranslationHere` kan gebruikt worden om het gerefereerde object van het type `Enter your translation here` op te halen.",
                "operationId": "Enter your translation hereGET",
                "parameters": {
                  "id": "$response.body#/EnterYourTranslationHere.enterYourTranslationHere/@id"
                }
              }
            }
          },
          "400": {
            "description": "Ontbrekende informatie bij het opvragen een EnterYourTranslationHere object."
          },
          "404": {
            "description": "EnterYourTranslationHere object met gegeven ID niet gevonden."
          }
        },
        "summary": "Enter your translation here",
        "tags": [
          "Externe datastandaarden"
        ]
      }
    }
  },
  "servers": [
    {
      "description": "Basis URL",
      "url": "https://data.vlaanderen.be"
    }
  ]
}
