{% extends "ap2_fr.j2" %}

{% block summary %}
<p>Le profil d’application du réseau de surveillance des eaux souterraines explique comment la terminologie de ce domaine doit être utilisée pour échanger des données sur les observations des eaux souterraines.</p>
<p>Le profil d’application <a href="https://data.vlaanderen.be/doc/applicatieprofiel/bodem-en-ondergrond/sensoren-en-bemonstering">s’appuie sur le profil d’application OSLO Sensors and Sampling</a>, entre autres.<p>Ce sous-domaine concerne la surveillance du niveau et de la qualité des eaux souterraines.  </p>
<p>Le niveau est mesuré dans ce que l’on appelle des puits de surveillance, généralement avec des piézomètres ouverts ou fermés placés dans ces puits. </p>
<p>La surveillance peut être effectuée manuellement ou automatiquement à l’aide de capteurs.  </p>
<p>La qualité est déterminée par l’observation de divers paramètres de qualité sur des échantillons d’eau souterraine obtenus dans les puits et les piézomètres. </p>
<p>Les piézomètres sont organisés en réseaux de surveillance. </p>
{% endblock %}
