{% extends "voc2_de.j2" %}

{% block summary %}
<p>Das Vokabular "Sensoren und Probenahme" enthält die Terminologie, die zur Beschreibung der Beobachtungsinstrumente erforderlich ist, die zur Durchführung von Beobachtungen verwendet werden, und auch zur Dokumentation der Aktivität der Entnahme repräsentativer räumlicher oder physischer Proben.</p>
<p>Das meiste davon ist externe Terminologie, die auf der <a href="https://www.w3.org/TR/vocab-ssn/">W3C SSN-Ontologie</a> und <a href="https://www.w3.org/TR/vocab-ssn-ext/">Erweiterungen basiert.</a> Diese bauen auf der Terminologie der <a href="https://www.iso.org/standard/32574.html">ISO 19156:2011 Beobachtungen und Messungen</a> auf. Darüber hinaus wurde eine Klasse aus der <a href="https://saref.etsi.org/core/v3.1.1/">SAREF-Ontologie</a> zur Beschreibung von Flugzeugen wiederverwendet.</p>
{% endblock %}
