{% extends "ap2_en.j2" %}

{% block summary %}
<p>The application profile Groundwater Monitoring Network explains how the terminology in this domain should be used to exchange data about Observations carried out by means of CPT.</p>
<p>The application profile builds on <a href="https://data.vlaanderen.be/doc/applicatieprofiel/bodem-en-ondergrond/sensoren-en-bemonstering">the OSLO Sensors and Sampling application profile</a>, among other things.<p>By CPT we mean the vertical sampling of Soil and Subsoil by inserting a Probe into the soil.   </p>
<p>This probe measures the variation with the depth of certain characteristics of soil and subsoil, such as stratification, load-bearing capacity, pollution, etc. </p>
<p>The specialisations in this application profile mainly focus on a particular type of CPT: variants of the Cone Penetration Test (CPT) or driving a cone into the ground in which certain characteristics of the soil and subsoil can be indirectly or directly identified along the way  </p>
{% endblock %}
