{% extends "ap2_en.j2" %}

{% block summary %}
<p>The objective of this application profile is to standardise the flow of information about the mobility budget (for citizens). This application profile was developed as part of the CoT project of the cities of Hasselt, Leuven and Antwerp to arrive at a Mobility Budget for citizens.</p>
<p>The application profile reuses terms and the way they are applied from the following standards, among others:</p>
<ul>  
  <li><a href="https://data.vlaanderen.be/doc/applicatieprofiel/generiek-basis/">Application Profile OSLO Generic</a></li>  
  <li><a href="https://data.vlaanderen.be/doc/applicatieprofiel/persoon-basis/">Application Profile OSLO Person Basic</a></li>  
  <li><a href="https://data.vlaanderen.be/doc/applicatieprofiel/mobiliteit-trips-en-aanbod/">Application profile OSLO Mobility: trips and offers</a></li>  
  <li><a href="https://data.vlaanderen.be/doc/applicatieprofiel/organisatie-basis/">Application Profile OSLO Organization Basic</a></li>  
</ul> 
<p>To reduce the traffic burden in the busy city centres, the mobility budget has been created. This budget for citizens encourages them to take more sustainable alternatives than the traditional car. This budget can be allocated by a local government, another government body, local merchants and mobility services themselves. All of them can send a budget to certain citizens in the form of cash discounts, free rides or other promotions. Users can then purchase a ticket for themselves or other people to get around. There are also conditions for this budget, budgets can be limited per age group, time aspect, location,... </p>
<p>Terms related to the Mobility Budget in the broadest sense have been included in the Mobility Budget Vocabulary.</p>
{% endblock %}

