{% extends "ap2_en.j2" %}

{% block summary %}
<p>The OSLO Statistics application profile shows how concepts from the <a href="https://data.vlaanderen.be/ns/statistiek/">vocabulary</a> of the same name should be used to describe a Statistical Observation. </p>
<p>By a Statistical Observation we mean an Observation whose result is a Statistic. This is useful to be able to distinguish between e.g. an individual measurement or a measurement that is the average of a number of individual measurements. </p> 
<p>For more information about the Observation class, please refer to <a href="https://data.vlaanderen.be/doc/applicatieprofiel/observaties-en-metingen/">the OSLO Observations & Measurements application profile</a> (further supplemented in <a href="https://data.vlaanderen.be/doc/applicatieprofiel/sensoren-en-bemonstering/">the OSLO Sensors & Sampling) application profile</a>.</p>
<p>Statistics as a discipline is concerned with gaining insight into a certain phenomenon by means of numbers. </p>
<p>The collected data is reduced to what we call a Statistic, rather than the individual figure we mean information that describes a certain characteristic of the dataset as a whole or of a variable from the dataset. </p>
<p>We based ourselves on the <a href="https://www.researchgate.net/publication/292315529_Uncertainty_Markup_Language_OGC_08-122r2">UNCERT model</a> to describe this class.</p>
<p>Typically, these are summary measures such as mean, median, total, or an index. Or it concerns measures that say something about the distribution of the figures, e.g. minimum/maximum, standard deviation and the like. This also includes the classification of the original data on a scale or according to a typology. </p>
<p>Just a value and a type are sufficient to describe such Statistics. </p>
<p>In a number of cases, however, additional information is needed to describe the Statistics, these cases are covered by specializations of the class Statistics, i.e. the class Quantile, Moment, Discrete Probability and Probability. </p>
<p>The code list of Statistics types is illustrative but gives an idea of what types of Statistics can be described with this application profile. </p>
{% endblock %}
