{% extends "voc2_en.j2" %}

{% block summary %}
<p>The vocabulary 'OSLO LDES' is complementary to the application profile 'OSLO LDES', which is based on the European Linked Data Event Stream specification and focuses on the interoperable access of data and the associated contextual information. The LDES specification allows a collection of immutable objects to be described. The idea is that a customer can replicate every item in the flow in order to stay in sync with the source when items are added. The description of the items in the event stream uses the TREE specification, which in turn is compatible with specifications such as Solid, Activity Streams, DCAT-AP, LDP and Shape Trees, among others. The LDES specification also allows for a description of how far in the past this data is stored via retention policies. Furthermore, the application profile also allows to describe derived datasets. Think of snapshots or version materializations and associated event streams.</p>
{% endblock %}

