{% extends "voc2_en.j2" %}

{% block summary %}
<p>The vocabulary metadata DCAT is a vocabulary based on <a href="https://www.w3.org/TR/vocab-dcat-2/">DCAT.</a>
In addition to a Dutch translation of the existing DCAT terminology, this vocabulary also provides additional terms that are specific to the needs related to metadata descriptions of datasets and data services in Flanders.</p>
{% endblock %}

