{% extends "voc2_en.j2" %}

{% block summary %}
<p>The Environmental Permit Vocabulary provides a standardised core conceptual framework for the environmental permit domain. The vocabulary should promote the exchange and interconnection (interoperability) of authorisation information, and contribute to a clear common understanding and the avoidance of misunderstandings and miscommunication between stakeholders, including a variety of public authorities and the wider public.</p>
 
<p>The vocabulary is certainly not all-encompassing, in the sense that it does not encapsulate the entire domain in detail.</p>
 
<p>The vocabulary focuses mainly on the legal core of the matter: the "backbone" of environmental permit policy, so to speak. In short, these are the legal acts and legal facts that produce and evolve the licensed situation, their legal-substantive significance with regard to acts and activities that are regulated under the environmental permit policy, and the various qualitative and spatial-temporal dimensions that form the main starting points for questioning and linking.</p>
 
<p>The vocabulary leaves the necessary room for ad-hoc expansion, combination with other vocabularies, and possible further, more focused standardization in the future.</p>
{% endblock %}

{% block license %}
<p>
<spanrel="dct:type"property="dct:title"href="http: purl.org/dc/dcmitype/text"xmlns:dct="http://purl.org/dc/terms/">This specification of <a rel="cc:attributionURL" property="cc:attributionName" href="https://www.vlaanderen.be/digitaal-vlaanderen" xmlns:cc="http://creativecommons.org/ns#">Digitaal Vlaanderen</a> is published under <a href="{{ metadata.license }}" rel="license">"Model license Free Reuse - v1.0".</a></p></spanrel="dct:type"property="dct:title"href="http:>
{% endblock %}