{% extends "ap2_fr.j2" %}

{% block summary %}
<p>Le profil de demande de permis d’environnement s’appuie sur le vocabulaire des permis d’environnement. Le vocabulaire forme un cadre conceptuel de base standardisé pour le domaine des permis d’environnement, le profil d’application établit les principaux liens entre ces concepts.</p>
 
<p>Associé au vocabulaire, ce profil d’application devrait promouvoir l’échange et l’interconnexion (interopérabilité) des informations relatives aux autorisations, et contribuer à une compréhension commune claire et à la prévention des malentendus et des malentendus entre les parties prenantes, y compris diverses autorités publiques et le grand public.</p>
 
<p>Le vocabulaire et le profil d’application capturent le noyau juridique qui constitue l’épine dorsale de la politique de permis environnementaux. En bref, il s’agit des actes juridiques et des faits juridiques qui produisent et font évoluer la situation autorisée, de leur signification juridique et matérielle au regard des actes et des activités réglementés par la politique de permis environnementaux, et des différentes dimensions qualitatives et spatio-temporelles qui constituent les principaux points de départ de questionnement et de mise en relation.</p>
 
<p>Le vocabulaire et le profil d’application laissent la place nécessaire à l’expansion ad hoc, à la combinaison avec d’autres vocabulaires et à une éventuelle normalisation plus ciblée à l’avenir.</p>
 
<p>Le profil d’application n’est pas axé sur une application ou un cas d’utilisation spécifique, mais est plutôt de nature générale : il ne contient que des connexions inhérentes à la signification des termes inclus.<p>
{% endblock %}
