{% extends "voc2_fr.j2" %}

{% block summary %}
<p>Le vocabulaire des permis environnementaux fournit un cadre conceptuel de base normalisé pour le domaine des permis environnementaux. Ce vocabulaire devrait promouvoir l’échange et l’interconnexion (interopérabilité) des informations relatives aux autorisations, et contribuer à une compréhension commune claire et à éviter les malentendus et les malentendus entre les parties prenantes, y compris diverses autorités publiques et le grand public.</p>
 
<p>Le vocabulaire n’est certainement pas exhaustif, dans le sens où il n’englobe pas l’ensemble du domaine en détail.</p>
 
<p>Le vocabulaire se concentre principalement sur le cœur juridique de la question : l'« épine dorsale » de la politique en matière de permis environnementaux, pour ainsi dire. En bref, il s’agit des actes juridiques et des faits juridiques qui produisent et font évoluer la situation autorisée, de leur signification juridique et matérielle au regard des actes et des activités réglementés par la politique de permis environnementaux, et des différentes dimensions qualitatives et spatio-temporelles qui constituent les principaux points de départ de questionnement et de mise en relation.</p>
 
<p>Le vocabulaire laisse la place nécessaire à l’expansion ad hoc, à la combinaison avec d’autres vocabulaires et à une éventuelle standardisation plus ciblée à l’avenir.</p>
{% endblock %}

{% block license %}
<p>
<spanrel="dct:type"property="dct:title"href="http: purl.org/dc/dcmitype/text"xmlns:dct="http://purl.org/dc/terms/">Cette spécification de <a rel="cc:attributionURL" property="cc:attributionName" href="https://www.vlaanderen.be/digitaal-vlaanderen" xmlns:cc="http://creativecommons.org/ns#">Digitaal Vlaanderen</a> est publiée sous <a href="{{ metadata.license }}" rel="license">le titre « Model license Free Reuse - v1.0 ».</a></p></spanrel="dct:type"property="dct:title"href="http:>
{% endblock %}