{% extends "ap2_de.j2" %}

{% block summary %}
<p>Das Anwendungsprofil "Umweltgenehmigung" baut auf dem Vokabular der Umweltgenehmigung auf. Das Vokabular bildet einen standardisierten konzeptionellen Kernrahmen für den Bereich der Umweltgenehmigungen, das Anwendungsprofil stellt die wichtigsten Verbindungen zwischen diesen Konzepten her.</p>
 
<p>Zusammen mit dem Vokabular sollte dieses Anwendungsprofil den Austausch und die Vernetzung (Interoperabilität) von Zulassungsinformationen fördern und zu einem klaren gemeinsamen Verständnis und zur Vermeidung von Missverständnissen und Missverständnissen zwischen Interessenträgern, einschließlich einer Vielzahl von Behörden und der breiten Öffentlichkeit, beitragen.</p>
 
<p>Das Vokabular und das Anwendungsprofil erfassen den rechtlichen Kern, der das "Rückgrat" der Umweltgenehmigungspolitik bildet. Kurz gesagt, es handelt sich um die Rechtsakte und rechtlichen Tatsachen, die die lizenzierte Situation erzeugen und weiterentwickeln, ihre rechtlich-materielle Bedeutung in Bezug auf Handlungen und Tätigkeiten, die im Rahmen der Umweltgenehmigungspolitik geregelt sind, und die verschiedenen qualitativen und räumlich-zeitlichen Dimensionen, die die Hauptausgangspunkte für die Hinterfragung und Verknüpfung bilden.</p>
 
<p>Das Vokabular und das Anwendungsprofil lassen den nötigen Spielraum für ad-hoc-Erweiterungen, Kombinationen mit anderen Vokabularen und ggf. in Zukunft weitere, fokussiertere Standardisierungen.</p>
 
<p>Das Anwendungsprofil ist nicht auf eine bestimmte Anwendung oder einen bestimmten Anwendungsfall fokussiert, sondern eher allgemeiner Natur: Es enthält nur Verbindungen, die der Bedeutung der enthaltenen Begriffe inhärent sind.<p>
{% endblock %}
