{% extends "voc2_en.j2" %}

{% block summary %}
<p>The OSLO Soil & Subsoil Interpretations vocabulary includes terms to describe Observations regarding Soil and Subsoil of the type of Interpretation.</p>
<p>These are mainly observations that describe the stratification of the subsurface, in the first place the stratigraphic and lithological features, but also the anthropogenic and geotechnical layers are discussed.  </p>
<p>Spatial ranges allow the variation of these layers in depth to be described, with the characteristics of each layer, such as soil type, geological formation, water lining, etc. These attributes are usually transmitted in encrypted form.  </p>
<p>These are observations of the type of Interpretation because they are usually personal judgments, albeit reasoned and based on theoretical knowledge or on the processing of other rough observations.  </p>
{% endblock %}
