{% extends "ap2_fr.j2" %}

{% block summary %}
    <p>Il s’agit d’un profil d’application de base dans le <a href="https://data.vlaanderen.be/ns/dossier" target="_blank">vocabulaire du dossier OSLO.</a></p>

    <p>Le modèle d’information conceptuel constitue la base de l’échange de données de dossier entre les différents services. Il définit un certain nombre d’entités abstraites, de propriétés pertinentes et de leurs interrelations. Ce modèle d’information conceptuel constitue la base que les développeurs et les gestionnaires de bases de données peuvent développer en un modèle de données physique. Le vocabulaire donne un aperçu de la terminologie utilisée et des définitions associées, le profil d’application de base rassemble ces termes dans une spécification générique pour l’échange de données.</p>

    <p>À titre d’illustration, des exemples de cas d’utilisation sont élaborés dans <a href="https://data.vlaanderen.be/standaarden/kandidaat-standaarden/applicatieprofiel-dossier/OSLO-Dossier_html-documentatie_use-cases.pdf" target="_blank">ce document.</a></p>
{% endblock %}

{% block license %}
    <p><span rel="dct:type" property="dct:title" href="http://purl.org/dc/dcmitype/Text" xmlns:dct="http://purl.org/dc/terms/">Cette spécification</span> de <a rel="cc:attributionURL" property="cc:attributionName" href="http://vlaanderen.be/facilitairbedrijf" xmlns:cc="http://creativecommons.org/ns#">Het Facilitair Bedrijf</a> est publiée sous le <a href="https://overheid.vlaanderen.be/sites/default/files/documenten/ict-egov/licenties/hergebruik/modellicentie_gratis_hergebruik_v1_0.html" rel="license">nom de « Model License Free Reuse - v1.0 ».</a></p>
{% endblock %}