{% extends "voc2_fr.j2" %}

{% block summary %}
<p>Le vocabulaire Capteurs et échantillonnage contient la terminologie nécessaire pour décrire les instruments d’observation utilisés pour effectuer des observations et également pour documenter l’activité de prélèvement d’échantillons spatiaux ou physiques représentatifs.</p>
<p>La plupart d’entre eux sont basés sur la terminologie externe basée sur <a href="https://www.w3.org/TR/vocab-ssn/">l’ontologie SSN du W3C</a> et <a href="https://www.w3.org/TR/vocab-ssn-ext/">ses extensions.</a> Celles-ci s’appuient sur la terminologie de <a href="https://www.iso.org/standard/32574.html">la norme ISO 19156:2011 Observations et mesures</a>. De plus, une classe a été réutilisée à partir de <a href="https://saref.etsi.org/core/v3.1.1/">l’ontologie SAREF</a> pour décrire les avions.</p>
{% endblock %}
