{% extends "voc2_en.j2" %}

{% block summary %}
<p>The OSLO Data Quality vocabulary is based on <a href="”" https://www.iso.org/standard/32575.html”="">ISO19157:2013</a>, a standard for describing data quality.</p>
<p>ISO19157 is intended for geographic data, but is in line with what <a href="”" https://www.iso.org/standard/35736.html”="">ISO:25012</a> (standard for describing the data quality of software products) means by "system-independent data quality". </p>
<p>The vocabulary provides terms to describe the extent to which data is potentially suitable for a particular use. .</p>
<p>Quality element and its subclasses describe various aspects of quality such as accuracy, completeness and consistency and further subdivisions thereof described in ISO1957 (see <a href="”" https://def.isotc211.org/ontologies/iso19157/2013/dataquality_2.rdf”="">isotc211:DataQuality</a> for the corresponding uri's). .</p>
<p>In addition to the quality itself, it is possible to specify which quality measure was used and with which method it was calculated. .</p>
<p>The quality can be expressed quantitatively or textually described, or it can be indicated whether the data is compliant or not. .</p>
{% endblock %}
