{% extends "voc2_en.j2" %}

{% block summary %}
<p>The vocabulary OSLO-Room Reservation defines terms specific to the domain of room reservations, 
with a focus on unique classes and properties that support this context. 
The classes <strong>Infrastructure Reservation</strong>, <strong>Infrastructure Reservation Service</strong>, and <strong>Infrastructure Reservation Status</strong>, 
which together form the basis for describing the reservation processes and the associated services.</p>

<p>The <strong>Infrastructure Reservation</strong> Service provides detailed descriptions of the services and procedures required to manage such reservations, including 
while the <strong>Infrastructure Reservation Status</strong> is used to track the progress of a reservation, using terms such as request, pending, and approved.</p>

<p>To determine the specific location and circumstances of a reservation, the vocabulary uses the class <strong>Inventory of Fixtures</strong>. 
This class provides a comprehensive description of the physical location that is reserved, such as the specific room or the characteristics of the space.</p>

<p>The vocabulary also includes a unique feature, <em>Vehicle Type</em>,
which allows for the inclusion of specific requirements or restrictions regarding transport and access in the context of the reservation.</p>

<p>In addition, there are properties such as <strong>Cancellation Policy</strong> and <strong>Attachment</strong>
that provide additional context for the conditions under which things like cancellations can take place, and what documents may be involved.</p>

<p>Unique properties such as <strong>Buffer</strong> and <strong>Reserved for</strong> help specify the preparation time and the specific activities for which the reservation was made.
This creates clarity and conforms the reservation to the intended context of use.</p>

<p>The vocabulary provides a coherent framework that is specially included in terms that are
within the OSLO Room Reservation domain and are not dependent on other OSLO processes.</p>

<p>A detailed explanation and application of these terms within the context of room reservations can be found in 
the <a href="https://data.vlaanderen.be/doc/applicatieprofiel/zaalreservatie/" target="_blank">OSLO Room Reservation application profile</a>.</p>{% endblock %}

{% block status %}
<p>(Remove this block to allow an automated default paragraph to appear.)</p>
{% endblock %}
