{% extends "ap2_de.j2" %}

{% block summary %}
<p>Das Anwendungsprofil Boden- und Untergrundbeobachtungen erläutert, wie die Terminologie aus dem entsprechenden <a href="https://data.vlaanderen.be/ns/bodem-en-ondergrond/observaties/">Vokabular</a> verwendet werden sollte, um Daten zu spezialisierten Boden- und Untergrundbeobachtungen auszutauschen. </p>
<p>Das Anwendungsprofil baut unter anderem auf dem Anwendungsprofil <a href="https://data.vlaanderen.be/doc/applicatieprofiel/sensoren-en-bemonstering">OSLO Sensors and Sampling</a> auf. </p>
<p>Für Beobachtungen, die generisch sind, z.B. solche der sogenannten Erkennung (Bodenart, Humusgehalt, Volumenmasse, etc.), sind die Klassen Sensoren und Probenahme ausreichend. </p>
<p>Dies ist bei den Beobachtungen in diesem Anwendungsprofil nicht der Fall, die normalerweise in einem Labor mit Spezialgeräten stattfinden: die Bestimmung der Kornverteilung oder geotechnischer Eigenschaften wie Permeabilität, Kompressibilität oder Scherwiderstand. </p>
<p>Für diese Analysen werden die notwendigen Klassen und Merkmale zur Verfügung gestellt, in der Regel Spezialisierungen der Klasse Messreihen, da das Ergebnis mit einem bestimmten Parameter variiert, z.B. dem Anteil eines bestimmten Korndurchmessers in einer Bodenprobe oder der Verformung einer Probe mit zunehmendem Druck. </p>
<p>Die Analysen beziehen sich in der Regel auf Bodenproben, für die Beschreibung dieser beziehen wir uns jedoch auf das Anwendungsprofil Bodenbohrung. </p>
<p>Dieses Anwendungsprofil betrifft nicht Interpretationen, d.h. Beobachtungen, die ein begründetes persönliches Urteil erfordern, die im <a href="https://data.vlaanderen.be/doc/applicatieprofiel/bodem-en-ondergrond/interpretaties">Anwendungsprofil OSLO Boden- und Untergrundinterpretationen</a> behandelt werden. </p>
{% endblock %}
