{% extends "ap2_fr.j2" %}

{% block summary %}
<p>Le profil d’application Sol et sous-sol explique comment utiliser la <a href="https://data.vlaanderen.be/ns/bodem-en-ondergrond">terminologie</a> qui est également fournie pour échanger des observations spécifiquement pour le domaine Sol et Sous-sol (mais toujours suffisamment générique pour être utile pour d’autres sous-domaines de Sol et Sous-sol).</p>
<p>Il s’agit, par exemple, des BO_RuimtelijkBemonsteringsobject qui ajoutent des attributs tels que le niveau du sol et la profondeur à l’objet d’échantillonnage spatial à partir <a href="https://data.vlaanderen.be/doc/applicatieprofiel/observaties-en-metingen">d’observations et de mesures</a> .</p>
<p>Toujours pour le domaine Sol et sous-sol, le profil d’objet d’échantillonnage spatial à partir des observations et mesures a été élargi avec des éléments de profil dans le but de mieux décrire les parties des profils telles que les couches.</p>
<p>En plus des gammes qui peuvent documenter les variations des phénomènes dans l’espace et le temps, il y avait également un besoin de séries de mesures « ordinaires » dans le domaine du sol et du sous-sol, où le phénomène peut être fonction d’un paramètre arbitraire. Pour cette raison, nous avons ajouté la série de mesures et la spécialisation largement utilisée dans la mesure de fractions.</p>
{% endblock %}
