{% extends "voc2_en.j2" %}

{% block summary %}
<p>This vocabulary defines a number of terms to describe ActualAssociations.</p>
<p>A Fact-Finding Association is defined as an Organization that, like other Associations, serves a disinterested purpose. The difference is that a De facto Association is not registered as a legal entity, it is merely an Association because the members undertake activities together.</p>
<p>Actual Associations can be recognized, which gives them a formal character without being a legal entity.</p>
<p>In order to be able to make use of Public Services, e.g. the lending of sports equipment from a local government, it may be sufficient to provide some basic information, but sometimes this Recognition is also necessary.</p>
<p>The processing of the Application for Recognition and the final recognition is done by a Public Organisation. In order to obtain the Recognition, certain proofs must be provided by the Actual Association on the basis of specific criteria.</p>
<p>The vocabulary also makes it possible to describe who is a member of the Factual Association and/or who is responsible (and what that responsibility is).</p>
<p>Finally, it is possible to describe which Public Services have been requested by the Fact-Association.</p>
<p>The vocabulary reuses terms from the <a href="https://data.vlaanderen.be/ns/organisatie">OSLO Organisation</a> vocabulary and <a href="https://data.vlaanderen.be/ns/organisatiehttps://data.vlaanderen.be/ns/dienst">OSLO Service Catalogue</a>.</p>
{% endblock %}
