{% extends "ap2_en.j2" %}

{% block summary %}
    <p>This is a basic application profile on the <a href="https://data.vlaanderen.be/ns/dossier" target="_blank">OSLO Dossier Vocabulary.</a></p>

    <p>The conceptual information model forms the basis for the exchange of dossier data between different departments. It defines a number of abstract entities, relevant properties, and their interrelationships. This conceptual information model forms the basis for developers and database managers to further develop into a physical data model. The vocabulary provides an overview of the terminology used and the associated definitions, the basic application profile brings these terms together in a generic specification for data exchange.</p>

    <p>To illustrate, example use cases are elaborated in <a href="https://data.vlaanderen.be/standaarden/kandidaat-standaarden/applicatieprofiel-dossier/OSLO-Dossier_html-documentatie_use-cases.pdf" target="_blank">this document.</a></p>
{% endblock %}

{% block license %}
    <p><span rel="dct:type" property="dct:title" href="http://purl.org/dc/dcmitype/Text" xmlns:dct="http://purl.org/dc/terms/">This specification</span> of <a rel="cc:attributionURL" property="cc:attributionName" href="http://vlaanderen.be/facilitairbedrijf" xmlns:cc="http://creativecommons.org/ns#">Het Facilitair Bedrijf</a> is published under the <a href="https://overheid.vlaanderen.be/sites/default/files/documenten/ict-egov/licenties/hergebruik/modellicentie_gratis_hergebruik_v1_0.html" rel="license">"Model License Free Reuse - v1.0".</a></p>
{% endblock %}