{% extends "voc2_en.j2" %}

{% block summary %}
<p>The "OSLO Digital Water Meter" vocabulary defines terms specifically for the management and monitoring of water consumption via digital water meters. It describes characteristic features of digital water meters, including the components such as consumption observation, sensors and meters. These terms have been adapted to accurately describe the (drinking) water consumption. This vocabulary is tailored to OSLO models IMKL (Information Model Cables and Pipes), focused on the specific requirements and functionalities of digital water meters.</p>
{% endblock %}


