{% extends "ap2_fr.j2" %}

{% block summary %}
<p>Le profil d’application Forage de sol explique comment la <a href="https://data.vlaanderen.be/ns/grondboringen/">terminologie</a> de ce domaine doit être utilisée pour échanger des données sur le forage en plein sol ou plus généralement sur l’échantillonnage du sol.</p>
<p>Le profil d’application <a href="https://data.vlaanderen.be/doc/applicatieprofiel/bodem-en-ondergrond/sensoren-en-bemonstering">s’appuie sur le profil d’application OSLO Sensors and Sampling</a>, entre autres.<p>Ce sous-domaine concerne l’activité de Forage en Sol & Sous-sol. Son but est généralement d’échantillonner le sol et le sous-sol verticalement en vue de déterminer les changements de profondeur en termes de stratification, de lithologie, etc. </p>
<p>Cela se fait en analysant des échantillons de sol ou en effectuant des observations à différentes profondeurs. </p>
<p>Le forage qui en résulte permet également d’héberger des appareils pour une surveillance plus permanente ou pour une exploitation. </p>
<p>Le forage est une activité spécialisée qui se déroule généralement dans un cadre juridique et avec un équipement et un personnel spéciaux.</p>
{% endblock %}
