{% extends "ap2_en.j2" %}

{% block summary %}
<p>The OSLO-Person application profile brings together terms from people vocabularies and mainly from the <a href="/ns/persoon">OSLO-Person vocabulary</a>.</p>
<p>In principle, an application profile has a certain application in mind and for that purpose additional constraints are imposed such as cardinalities and prescribed code lists. That is not the case here, so we speak of a basic profile. It contains the information that is considered relevant within OSLO for the exchange of data about individuals. This does not alter the fact that the profile brings together terms that we mainly see in the context of a population register.</p>
<p>The profile includes terms related to the identification of a person (name, gender, date of birth) but also terms that describe the civil law characteristics of persons (personal relationships such as marriage, family and relations with the state such as citizenship and residence). For more details, please refer to the OSLO-Person vocabulary.</p>
<p>The profile imposes minimal restrictions, only the data that identifies the person are mandatory. There are currently no prescribed code lists.</p>
{% endblock %}

{% block status %}
<p>This application profile serves to clarify the specific use of the entities relevant to the described application.</p>
<p>This document was published as a Candidate Standard. The specification described in this document is currently undergoing a period of public review, during which no changes will be made to this specification.<br/>This document is intended to become a standard in the described domain. Nevertheless, it does not currently have an official statute and does not represent a consensus within OSLO.</p>
{% endblock %}

{% block conformance %}
<p>An application profile is a data exchange specification that introduces additional restrictions on the application of vocabularies.
Such additional restrictions may include the following elements:</p>
<p>
<ul>
<li>refinement of the terminology (classes and properties) consistent with the semantics of the relevant specifications with a specific use as a goal;</li>
<li>External terminology (classes and properties) used for new/additional terms that do not exist in the existing vocabularies.</li>
</ul>
</p>
<p>To be compliant with this application profile, an implementation must:</p>
<p>
<ul>
<li>MUST always contain the properties that have a minimum cardinality of 1 for each class.</li>
<li>MUST NOT contain more than 1 instance of traits that have 1 as the maximum cardinality.</li>
<li>MAG uses terminology (classes and properties) in a way that is consistent with its semantics (definition, use, domain, and scope).</li>
<li>MUST NOT use terminology from controlled vocabularies other than that defined in this application profile.</li>
<li>MAG can be extended with classes and properties of other data models (vocabularies) that do not overlap with terminology from this application profile.</li>
</ul>
</p>  
{% endblock %}

