{% extends "ap2_en.j2" %}

{% block summary %}
<p>The application profile shows how the terms from the <a href="https://data.vlaanderen.be/ns/datakwaliteit/">OSLO vocabulary Data Quality</a> (which is based on <a href="https://www.iso.org/standard/32575.html">ISO19157:2013</a>) should be used to describe data quality.</p>
<p>This application profile makes it possible to describe the quality of data, i.e. the extent to which data is potentially suitable for a certain use. </p>
<p>We only retained what is necessary to describe aspects of quality at the smallest granular level, e.g. the positional accuracy of a location but not that of an entire geographic dataset. </p>
<p>Aspects such as purpose, use and origin of data fall under metadata and are not considered here. </p>
<p>The profile revolves around the Quality Element class, of which the authorities describe a certain quality aspect by means of a certain measure obtained according to a certain method. </p>
<p>The aspects are classified as subclasses of Quality Element and include things like accuracy, completeness, and consistency. For subclasses of these, please refer to ISO1957 and the corresponding URIs in <a href="https://def.isotc211.org/ontologies/iso19157/2013/DataQuality_2.rdf">isotc211:DataQuality</a>.</p>
<p>An individual quality aspect is considered to be an observation with a quantitative result or a declaration of conformity or a description of quality. </p>
<p>It may include an indication of the method that led to that result and a reference to the measure used to express the quality. </p>
{% endblock %}
