{% extends "voc2_en.j2" %}

{% block summary %}
<p>This vocabulary describes the terminology needed to describe financial reports and some of the data streams in which they are involved. <p>
<p>The following information is captured about the financial report: the financial facts it contains, the financial concept behind the fact (e.g. assets, turnover, costs, usually based on an imposed schedule), the context in which the fact must be viewed (e.g. the period to which the fact relates), if applicable. the dimensions that apply (e.g. time, region, product). </p>
<p>As far as the financial report is concerned, the terminology is based on a well-known standard in this domain, namely <a href="https://www.xbrl.org/Specification/XBRL-2.1/REC-2003-12-31/XBRL-2.1-REC-2003-12-31%2Bcorrected-errata-2013-02-20.html">XBRL</a> and a <a href="https://www.xbrl.org/specification/dimensions/rec-2012-01-25/dimensions-rec-2006-09-18%2Bcorrected-errata-2012-01-25-clean.html">sub-standard thereof, namely XBRL-Dimensions.</a> </p>
<p>As far as the data flows are concerned, there are terms to describe the filing of a financial report as well as the various validation steps it goes through, e.g. for approval of a grant. A financial report can also be linked to a file. </p>
{% endblock %}
