{% extends "ap2-metadata_en.j2" %}

{% block summary %}
<p>Fill in a summary of my application profile here.</p>
{% endblock %}

{% block status %}
<p>(Remove this block to allow an automated default paragraph to appear.)</p>
{% endblock %}
