{% extends "ap2_fr.j2" %}

{% block summary %}
<p>Le profil d’application du sol explique comment la terminologie de ce domaine doit être utilisée pour l’échange de données sur les observations de sol.</p>
<p>Le profil d’application <a href="https://data.vlaanderen.be/doc/applicatieprofiel/bodem-en-ondergrond/sensoren-en-bemonstering">s’appuie sur le profil d’application OSLO Sensors and Sampling</a>, entre autres.<p>Ce sous-domaine concerne l’échantillonnage et l’observation des sols. </p>
<p>L’échantillonnage est effectué à des endroits du sol (parfois plus spécialisés comme forage de sol ou puits profilé).</p>
<p>En plus de l’analyse d’échantillons de sol, le profil du sol est déterminé et le sol dans son ensemble est classé selon différents systèmes de classification des sols. </p>
<p>Le profil d’un sol à la suite d’une observation se compose d’horizons et de couches qui peuvent également être échantillonnés ou observés séparément. </p>
<p>Dans ce domaine également, il y a des observations qui peuvent être décrites de manière générique. </p>
{% endblock %}
