{% extends "ap2_en.j2" %}

{% block summary %}
<p>The Soil Drilling application profile explains how the <a href="https://data.vlaanderen.be/ns/grondboringen/">terminology</a> in this domain should be used to exchange data on drilling in the ground or more generally sampling the soil.</p>
<p>The application profile builds on <a href="https://data.vlaanderen.be/doc/applicatieprofiel/bodem-en-ondergrond/sensoren-en-bemonstering">the OSLO Sensors and Sampling application profile</a>, among other things.<p>This subdomain relates to the activity of Drilling in Soil & Subsoil. Its purpose is typically to sample Soil & Subsoil vertically with a view to determining changes in depth in terms of stratification, lithology, etc. </p>
<p>This is done by analyzing soil samples or performing observations at different depths. </p>
<p>The resulting borehole also allows devices to be hosted for more permanent monitoring or for exploitation. </p>
<p>Drilling is a specialised activity that usually takes place within a Legal Framework and with special equipment and personnel.</p>
{% endblock %}
