{% extends "ap2_en.j2" %}

{% block summary %}
<p>The Sensors and Sampling application profile explains how the <a href="https://data.vlaanderen.be/ns/sensoren-en-bemonstering#">terminology</a> should be used to exchange data on observation instruments with which Observations are carried out and on the activity of obtaining representative spatial or physical samples.</p><p>This application profile is based on <a href="https://www.w3.org/TR/vocab-ssn/">the W3C SSN ontology</a> and its <a href="https://www.w3.org/TR/vocab-ssn-ext/">extensions</a>. It also builds on <a href="https://data.vlaanderen.be/doc/applicatieprofiel/bodem-en-ondergrond/observaties-en-metingen">the OSLO Observations and Measurements application profile</a>.<p>Observation is taken from Observations & Measurements with its characteristics, but Process (this is the Procedure used in an Observation) is split into Sensor (the instrument with which the observation is made) and Observation Procedure (the method by which the Observation is made).</p>
<p>Sampling objects (location and Sample) are also still there but are now the result of a Sampling (activity), just like Observation (which is also an activity) with a Sampler (the instrument with which the Sampling is done) and a sampling Procedure (the method followed when Sampling).</p>
<p>Observations can now also be grouped in an Observation Collection, possibly specifying the Observation attribute on which they are grouped (e.g. the same location or the same observed Characteristic).</p>
<p>Sensors are a specialization of System, which allows to specify the characteristics ve Sensor, e.g. the resolution or the measuring range.</p>
<p>A Device is also added as a subclass of System, which allows a Sensor (which is also a System) to be viewed as a device (with a brand name or a manufacturer, for example).</p>
{% endblock %}
