{% extends "ap2_en.j2" %}

{% block summary %}
<p>This application profile can be used to describe the results and intermediate results of the step-by-step process of making, processing and interpreting thermographic scans of buildings
.</p>
<p>It was developed as part of thermographic building analysis projects, in which a vehicle equipped with a thermographic camera scans building facades to identify areas of energy loss. This data is then processed to provide homeowners with targeted renovation advice. Instead of time-consuming manual data processing, automatic processing by means of AI is now being pursued.</p>
<p>To capture the actual Observation and associated information about the Observation Procedure, the Observable Feature, the observed Object and the Sensor, classes from the internationally recognized <a href="https://www.w3.org/TR/vocab-ssn/">Semantic Sensor Network Ontology (SSNO),</a> tailored to <a href="https://docs.ogc.org/as/20-082r4/20-082r4.html">ISO19156</a>, were used. An Observation is performed with a Sensor and more specifically for thermographic scans with a thermographic Camera and GNSS Receiver in a given Setup. These are provided as subclasses of Sensor in addition to MachineLearningModel, a class from <a href="https://semiceu.github.io/MLDCAT-AP/releases/2.0.0/">MLDCAT-AP</a> that can be used to describe the AI model if it has been used for the interpretation of the images.</p>
<p>With the exception of image calibration, each step in the process can be represented by an instance of the Observation class, ranging from the actual recording of the video, the extraction of a specific localized frame from it, the identification of the façade elements in that frame to the determination of the heat loss of an element and its classification. This is how we arrive at an advice on heat loss in a building consisting of a set of classifications of façade elements, combined in an Observation Collection.</p>
<p>The Objects that are observed are the roads or streets that were filmed with the thermographic camera (not explicitly in the model), the Video that results from it, the localized frame from it (represented by an object of the type Photo), the Building or Building Unit that corresponds to the frame and its façade elements whose individual heat loss will be determined and classified.</p>
<p>Video and Photo can be described as Information Objects (a class from <a href="https://cidoc-crm.org/">CIDOC-CRM)</a> and their subclasses provided for such objects in <a href="https://cidoc-crm.org/frbroo/">LRM</a> (see also <a href="https://data.vlaanderen.be/doc/applicatieprofiel/cultureel-erfgoed-object/">OSLO Cultural Heritage</a> and <a href="https://data.vlaanderen.be/doc/implementatiemodel/cultureel-erfgoed-basisregistratie/">OSLO Cultural Heritage Key Registration</a>). Building and Building Unit are classes from <a href="https://data.vlaanderen.be/ns/gebouw/">OSLO Building</a> and for the façade elements we use classes BIM_Gebouw and BIM_Element from the <a href="https://www.buildingsmart.org/standards/bsi-standards/industry-foundation-classes/">Industry foundation Classes</a> (IFC) and the corresponding <a href="https://standards.buildingsmart.org/IFC/DEV/IFC4/ADD2_TC1/OWL/index.html">ontology</a>.</p>
<p>For more information about the concrete use of this standard, we refer to detailed data examples per process step in <a href="https://github.com/Informatievlaanderen/OSLOthema-thermAI/tree/main/resources/Datavoorbeelden">github</a> or in the <a href="https://github.com/Informatievlaanderen/OSLOthema-thermAI/blob/main/resources/ModelleerrapportThermAI.pdf">modelling report</a>.  </p>
{% endblock %}
