{% extends "ap2_de.j2" %}

{% block summary %}
<p>Das Anwendungsprofil Boden erläutert, wie die Terminologie in diesem Bereich für den Austausch von Daten über Bodenbeobachtungen verwendet werden sollte.</p>
<p>Das Anwendungsprofil baut unter anderem <a href="https://data.vlaanderen.be/doc/applicatieprofiel/bodem-en-ondergrond/sensoren-en-bemonstering">auf dem Anwendungsprofil OSLO Sensors and Sampling</a> auf.<p>Dieser Teilbereich bezieht sich auf die Probenahme und Beobachtung des Bodens. </p>
<p>Die Probenahme wird an Bodenstandorten durchgeführt (manchmal weiter spezialisiert als Bodenbohrloch oder Profilbrunnen).</p>
<p>Neben Analysen von Bodenproben wird das Bodenprofil bestimmt und der Boden als Ganzes nach verschiedenen Bodenklassifikationssystemen klassifiziert. </p>
<p>Das Profil eines Bodens als Ergebnis einer Beobachtung besteht aus Horizonten und Schichten, die auch separat beprobt oder betrachtet werden können. </p>
<p>Auch in diesem Bereich gibt es Beobachtungen, die allgemein beschrieben werden können. </p>
{% endblock %}
