{% extends "ap2_de.j2" %}

{% block summary %}
<p>Im Anwendungsprofil Grundwasserüberwachungsnetz wird erläutert, wie die Terminologie in diesem Bereich verwendet werden sollte, um Daten über Grundwasserbeobachtungen auszutauschen.</p>
<p>Das Anwendungsprofil baut unter anderem <a href="https://data.vlaanderen.be/doc/applicatieprofiel/bodem-en-ondergrond/sensoren-en-bemonstering">auf dem Anwendungsprofil OSLO Sensors and Sampling</a> auf.<p>Dieser Teilbereich bezieht sich auf die Überwachung des Grundwasserspiegels und der Grundwasserqualität.  </p>
<p>Der Füllstand wird in sogenannten Überwachungsbrunnen gemessen, in der Regel werden offene oder geschlossene Piezometer in diesen Vertiefungen platziert. </p>
<p>Die Überwachung kann manuell oder automatisch mit Sensoren erfolgen.  </p>
<p>Die Qualität wird durch die Beobachtung verschiedener Qualitätsparameter an Grundwasserproben bestimmt, die in den Brunnen und den Piezometern gewonnen werden. </p>
<p>Die Piezometer sind in sogenannten Monitoring Networks organisiert. </p>
{% endblock %}
