{% extends "ap2_de.j2" %}

{% block summary %}
<p>Dieses Anwendungsprofil ermöglicht die Beschreibung von Kultur- und Jugendinfrastruktur und kann für den Austausch von Infrastrukturdaten genutzt werden.</p>
<p>Als zentrale Klasse gibt es die Infrastruktur, die in einer Hierarchie mittels Sub-/Super-Beziehungen abgebildet werden kann. Diese Infrastruktur kann sich weiter auf Angelegenheiten wie ein Gebäude, einen Innen- oder Außenbereich spezialisieren.</p>
<p> Eine Aktivität oder Sache kann mit dieser Infrastruktur verknüpft sein. </p>

<p>Angelegenheiten wie Eigentum, Verwaltung, Nutzung und Reservierung werden ebenfalls beschrieben. </p>

<p> Es wird unter anderem auch beschrieben, was die Barrierefreiheit ist, was die Barrierefreiheit ist usw. </p>

<p>Das Anwendungsprofil verwendet Begriffe und die Art und Weise, wie sie aus dem 
Anwendungsprofil <a href="https://data.vlaanderen.be/doc/applicatieprofiel/organisatie-basis/">OSLO-Organisation</a>, 
<a href="https://data.vlaanderen.be/doc/applicatieprofiel/cultureel-erfgoed-object">OSLO-Kulturerbe:Objekt</a>, 
<a href="https://data.vlaanderen.be/doc/applicatieprofiel/persoon-basis/">OSLO Person</a>, 
<a href="https://purl.eu/doc/applicationprofile/consent/">OSLO-Einwilligung</a>,  
<a href="https://data.vlaanderen.be/doc/applicatieprofiel/FeitelijkeVerenigingen/kandidaatstandaard/2021-06-22">OSLO Association, Aktuell</a>
<a href="https://data.vlaanderen.be/doc/applicatieprofiel/doelgericht-digitaal-transformeren">OSLO-zweckorientierte digitale Transformation</a>,
<a href="https://data.vlaanderen.be/doc/applicatieprofiel/dienst-transactiemodel/">OSLO Service</a>,
<a href="https://data.vlaanderen.be/standaarden/standaard-in-ontwikkeling/applicatieprofiel-observaties-en-metingen.html">OSLO Beobachtungen und Messungen</a>,
<a href="https://data.vlaanderen.be/standaarden/kandidaat-standaard/applicatieprofiel-gebouwenregister.html">OSLO Building</a> und
<a href="https://data.vlaanderen.be/doc/applicatieprofiel/perceel/">OSLO-Plot</a>.</p>

<p>Eine formellere Beschreibung der Begriffe findet sich im Vokabular OSLO-Culture & Youth Infrastructure.</p>
{% endblock %}
