{% extends "voc2_de.j2" %}

{% block summary %}
<p>Dieses Vokabular definiert eine Reihe von Begriffen, um Kultur und Jugendinfrastruktur zu beschreiben.</p>

<p>Das Anwendungsprofil verwendet Begriffe und die Art und Weise, wie sie aus dem 
Anwendungsprofil <a href="https://data.vlaanderen.be/standaarden/kandidaat-standaard/applicatieprofiel-organisatie-basis.html">OSLO-Organisation</a>, 
<a href="https://data.vlaanderen.be/standaarden/erkende-standaard/applicatieprofiel-cultureel-erfgoed-object.html">OSLO-Kulturerbe:Objekt</a>, 
<a href="https://data.vlaanderen.be/standaarden/kandidaat-standaard/applicatieprofiel-persoon-basis.html">OSLO Person</a>, 
<a href="https://data.vlaanderen.be/standaarden/standaard-in-ontwikkeling/vocabularium-en-applicatieprofiel-oslo-consent.html">OSLO-Einwilligung</a>, 
<a href="https://data.vlaanderen.be/standaarden/kandidaat-standaard/applicatieprofiel-besluit-subsidies.html">OSLO Grant</a> und 
<a href="https://data.vlaanderen.be/standaarden/kandidaat-standaard/applicatieprofiel-feitelijke-verenigingen.html">OSLO Association, Aktuell</a>
<a href="https://data.vlaanderen.be/standaarden/standaard-in-ontwikkeling/applicatieprofiel-doelgericht-digitaal-transformeren.html">OSLO-zweckorientierte digitale Transformation</a>,
<a href="https://data.vlaanderen.be/standaarden/erkende-standaard/applicatieprofiel-dienst-transactiemodel.html">OSLO Service</a>,
<a href="https://data.vlaanderen.be/standaarden/standaard-in-ontwikkeling/applicatieprofiel-observaties-en-metingen.html">OSLO Beobachtungen und Messungen</a>,
<a href="https://data.vlaanderen.be/standaarden/kandidaat-standaard/applicatieprofiel-gebouwenregister.html">OSLO Building</a> und
<a href="https://data.vlaanderen.be/standaarden/erkende-standaard/applicatieprofiel-perceel.html">OSLO-Plot</a>.</p>

{% endblock %}

{% block status %}

{% endblock %}
