{% extends "voc2_en.j2" %}

{% block summary %}
<p> The vocabulary of OSLO Publication-Advertisement is a collection of all the different elements that are important for standardizing the placement of advertisements and publications</p>
<p>Most of the terms were mapped to several existing standards: <a href="https://www.cidoc-crm.org/">CIDOC-CRM</a> and <a href="https://www.cidoc-crm.org/frbroo/home-0">FRBRoo</a>.</p>
<p>In addition, this vocabulary defines some of its own terms. These can be found under Classes and Properties, while the mapped terms are listed under External Terminology.</p>
{% endblock %}
