{% extends "ap2_en.j2" %}

{% block summary %}
<p>The OSLO Publication-Advertisement application profile shows how to use terms from the corresponding vocabulary to exchange data about campaigns, publications and advertisements between individuals, registered and public organisations.</p>
<p>This standard originated from the Visualo project, <a href="https://www.vlaio.be/nl/vlaio-netwerk/city-things-slimme-steden-en-gemeenten">City of Things</a>. With the Visualo project, the initiators, including the city of Halle, want to create a healthy and attractive city center where local vendors, restaurants, organizations and the people who live there can come together and experience the city in a different way.</p>
<p>The model consists of two different parts: campaign publication and personas.</p>
<p>The first part of the model discusses the campaign and the publications.  A campaign is created through the Campaign class, while the content of the ad is in the InformationObject class. The publication of the advertisement is captured by class PublicationEvent. The Distribution class includes information about where, when the ad appears, and who the publication is directed to.</p>
<p>The second part of the model deals with the personas and organizations that are responsible for the creation of the campaign and publication. This is included in the Agent class, which is linked to individuals and/or public/private organizations.</p> 
<p>Enumerations are generally described outside the application profile, so the enumeration values shown in the diagram are illustrative.

{% endblock %}
