{% extends "ap2_de.j2" %}

{% block summary %}
<p>Im Anwendungsprofil Boden und Untergrund wird erläutert, wie die zusätzlich bereitgestellte <a href="https://data.vlaanderen.be/ns/bodem-en-ondergrond">Terminologie</a> für den Austausch von Beobachtungen speziell für den Bereich Boden und Untergrund verwendet wird (aber immer noch generisch genug, um für andere Teilbereiche von Boden und Untergrund nützlich zu sein).</p>
<p>Dies betrifft z. B. BO_RuimtelijkBemonsteringsobject, die Attribute wie Bodenhöhe und Tiefe zu einem räumlichen Probenahmeobjekt aus <a href="https://data.vlaanderen.be/doc/applicatieprofiel/observaties-en-metingen">Beobachtungen und Messungen</a> hinzufügen.</p>
<p>Auch für den Bereich Boden und Untergrund wurde das Spatial Sampling Object Profil aus Beobachtungen und Messungen um Profilelemente erweitert, um Teile von Profilen wie z.B. Layer besser beschreiben zu können.</p>
<p>Neben Bereichen, die Variationen von Phänomenen in Raum und Zeit dokumentieren können, gab es auch einen Bedarf an "gewöhnlichen" Messreihen im Bereich Boden und Untergrund, bei denen das Phänomen eine Funktion eines beliebigen Parameters sein kann. Aus diesem Grund haben wir Messreihen und die weit verbreitete Spezialisierung Fraktionsmessung hinzugefügt.</p>
{% endblock %}
