{% extends "ap2_en.j2" %}

{% block summary %}
<p>The Observations and Measurements application profile explains how the <a href="https://data.vlaanderen.be/ns/observaties-en-metingen">terminology</a> in this domain should be used to exchange data on Observations in general and Measurements (and other specialized Observations) in particular.</p>
<p>This application profile is based on <a href="https://www.iso.org/standard/32574.html">ISO 19156:2011</a>. It also builds on <a href="https://data.vlaanderen.be/doc/applicatieprofiel/bodem-en-ondergrond/ruimtelijke-bereiken">the OSLO Spatial Ranges application profile</a>.</p>
<p>Observations are considered to be the activity that establishes the value ve Characteristic ve Object.</p>
<p>Most of the time, it is not possible to observe the Object in which one is really interested and therefore one observes a part of it (the Sampling Object). That part is a representative place (Spatial Sampling Object of the type Point, Line, Plane, Solid) or a representative Sample.</p>
<p>Observations are not always Measurements (i.e. Observations with a Quantitative Value as a result), the result can also be qualitative (Classification), true/false (Occurence), a number (Count) etc.</p>
<p>A special case (with corresponding specific modeling) is a Range: a datum that varies in space (y=f(location) or SpatialRange) or time (y=f(time) or Time Series).</p>
{% endblock %}
