{% extends "ap2_de.j2" %}

{% block summary %}
<p>Das Anwendungsprofil Grundwassermessnetz erläutert, wie die Terminologie in diesem Bereich verwendet werden sollte, um Daten über Beobachtungen mit Hilfe von CPT auszutauschen.</p>
<p>Das Anwendungsprofil baut unter anderem <a href="https://data.vlaanderen.be/doc/applicatieprofiel/bodem-en-ondergrond/sensoren-en-bemonstering">auf dem Anwendungsprofil OSLO Sensors and Sampling</a> auf.<p>Unter CPT verstehen wir die vertikale Probenahme von Boden und Untergrund durch Einführen einer Sonde in den Boden.   </p>
<p>Diese Sonde misst die Variation mit der Tiefe bestimmter Eigenschaften des Bodens und des Untergrunds, wie z. B. Schichtung, Tragfähigkeit, Verschmutzung usw. </p>
<p>Die Spezialisierungen in diesem Anwendungsprofil konzentrieren sich vor allem auf eine bestimmte Art von CPT: Varianten des Cone Penetration Test (CPT) oder das Eintreiben eines Kegels in den Boden, bei dem auf dem Weg dorthin indirekt oder direkt bestimmte Eigenschaften des Bodens und des Untergrunds identifiziert werden können  </p>
{% endblock %}
