{% extends "ap2_en.j2" %}

{% block summary %}
<p>The Local Economy application profile focuses on collecting, analyzing, and managing data related to footfall-by, sales transactions, and factors that may affect the local economy. </p>

<p>This application profile was developed to semantically model the different data streams related to local economy data and to standardize the structure of such data. It focuses on collecting, analyzing, and managing data related to footfall-by, sales transactions, and all factors that may affect the local economy.</p>
<p>The following information is captured with regard to data relating to the local economy: the transactions that take place at organisations, passers-by data, traffic data, environmental observations (e.g. weather, events, etc.), organised events, etc.</p>
<p>A more formal description of the terms used in the application profile can be found in the <a href="https://data.vlaanderen.be/doc/vocabularium/lokale-economie/">vocabulary OSLO – Local Economy</a>. </p>
{% endblock %}
