{% extends "ap2_de.j2" %}

{% block summary %}
<p>Im Anwendungsprofil "Beobachtungen und Messungen" wird erläutert, wie die <a href="https://data.vlaanderen.be/ns/observaties-en-metingen">Terminologie</a> in diesem Bereich verwendet werden sollte, um Daten über Beobachtungen im Allgemeinen und Messungen (und andere spezialisierte Beobachtungen) im Besonderen auszutauschen.</p>
<p>Dieses Anwendungsprofil basiert auf <a href="https://www.iso.org/standard/32574.html">ISO 19156:2011</a>. Es baut auch auf <a href="https://data.vlaanderen.be/doc/applicatieprofiel/bodem-en-ondergrond/ruimtelijke-bereiken">dem Anwendungsprofil OSLO Spatial Ranges</a> auf.</p>
<p>Beobachtungen gelten als die Aktivität, die den Wert ve Merkmal ve Objekt festlegt.</p>
<p>Meistens ist es nicht möglich, das Objekt zu beobachten, an dem man wirklich interessiert ist, und deshalb betrachtet man einen Teil davon (das Sampling-Objekt). Bei diesem Teil handelt es sich um einen repräsentativen Ort (Spatial Sampling Object vom Typ Punkt, Linie, Ebene, Volumenkörper) oder um ein repräsentatives Sample.</p>
<p>Beobachtungen sind nicht immer Messungen (d.h. Beobachtungen mit einem quantitativen Wert als Ergebnis), das Ergebnis kann auch qualitativ (Klassifikation), wahr/falsch (Vorkommen), eine Zahl (Anzahl) usw. sein.</p>
<p>Ein Sonderfall (mit entsprechender spezifischer Modellierung) ist ein Bereich: ein Datum, das im Raum (y=f(Ort) oder SpatialRange) oder in der Zeit (y=f(Zeit) oder Zeitreihe) variiert.</p>
{% endblock %}
