{% extends "voc2_en.j2" %}

{% block summary %}
<p>The Wage Data vocabulary defines the classes and traits used in the corresponding application profile to describe a person's current income situation.</p>
{% endblock %}
