{% extends "voc2_en.j2" %}

{% block summary %}
<p>The OSLO Soil & Subsurface Observations vocabulary includes terms to describe more specialized Soil and Subsurface Observations. </p>
<p>These are Observations that cannot be described generically with the terms from the vocabulary <a href="https://data.vlaanderen.be/ns/sensoren-en-bemonstering/">OSLO Sensors and Sampling.</a> </p>
<p>The observations in question are analyses that usually take place in a lab with specialized equipment to determine the Grain Distribution or geotechnical characteristics of Soil Samples such as Compressibility, Permeability or Shear Resistance. </p>
<p>These are often specializations of measurement series, i.e. the result varies according to another parameter such as load, pressure or grain size. </p>
<p>A term is also provided for Borehole measurements. </p>
<p>Terminology for the soil samples on which the analyses are based is to be found in the vocabulary <a href="https://data.vlaanderen.be/ns/grondboringen/">OSLO Soil Drilling.</a> </p>
{% endblock %}
