{% extends "voc2_de.j2" %}

{% block summary %}
<p>Das Vokabular "Boden und Untergrund" fügt dem Vokabular <a href="https://data.vlaanderen.be/ns/observaties-en-metingen">"Beobachtungen und Messungen</a> " und dem Vokabular <a href="https://data.vlaanderen.be/ns/sensoren-en-bemonstering">"Sensoren und Probenahme"</a> speziell für den Bereich Boden und Untergrund eine Terminologie hinzu.</p>
<p>Die Begriffe sind generisch genug, um für mehrere Subdomains innerhalb von Soil & Subsoil nützlich zu sein.</p>
<p>Es handelt sich um Begriffe wie Tiefe, Bodenniveau oder eine Erweiterung des Profils aus Beobachtungen und Messungen mit Profilelement und Niedrig als Spezialisierung.</p>
<p>Messreihen und Fraktionsmessung als Spezialisierung wurden zusätzlich zu den Diskreten Bereichen aus Beobachtungen und Messungen hinzugefügt. Letztere beschränken sich auf Variationen eines Phänomens in Zeit und Raum, während es in diesem Bereich auch möglich sein muss, Variationen in Abhängigkeit von anderen Parametern zu beschreiben.</p>
<p>Außerdem wurden einige utilitaristische Klassen hinzugefügt, wie z. B. assignment und Acknowledgment.</p>
<p>Neben Bereichen, die Variationen von Phänomenen in Raum und Zeit dokumentieren können, gab es auch einen Bedarf an "gewöhnlichen" Messreihen im Bereich Boden und Untergrund, bei denen das Phänomen eine Funktion eines beliebigen Parameters sein kann. Aus diesem Grund haben wir Messreihen und die weit verbreitete Spezialisierung "Fraktionsmessungen" hinzugefügt.</p>
{% endblock %}
