{% extends "voc2_fr.j2" %}

{% block summary %}
<p>Le vocabulaire du forage de sol comprend la terminologie liée au forage ou à l’échantillonnage du sol.</p>
<p>À cette fin, elle s’est spécialisée dans le <a href="https://data.vlaanderen.be/ns/sensoren-en-bemonstering/">vocabulaire Capteurs et Échantillonnage</a>. </p>
<p>Il s’agit notamment du forage de sol, du forage et de l’échantillon de sol en tant que cas particulier de l’échantillonnage, de l’objet d’échantillonnage spatial et de l’échantillon, respectivement.</p>
<p>Le merthode de forage et le forage sont également définis, ainsi que les caractéristiques du forage de sol (par exemple, foreur et foreur ou cadre juridique) ou les propriétés du trou de forage telles que le coffrage et le diamètre.</p>
{% endblock %}
