{% extends "voc2_de.j2" %}

{% block summary %}
<p>Das Vokabular von Soil Drilling umfasst Terminologie, die sich auf das Bohren oder die Probenahme des Bodens bezieht.</p>
<p>Zu diesem Zweck hat es sich auf das <a href="https://data.vlaanderen.be/ns/sensoren-en-bemonstering/">Vokabular Sensoren und Sampling</a> spezialisiert. </p>
<p>Dazu gehören Bodenbohrungen, Bohrloch- und Bodenproben als Sonderfall der Probenahme, des räumlichen Probenahmeobjekts bzw. der Probenahme.</p>
<p>Bohrer, Merthode und Bohrer sind ebenfalls definiert und Eigenschaften des Bodenbohrens (z.B. Bohrer und Bohrer oder Rechtliche Rahmenbedingungen) oder Eigenschaften des Bohrlochs wie Schalung und Durchmesser.</p>
{% endblock %}
