{% extends "ap2_de.j2" %}

{% block summary %}
<p>Das Anwendungsprofil Bodenbohren erläutert, wie die <a href="https://data.vlaanderen.be/ns/grondboringen/">Terminologie</a> in diesem Bereich verwendet werden sollte, um Daten über Bohrungen im Boden oder allgemeiner über die Probenahme des Bodens auszutauschen.</p>
<p>Das Anwendungsprofil baut unter anderem <a href="https://data.vlaanderen.be/doc/applicatieprofiel/bodem-en-ondergrond/sensoren-en-bemonstering">auf dem Anwendungsprofil OSLO Sensors and Sampling</a> auf.<p>Dieser Teilbereich bezieht sich auf die Tätigkeit des Bohrens im Boden und Untergrund. Sein Zweck ist in der Regel die vertikale Beprobung von Boden und Unterboden, um Veränderungen in der Tiefe in Bezug auf Schichtung, Lithologie usw. zu bestimmen. </p>
<p>Dies geschieht durch die Analyse von Bodenproben oder die Durchführung von Beobachtungen in verschiedenen Tiefen. </p>
<p>Das resultierende Bohrloch ermöglicht auch das Hosten von Geräten für eine dauerhaftere Überwachung oder für die Ausbeutung. </p>
<p>Das Bohren ist eine spezialisierte Tätigkeit, die in der Regel innerhalb eines gesetzlichen Rahmens und mit spezieller Ausrüstung und Personal stattfindet.</p>
{% endblock %}
