{% extends "ap2_en.j2" %}

{% block summary %}
<p>This application profile allows you to describe ActualAssociations.</p>
<p>A Fact-Finding Association is an Organization that, like other Associations, serves a disinterested purpose. The difference is that a De facto Association is not registered as a legal entity, it is merely an Association because the members undertake activities together.</p>
<p>Actual associations can be recognized, which gives them a formal character without being a legal entity.</p>
<p>In order to be able to make use of Public Services, e.g. the lending of sports equipment from a local government, it may be sufficient to provide some basic information, but sometimes this Recognition is also necessary.</p>
<p>The processing of the Application for Recognition and the final recognition is done by a Public Organisation. In order to obtain the Recognition, certain proofs must be provided by the Actual Association on the basis of specific criteria.</p>
<p>The application profile also makes it possible to describe who is a member of the Fact-Association, and/or who is responsible (and what that responsibility is).</p>
<p>Finally, it is possible to describe which Public Services have been requested by the Fact-Association.</p>
<p>The application profile reuses terms and the way in which they are applied there from the <a href="https://data.vlaanderen.be/doc/applicatieprofiel/organisatie-basis">OSLO Organization</a> application profile and <a href="https://data.vlaanderen.be/doc/applicatieprofiel/dienstencataloog/">OSLO Services Catalog</a>.</p>
<p>A more formal description of the terms can be found in the vocabulary <a href="https://data.vlaanderen.be/ns/feitelijke-verenigingen/">OSLO-FactualSocieties.</a></p> 
{% endblock %}
