{% extends "ap2_de.j2" %}

{% block summary %}
<p>Mit diesem Anwendungsprofil können Sie ActualAssociations beschreiben.</p>
<p>Eine Fact-Finding Association ist eine Organisation, die wie andere Vereinigungen einem uneigennützigen Zweck dient. Der Unterschied besteht darin, dass ein De-facto-Verein nicht als juristische Person eingetragen ist, sondern lediglich ein Verein, da die Mitglieder gemeinsam tätig werden.</p>
<p>Tatsächliche Assoziationen können erkannt werden, was ihnen einen formalen Charakter verleiht, ohne eine juristische Person zu sein.</p>
<p>Um öffentliche Dienstleistungen, wie z.B. die Ausleihe von Sportgeräten durch eine Kommune, in Anspruch nehmen zu können, kann es ausreichen, einige grundlegende Informationen zur Verfügung zu stellen, manchmal ist diese Anerkennung aber auch notwendig.</p>
<p>Die Bearbeitung des Anerkennungsantrags und die endgültige Anerkennung erfolgt durch eine öffentliche Einrichtung. Um die Anerkennung zu erhalten, müssen bestimmte Nachweise vom eigentlichen Verein auf der Grundlage bestimmter Kriterien erbracht werden.</p>
<p>Das Anwendungsprofil ermöglicht es auch zu beschreiben, wer Mitglied der Fact-Association ist und/oder wer verantwortlich ist (und was diese Verantwortung ist).</p>
<p>Abschließend kann beschrieben werden, welche öffentlichen Dienstleistungen von der Fact-Association angefragt wurden.</p>
<p>Das Anwendungsprofil verwendet Begriffe und die Art und Weise, wie sie dort angewendet werden, aus dem <a href="https://data.vlaanderen.be/doc/applicatieprofiel/organisatie-basis">OSLO Organization-Anwendungsprofil</a> und dem <a href="https://data.vlaanderen.be/doc/applicatieprofiel/dienstencataloog/">OSLO Services Catalog</a>.</p>
<p>Eine formellere Beschreibung der Begriffe findet sich im Vokabular <a href="https://data.vlaanderen.be/ns/feitelijke-verenigingen/">OSLO-FactualSocieties.</a></p> 
{% endblock %}
