{% extends "voc2_de.j2" %}

{% block summary %}
<p>Dieses Vokabular definiert eine Reihe von Begriffen zur Beschreibung von ActualAssociations.</p>
<p>Eine Fact-Finding Association ist definiert als eine Organisation, die wie andere Vereinigungen einem uneigennützigen Zweck dient. Der Unterschied besteht darin, dass ein De-facto-Verein nicht als juristische Person eingetragen ist, sondern lediglich ein Verein, da die Mitglieder gemeinsam tätig werden.</p>
<p>Tatsächliche Assoziationen können erkannt werden, was ihnen einen formalen Charakter verleiht, ohne eine juristische Person zu sein.</p>
<p>Um öffentliche Dienstleistungen, wie z.B. die Ausleihe von Sportgeräten durch eine Kommune, in Anspruch nehmen zu können, kann es ausreichen, einige grundlegende Informationen zur Verfügung zu stellen, manchmal ist diese Anerkennung aber auch notwendig.</p>
<p>Die Bearbeitung des Anerkennungsantrags und die endgültige Anerkennung erfolgt durch eine öffentliche Einrichtung. Um die Anerkennung zu erhalten, müssen bestimmte Nachweise vom eigentlichen Verein auf der Grundlage bestimmter Kriterien erbracht werden.</p>
<p>Das Vokabular ermöglicht es auch zu beschreiben, wer Mitglied der Factual Association ist und/oder wer verantwortlich ist (und worin diese Verantwortung besteht).</p>
<p>Abschließend kann beschrieben werden, welche öffentlichen Dienstleistungen von der Fact-Association angefragt wurden.</p>
<p>Das Vokabular verwendet Begriffe aus dem Vokabular der <a href="https://data.vlaanderen.be/ns/organisatie">OSLO-Organisation</a> und dem <a href="https://data.vlaanderen.be/ns/organisatiehttps://data.vlaanderen.be/ns/dienst">OSLO-Servicekatalog</a>.</p>
{% endblock %}
