{% extends "ap2_fr.j2" %}

{% block summary %}
<p>Ce profil d’application vous permet de décrire ActualAssociations.</p>
<p>Une association d’établissement des faits est une organisation qui, comme les autres associations, a un but désintéressé. La différence est qu’une association de fait n’est pas enregistrée en tant qu’entité juridique, elle n’est qu’une association parce que les membres entreprennent des activités ensemble.</p>
<p>Les associations réelles peuvent être reconnues, ce qui leur donne un caractère formel sans être une entité juridique.</p>
<p>Afin de pouvoir utiliser les services publics, par exemple le prêt d’équipements sportifs par une administration locale, il peut suffire de fournir quelques informations de base, mais parfois cette reconnaissance est également nécessaire.</p>
<p>Le traitement de la demande de reconnaissance et de la reconnaissance finale est effectué par un organisme public. Afin d’obtenir la Reconnaissance, certaines preuves doivent être fournies par l’Association Actuelle sur la base de critères spécifiques.</p>
<p>Le profil de candidature permet également de décrire qui est membre de la Fact-Association, et/ou qui est responsable (et quelle est cette responsabilité).</p>
<p>Enfin, il est possible de décrire quels services publics ont été sollicités par la Fact-Association.</p>
<p>Le profil d’application réutilise les termes et la manière dont ils y sont appliqués à partir du profil d’application <a href="https://data.vlaanderen.be/doc/applicatieprofiel/organisatie-basis">OSLO Organization</a> et du <a href="https://data.vlaanderen.be/doc/applicatieprofiel/dienstencataloog/">catalogue de services OSLO</a>.</p>
<p>Une description plus formelle des termes peut être trouvée dans le vocabulaire <a href="https://data.vlaanderen.be/ns/feitelijke-verenigingen/">OSLO-FactualSocieties.</a></p> 
{% endblock %}
