{% extends "ap2_en.j2" %}

{% block summary %}
<p>NOTE: Make sure your automatic translation is disabled in your browser.</p>
<p>The ICEG Cables and Pipes application profile shows how terms from the corresponding <a href="https://data.vlaanderen.be/ns/nutsvoorzieningen">vocabulary</a> should be used to describe cables and pipes. This application model builds on the IMKL Cable and Pipeline Information Model. </p>
<p>These can be located both above and below ground. As far as the underground cables and pipelines are concerned, the description is such that all elements are present that contribute to limiting excavation damage. </p>
<p>The model builds on <a href="https://knowledge-base.inspire.ec.europa.eu/utility-and-governmental-services_en">INSPIRE Utility Services</a> and models on which that model is based, mainly INSPIRE Networks.</p>
<p>Utilities such as cables and pipes are understood as a network (a utility network) in which they form the linear elements, connected by point objects such as splitters, connectors, connections mounted in or on cabinets, towers, poles, etc.</p>
<p>Cables and Pipes are collections of links in the network, Utility Link Sets composed of Utility Link Sequences or Links. The main types of link sets are Cables, Pipes and Channels. Pipes and Ducts are pipes: they conduct substances such as water, wastewater, gas or contain Cables or other Pipes or Channels.</p>
<p>The class Cables is divided into Electricity cables and Telecommunications cables. With Pipes, a distinction is made between OilGasChemicalsPipes, Sewer Pipes, Water Pipes and Thermal Pipes.</p>
<p>The geometry of the Utility Link Sets is that of the constituent link sequences or links. In the case of a left sequence the geometry of the links that form the sequence but in a certain direction (important for drainage, for example), in the case of the links the geometry of the middle line.</p>
<p>The point objects that realize the connections in the network (e.g. connectors, connections, pumps, meters) are the nodes of the network, the so-called utility nodes. They can stand on their own but are typically mounted on point objects of larger size such as Poles or Towers or sit in Cabinets on the street. We call these Utility Node Containers.</p>
<p>Some Utility elements together form a facility or installation that can be described separately as an Activity Complex.</p>
<p>The model includes various supporting classes and data types, e.g. to supplement the network information with topographical information (Topographic element class) or zones where excavation is not allowed (protected area class) or to annotate the objects (Annotation class).</p>
<p>The geometry of cables and pipes and nodes in the network can be described in 2D or 2.5D.</p>
<p>If 2.5D is not possible or insufficient, additional information about the Vertical Position can be given, both relative (compared to a Reference Surface) and absolute (Direct Position in a vertical coordinate system such as TAW). This information is important to avoid excavation damage.</p>
{% endblock %}

{% block images %}
<a href="./html/overview_nl.jpg" target="_blank">
<img src="./html/overview_nl.jpg" />
 </a>
{% endblock %}
