{% extends "ap2_en.j2" %}

{% block summary %}
<p> The OSLO Cables and Pipes application profile shows how terms from the corresponding <a href="https://data.vlaanderen.be/ns/nutsvoorzieningen">vocabulary</a> should be used to describe cables and pipes. This application model builds on the IMKL Cable and Pipeline Information Model. The <a href="https://belgif.github.io/thematic/models/cable-pipe/index_en.html">English specification</a> and <a href="https://belgif.github.io/thematic/models/cable-pipe/index_fr.html">French specification</a> can be found at  </p>
<p> These can be located both above and below ground. As far as the underground cables and pipelines are concerned, the description is such that all elements are present that contribute to limiting excavation damage. </p>
<p>The model builds on <a href="https://knowledge-base.inspire.ec.europa.eu/utility-and-governmental-services_en">INSPIRE Utility Services</a> and models on which that model is based, mainly INSPIRE Networks.</p>
<p>Utilities such as cables and pipes are understood as a network (a utility network) in which they form the linear elements, connected by point objects such as splitters, connectors, connections mounted in or on cabinets, towers, poles, etc.</p>
<p>Cables and Pipes are collections of links in the network, Utility Link Sets composed of Utility Link Sequences or Links. The main types of link sets are Cables, Pipes and Channels. Pipes and Ducts are pipes: they conduct substances such as water, wastewater, gas or contain Cables or other Pipes or Channels.</p>
<p>The class Cables is divided into Electricity cables and Telecommunications cables. With Pipes, a distinction is made between OilGasChemicalsPipes, Sewer Pipes, Water Pipes and Thermal Pipes.</p>
<De geometrie van de Nutsvoorzieninglinksets is deze van de samenstellende linksequenties of links. In het geval van een linksequentie de geometrie van links die de sequentie vormen maar dan in een bepaalde richting (van belang voor bvb afwatering), bij de links de geometrie van de midellijn.</p>
<p>The point objects that realize the connections in the network (e.g. connectors, connections, pumps, meters) are the nodes of the network, the so-called utility nodes. They can stand on their own but are typically mounted on point objects of larger size such as Poles or Towers or sit in Cabinets on the street. We call these Utility Node Containers.</p>
<p>Some Utility elements together form a facility or installation that can be described separately as an Activity Complex.</p>
<p>The model includes various supporting classes and data types, e.g. to supplement the network information with topographical information (Topographic element class) or zones where excavation is not allowed (protected area class) or to annotate the objects (Annotation class).</p>
<p>The geometry of cables and pipes and nodes in the network can be described in 2D or 2.5D.</p>
<p>If 2.5D is not possible or insufficient, additional information about the Vertical Position can be given, both relative (compared to a Reference Surface) and absolute (Direct Position in a vertical coordinate system such as TAW). This information is important to avoid excavation damage.</p>
{% endblock %}

{% block images %}
<a href="/doc/applicatieprofiel/kabels-en-leidingen/kandidaatstandaard/2023-12-19/html/overview.jpg" target="_blank">
<img src="/doc/applicatieprofiel/kabels-en-leidingen/kandidaatstandaard/2023-12-19/html/overview.jpg" />
 </a>
{% endblock %}
