{% extends "ap2_en.j2" %}

{% block summary %}
<p>The application profile on Educational Resources focuses on the international exchange of educational resources in the broad field of education, ranging from classical education to lifelong learning.
Thanks to this standard, learning materials can easily be exchanged at different levels. The learning resource can be linked to the learning activity and learning activity specification, as well as to the goal.
In addition, there is also a possibility to write down the copyrights related to the Learning Resource on the basis of this model.</p>
<p>The central focus of this model is on the 'Learning Tool' class. This class contains all kinds of attributes related to the development, publication, distribution, use, ... of a Learning Tool.
Thanks to these attributes, all relevant information about a Learning Resource can be stored. In addition, Learning Resources with (partially) the same characteristics can be brought together in a 'Learning Resources Collection'. The Learning Tool itself is a subclass of the class 'Creative Work', which contains information about the author and associated copyrights of any form of Creative Work. 
A Creative Work may also have a 'License', which includes the information regarding proper reuse. As the application profile indicates, this also applies to a Learning Tool.
Furthermore, a link can also be made with the 'Agent', which in this model represents the publisher that produces or shares a Creative Work.</p>
<p>Furthermore, this model also makes the link with the class 'Learning Activity', from <a href="https://data.vlaanderen.be/ns/leercredential/">OSLO Learning Credential</a>, since a Learning Activity can potentially make use of one or more Learning Resources.
The link with the class 'Learning Activity Specification', from <a href="https://data.vlaanderen.be/ns/leercredential/">OSLO Learning Credential</a>  , is also made in this model, as it potentially prescribes the use of certain Learning Resources.</p>
<p>Finally, the 'Goal' class also plays an important role in this model. A Learning Tool potentially serves a certain Purpose. In addition, the Learning Activity and Learning Activity Specification also contribute to achieving a Goal. 
It is important that the Goal itself can be fulfilled depending on the type of goal, within the educational field or within the professional environment, as the user wishes.
However, the Purpose is always related to another Purpose, potentially also consists of one or more other Purposes, is also a specialization of one or more Goals and can also be broader than certain other Goals.</p>
{% endblock %}

