{% extends "ap2_en.j2" %}

{% block summary %}
<p>This is a test to see if the manualy translated content is used.
This application aims to standardize the information in the context of the child, aimed at developing a common understanding of essential child information. This application profile was developed in the context of GZG (Municipality-without-townhouse) Boost trajectory, together with Lokaal Digitaal, at the local government of Bornem for the development of an intermunicipal search and reservation platform that digitally shapes the decree on out-of-school care and activities (BOA). The goal of this platform is to create an intuitive and user-friendly sharing platform in co-creation with (vulnerable) parents and BOA actors. In addition, the aim is to optimize and automate the administrative processes of BOA employees and organizers, and to support vulnerable target groups by providing access to social workers and supervisors.

This information is of great importance to caregivers, teachers and other professionals, in support of the care and well-being of children. The focus will be on improving the exchange of data between the various parties in the healthcare sector. 
With a standard 'child sheet', we want to support continuity of care, optimise cooperation between service providers and also reduce the administrative burden for parents. By achieving a common understanding of essential information about the child, resulting in a 'child sheet', a foundation is created for data exchange between various software programs and communication between stakeholders is strengthened. Information exchange plays a crucial role, for example when a baby with a food allergy moves from nursery to kindergarten or out-of-school care. Sharing this allergy information ensures a safe transition and continuity of care.</p>
{% endblock %}

