{% extends "ap2_fr.j2" %}

{% block summary %}
<p>Cette application vise à normaliser l’information dans le contexte de l’enfant, dans le but de développer une compréhension commune des informations essentielles de l’enfant. Ce profil d’application a été développé dans le cadre de la trajectoire Boost GZG (Gemeente-zonder-gemeentehuis) au sein du gouvernement local de Bornem pour le développement d’une plateforme intercommunale de recherche et de réservation qui façonne numériquement le décret sur l’accueil et les activités extrascolaires (BOA). L’objectif de cette plateforme est de créer une plateforme de partage intuitive et conviviale en co-création avec des parents (vulnérables) et des acteurs de BOA. En outre, l’objectif est d’optimiser et d’automatiser les processus administratifs des employés et des organisateurs de BOA, et de soutenir les groupes cibles vulnérables en leur donnant accès à des travailleurs sociaux et à des superviseurs.

Cette information est d’une grande importance pour les soignants, les enseignants et les autres professionnels, à l’appui des soins et du bien-être des enfants. L’accent sera mis sur l’amélioration de l’échange de données entre les différentes parties du secteur de la santé. 
Avec une « fiche enfant » standard, nous voulons soutenir la continuité des soins, optimiser la coopération entre les prestataires de services et réduire la charge administrative pour les parents. En parvenant à une compréhension commune des informations essentielles sur l’enfant, ce qui aboutit à une « feuille enfant », une base est créée pour l’échange de données entre les différents logiciels et la communication entre les parties prenantes est renforcée. L’échange d’informations joue un rôle crucial, par exemple lorsqu’un bébé souffrant d’une allergie alimentaire passe de la crèche à la maternelle ou à la garde extrascolaire. Le partage de ces informations sur les allergies assure une transition sécuritaire et la continuité des soins.</p>
{% endblock %}

