{% extends "voc2_en.j2" %}

{% block summary %}
<p>This vocabulary contains the terms necessary to describe the timetable and planning of public transport networks.</p>
<p>The terminology is based on EPIP, which is a profile on NETEX that allows, among other things, to describe time tables and stops. The terms that can be used to describe vehicle planning are based on NETEX only.</p>
<p>To describe time tables, we must first be able to describe the public transport offer by means of Networks, Lines and the Routes they follow.</p>
<p>To describe the network topology, we have Ride Patterns that indicate how the Routes run correctly by means of Points.</p>
<p>Patterns of loaded Journeys (the so-called Service Journeys) run along Planned Stops, these are the logical stops of the Network: places from which one can travel to other stops or where one can change to other Lines.</p>
<p>For the Points through which the Journeys pass (including the Scheduled Stops), Transit Times can be described, either the times along the stops of a Line (in a certain direction) or all Transit times during the day at a stop.</p>
<p>It is possible to diversify Service Trips by day type (weekday, school day, etc.) and to link them to actual dates in order to have a Service Calendar for a certain school year, for example.</p>
<p>The Planned Stopping Points are logical stops, but it is common for them to coincide spatially (within walking distance of each other) and to be part of one large physical stop (the Stop), e.g. a train station.</p>
<p>It is possible to describe a hierarchy of Stops (Multimodal, Unimodal, Platform). More detail can also be given about the infrastructure of the physical stop, e.g. the entrances and exits.</p>
<p>There is also terminology in this vocabulary to describe so-called Blocks. This is an important concept when planning the service provided by the public transport company. They are fixed sequences of Trips, intended to use the vehicles (and therefore the drivers) as efficiently as possible.</p>
<p>These can be linked to the most suitable Vehicle types (e.g. based on their Passenger capacity) and to the Service Calendar to easily assign drivers to Blocks.</p>
{% endblock %}
