{% extends "ap2_en.j2" %}

{% block summary %}
<p>This application profile was developed to semantically model the different data streams related to this domain within the "income" domain and to standardize the structure of the data. For many services, it is important to be able to respond to a person's current income situation. Among other things, the following elements relating to wage information are captured in this application profile: metadata such as information about the employer and data from the payslip, the gross taxable income, details about the net salary such as meal vouchers, withholding tax, premiums, etc. The application profile is generic, but is still able to provide the necessary level of detail. Only the data that is strictly necessary will be shared. This payroll data application profile can serve as documentation for analysts and developers.</p>
{% endblock %}
