{% extends "ap2_de.j2" %}

{% block summary %}
    <p>Dies ist ein grundlegendes Anwendungsprofil im <a href="https://data.vlaanderen.be/ns/dossier" target="_blank">OSLO Dossier Vocabulary</a>.</p>

    <p>Das konzeptionelle Informationsmodell bildet die Grundlage für den Austausch von Dossierdaten zwischen verschiedenen Abteilungen. Es definiert eine Reihe von abstrakten Entitäten, relevanten Eigenschaften und deren Beziehungen. Dieses konzeptionelle Informationsmodell bildet die Grundlage für Entwickler und Datenbankmanager, um sich zu einem physischen Datenmodell weiterzuentwickeln. Das Vokabular gibt einen Überblick über die verwendete Terminologie und die damit verbundenen Definitionen, das grundlegende Anwendungsprofil fasst diese Begriffe in einer generischen Spezifikation für den Datenaustausch zusammen.</p>

    <p>Zur Veranschaulichung werden in <a href="https://data.vlaanderen.be/standaarden/kandidaat-standaarden/applicatieprofiel-dossier/OSLO-Dossier_html-documentatie_use-cases.pdf" target="_blank">diesem Dokument</a> beispielhafte Anwendungsfälle erläutert.</p>
{% endblock %}

{% block license %}
    <p><span rel="dct:type" property="dct:title" href="http://purl.org/dc/dcmitype/Text" xmlns:dct="http://purl.org/dc/terms/">Diese Spezifikation</span> von <a rel="cc:attributionURL" property="cc:attributionName" href="http://vlaanderen.be/facilitairbedrijf" xmlns:cc="http://creativecommons.org/ns#">Het Facilitair Bedrijf</a> wird unter der <a href="https://overheid.vlaanderen.be/sites/default/files/documenten/ict-egov/licenties/hergebruik/modellicentie_gratis_hergebruik_v1_0.html" rel="license">"Model License Free Reuse - v1.0" veröffentlicht.</a></p>
{% endblock %}