{% extends "ap3_en.j2" %}

{% block summary %}
<p>The OSLO Water Quality application profile shows how concepts from the European <a href="https://purl.eu/ns/air-and-water/water/">vocabulary ODALA Water</a> supplemented with those from the <a href="https://data.vlaanderen.be/ns/waterkwaliteit/">OSLO Water Quality vocabulary</a> should be used to semantically enrich data on water quality so that it becomes easier to find, understand, and more compatible with other data sources.</p>
<p>Observation is the central class in the application profile. This class from <a href="https://data.vlaanderen.be/doc/applicatieprofiel/observaties-en-metingen/">OSLO Observations & Measurements</a> (and further supplemented in <a href="https://data.vlaanderen.be/doc/applicatieprofiel/sensoren-en-bemonstering/">OSLO Sensors & Sampling</a>) allows to describe any type of Observation. For Water Quality, however, the class was further specialized for Biotic Indexes, Bioindicators, physical parameters of Water Quality, concentrations and loads of Chemicals and for Hydromorphology.</p>
<p>The objects from which these characteristics can be described are Domain Objects or Sampling Objects and their subclasses from Observations & Measurements and Sensors & Sampling, but specifically for water quality, classes such as Water Objects, Emissions and Emission Sources were provided. Furthermore, Measuring Point was added as a Sampling Object. Measuring points can be aggregated into a monitoring network.</p>
<p>To describe the quality of the Observations, reference is made to <a href="https://data.vlaanderen.be/doc/applicatieprofiel/datakwaliteit/">OSLO Data Quality</a>, for statistical Observations there is <a href="https://data.vlaanderen.be/doc/applicatieprofiel/statistiek/">OSLO Statistics</a>.</p>
<p>Code lists are basically described outside the application profile, the enumerations shown in the diagram are illustrative. In practice, e.g. <a href="https://data.omgeving.vlaanderen.be/doc/collection/conceptscheme">the code lists of the Department of Environment</a> can be used.</p>
<p>Also check out the detailed <a href="https://github.com/Informatievlaanderen/OSLOthema-Waterkwaliteit/tree/master/resources/datavoorbeelden">data examples on github</a>.</p>
{% endblock %}
