{% extends "voc2_de.j2" %}

{% block summary %}
<p>Dieses Vokabular zielt darauf ab, die Informationen im Kontext des Kindes zu standardisieren, um ein gemeinsames Verständnis der wesentlichen kindlichen Informationen zu entwickeln. Dieses Vokabular wurde im Rahmen der GZG (Gemeente-zonder-gemeentehuis) Boost trajectory at local government Bornem für die Entwicklung einer interkommunalen Such- und Reservierungsplattform entwickelt, die die Verordnung über außerschulische Betreuung und Aktivitäten (BOA) digital gestaltet. Das Ziel dieser Plattform ist es, eine intuitive und benutzerfreundliche Sharing-Plattform in Zusammenarbeit mit (gefährdeten) Eltern und BOA-Schauspielern zu schaffen. Darüber hinaus geht es darum, die administrativen Prozesse der BOA-Mitarbeiter und -Organisatoren zu optimieren und zu automatisieren sowie gefährdete Zielgruppen durch den Zugang zu Sozialarbeitern und Supervisoren zu unterstützen.

Diese Informationen sind für Betreuer, Lehrer und andere Fachkräfte von großer Bedeutung, um die Betreuung und das Wohlergehen von Kindern zu unterstützen. Im Fokus steht die Verbesserung des Datenaustauschs zwischen den verschiedenen Akteuren im Gesundheitswesen. 
Mit einem einheitlichen "Kinderblatt" wollen wir die Kontinuität der Betreuung unterstützen, die Zusammenarbeit zwischen den Leistungserbringern optimieren und auch den administrativen Aufwand für die Eltern reduzieren. Durch das Erreichen eines gemeinsamen Verständnisses der wesentlichen Informationen über das Kind, das zu einem "Kinderblatt" führt, wird eine Grundlage für den Datenaustausch zwischen verschiedenen Softwareprogrammen geschaffen und die Kommunikation zwischen den Beteiligten gestärkt. Der Informationsaustausch spielt eine entscheidende Rolle, zum Beispiel, wenn ein Baby mit einer Nahrungsmittelallergie vom Kindergarten in den Kindergarten oder in die außerschulische Betreuung wechselt. Die Weitergabe dieser Allergieinformationen gewährleistet einen sicheren Übergang und die Kontinuität der Versorgung.</p>
{% endblock %}

