{% extends "voc2_en.j2" %}

{% block summary %}
<p>The vocabulary "OSLO-Cycling Infrastructure" defines the terms that apply to information sharing 
about the infrastructure relevant to the cyclist, the network that the cyclist uses to get around
 and the properties that describe the network.</p>
<p>Infrastructure refers to objects that are located in the public domain, such as bicycle counting poles, traffic signs and
bicycle parking. </p>
<p>The network presents the logical side that presents all bicycle facilities (cycle paths, cycle paths, cycle streets) as a
concatenation of knots, segments, sequences and sets. </p>
<p>The characteristics are concepts that describe the bicycle network, such as the width, the layout and the 
direction of traffic. </p>
{% endblock %}