{% extends "voc2_fr.j2" %}

{% block summary %}
<p>Le vocabulaire « OSLO-Cycling Infrastructure » définit les termes qui s’appliquent au partage d’informations 
sur l’infrastructure pertinente pour le cycliste, le réseau que le cycliste utilise pour se déplacer
 et les propriétés qui décrivent le réseau.</p>
<p>L’infrastructure fait référence aux objets qui se trouvent dans le domaine public, tels que les poteaux de comptage de vélos, les panneaux de signalisation et les panneaux de signalisation
Parking à vélos. </p>
<p>Le réseau présente le côté logique qui présente l’ensemble des aménagements cyclables (pistes cyclables, pistes cyclables, rues cyclables) comme un
concaténation de nœuds, de segments, de séquences et d’ensembles. </p>
<p>Les caractéristiques sont des concepts qui décrivent le réseau cyclable, tels que la largeur, l’aménagement et la 
sens de circulation. </p>
{% endblock %}