{% extends "ap2_de.j2" %}

{% block summary %}
<p>Das Anwendungsprofil OSLO Cycling Infrastructure erläutert, wie die Terminologie in diesem Bereich verwendet werden sollte, um Daten auszutauschen, die für die Radinfrastruktur relevant sind.</p>
<p>Das Anwendungsprofil setzt sich aus drei Teilen zusammen:<ul>
<li>Die (physische) Infrastruktur,<li>das (logische) Netzwerk und<li>die Eigenschaften.</li></li></li></ul>
</p>
<p>Zunächst wird auf die physische Implementierung der Infrastruktur unter Verwendung des Standards
<a href="https://data.vlaanderen.be/ns/openbaardomein/infrastructuur">OSLO Public Domain</a>, in dem das Konzept der
Infrastruktur-Element. Für dieses Anwendungsprofil wurde ein spezifischeres Bicycle Infrastructure Object-Objekt erstellt, um diese Infrastrukturelemente auch nach Bicycle Infrastructure zu klassifizieren. Infrastrukturelemente können mit den Fahrradnetzelementen verknüpft werden, was der logische Teil des Modells ist.</p>
<p>Die Bicycle Network-Elemente sind die Bausteine des Anwendungsprofils und können Knoten, Segmente, Sequenzen usw. sein. 
die zusammen ein Fahrradnetz bilden. Der Netzwerkteil des Anwendungsprofils basiert auf INSPIRE 
(<a href="https://inspire.ec.europa.eu/id/document/tg/tn">Inspire Transport Networks</a>) und baut auf 
<a href="https://data.vlaanderen.be/ns/netwerk">OSLO Network</a> und 
<a href="https://data.vlaanderen.be/ns/transportnetwerk">OSLO-Transport</a>. Zu den Elementen des Radwegenetzes gehören die 
Logische Darstellung aller Fahrradeinrichtungen wie Straßen, Radwege, Treidelpfade, Fahrradvorschlagsstreifen, etc. 
über die der Radfahrer radeln kann.</p>
<p>Des Weiteren spricht man über die Eigenschaften, die im Netzwerk vorhanden oder anwendbar sind, 
wie zum Beispiel die Breite des Radweges, die Straßenbeleuchtung, in welche Richtung Sie radeln dürfen. 
Diese Eigenschaft ist als Transport-Eigenschaft im Modell enthalten. 
Unter den allgemeinen Verkehrseigenschaften verstehen wir Eigenschaften, die auf 
Mehrere Verkehrsnetze (z. B. gilt die Straßenbeleuchtung nicht nur für ein Fahrrad, sondern auch für Autos). 
Darüber hinaus definieren wir spezifischere Fahrradnetzeigenschaften, wobei wir angeben möchten, dass es sich um 
insbesondere über den Austausch von Informationen im Zusammenhang mit dem Fahrrad, z. B. die Fahrradbreite, 
AnfahrtRadverkehr und Fahrradpflaster.</p>
<p>Die Beziehung zwischen einem Fahrradnetzelement und einem Verkehrs-Feature wird als Fahrradnetzelement erstellt 
Geerbt von einem Transportobjekt, mit dem eine Transporteigenschaft verknüpft werden kann. Der Link ist nicht explizit vorhanden 
im Modell, aber für diese Referenz wird zu Inspire gemacht.</p>
<p>Um anzugeben, dass sich eine Transporteigenschaft nur auf einem begrenzten Teil eines 
Das Fahrradnetzelement ist gültig, es wird eine lineare Referenz verwendet. 
{% endblock %}

