{% extends "voc2_de.j2" %}

{% block summary %}
<p>Das Vokabular "OSLO-Cycling Infrastructure" definiert die Begriffe, die für den Informationsaustausch gelten 
über die für den Radfahrer relevante Infrastruktur, das Netz, das der Radfahrer zur Fortbewegung nutzt
 und die Eigenschaften, die das Netzwerk beschreiben.</p>
<p>Infrastruktur bezieht sich auf Objekte, die sich im öffentlichen Bereich befinden, wie z. B. Fahrradzählstangen, Verkehrsschilder und
Fahrradabstellplätze. </p>
<p>Das Netz stellt die logische Seite dar, die alle Radverkehrseinrichtungen (Radwege, Radwege, Fahrradstraßen) als
Verkettung von Knoten, Segmenten, Sequenzen und Mengen. </p>
<p>Bei den Merkmalen handelt es sich um Konzepte, die das Radnetz beschreiben, wie z.B. die Breite, das Layout und die 
Fahrtrichtung. </p>
{% endblock %}