{% extends "ap2_en.j2" %}

{% block summary %}
<p>The OSLO Cycling Infrastructure application profile explains how the terminology in this domain should be used to exchange data relevant to cycling infrastructure.</p>
<p>The application profile is made up of three parts:<ul>
<li>The (physical) infrastructure,<li>the (logical) network, and<li>the properties.</li></li></li></ul>
</p>
<p>In the first place, reference is made to the physical implementation of the infrastructure by using the standard
<a href="https://data.vlaanderen.be/ns/openbaardomein/infrastructuur">OSLO Public Domain</a>, in which the concept of
Infrastructure element. For this application profile, a more specific Bicycle Infrastructure Object object has been created, in order to classify those infrastructure elements according to Bicycle Infrastructure as well. Infrastructure elements can be linked to the Bicycle Network elements, which is the logical part of the model.</p>
<p>The Bicycle Network elements are the building blocks of the application profile and can be nodes, segments, sequences, etc. 
which together form a Bicycle Network. The network part of the application profile is based on INSPIRE 
(<a href="https://inspire.ec.europa.eu/id/document/tg/tn">Inspire Transport Networks</a>) and builds on 
<a href="https://data.vlaanderen.be/ns/netwerk">OSLO Network</a> and 
<a href="https://data.vlaanderen.be/ns/transportnetwerk">OSLO-Transport</a>. The cycling network elements include the 
Logical presentation of all bicycle facilities such as the roads, cycle paths, towpaths, bicycle suggestion lanes, etc. 
over which the cyclist can cycle.</p>
<p>Furthermore, one talks about the properties that are present or applicable to the network, 
such as the width of the cycle path, the road lighting, in which direction you are allowed to cycle. 
This is included in the model as a Transport property. 
By the general Transport Properties we mean properties that may apply to 
Multiple transport networks (e.g. road lighting applies not only to a bicycle but also to cars). 
Furthermore, we define more specifically Bicycle Network Properties, where we want to indicate that it is 
specifically about the exchange of information linked to the bicycle, e.g. the Bicycle width, 
DirectionBicycle traffic and bicycle pavement.</p>
<p>The relationship between a Bicycle Network Element and a Transportation Feature is created as a Bicycle Network Element 
inherited from a transport object, to which a transport property can be linked. The link is not explicitly present 
in the model, but for this reference is made to Inspire.</p>
<p>To indicate that a Transport Property is only on a limited part of a 
Bicycle network element is valid, linear reference is used. 
{% endblock %}

