{% extends "ap2_fr.j2" %}

{% block summary %}
<p>Le profil d’application OSLO Cycling Infrastructure explique comment la terminologie de ce domaine doit être utilisée pour échanger des données pertinentes sur les infrastructures cyclables.</p>
<p>Le profil d’application est composé de trois parties :<ul>
<li>L’infrastructure (physique),<li>le réseau (logique), et<li>les propriétés.</li></li></li></ul>
</p>
<p>En premier lieu, il est fait référence à la mise en œuvre physique de l’infrastructure à l’aide de la norme
<a href="https://data.vlaanderen.be/ns/openbaardomein/infrastructuur">OSLO Public Domain</a>, dans lequel le concept de
Élément d’infrastructure. Pour ce profil d’application, un objet Bicycle Infrastructure Object plus spécifique a été créé, afin de classer ces éléments d’infrastructure en fonction de Bicycle Infrastructure également. Les éléments d’infrastructure peuvent être liés aux éléments du réseau cyclable, qui constituent la partie logique du modèle.</p>
<p>Les éléments du réseau cyclable sont les éléments constitutifs du profil d’application et peuvent être des nœuds, des segments, des séquences, etc. 
qui forment ensemble un réseau cyclable. La partie réseau du profil d’application est basée sur INSPIRE 
(<a href="https://inspire.ec.europa.eu/id/document/tg/tn">Inspire Transport Networks</a>) et s’appuie sur 
<a href="https://data.vlaanderen.be/ns/netwerk">Réseau OSLO</a> et 
<a href="https://data.vlaanderen.be/ns/transportnetwerk">OSLO-Transport</a>. Les éléments du réseau cyclable comprennent le 
Présentation logique de toutes les installations cyclables telles que les routes, les pistes cyclables, les chemins de halage, les pistes cyclables, etc. 
sur lequel le cycliste peut faire du vélo.</p>
<p>De plus, on parle des propriétés qui sont présentes ou applicables au réseau, 
comme la largeur de la piste cyclable, l’éclairage de la route, dans quel sens vous êtes autorisé à faire du vélo. 
Ceci est inclus dans le modèle en tant que propriété Transport. 
Par Propriétés de Transport générales, nous entendons les propriétés qui peuvent s’appliquer à 
Plusieurs réseaux de transport (par exemple, l’éclairage routier ne s’applique pas seulement aux vélos, mais aussi aux voitures). 
De plus, nous définissons plus précisément les propriétés du réseau cyclable, où nous voulons indiquer qu’il s’agit de 
spécifiquement sur l’échange d’informations liées au vélo, par exemple la largeur du vélo, 
DirectionCirculation cyclable et chaussée cyclable.</p>
<p>La relation entre un élément de réseau cyclable et une entité de transport est créée en tant qu’élément de réseau cyclable 
hérité d’un objet de transport, auquel une propriété de transport peut être liée. Le lien n’est pas explicitement présent 
dans le modèle, mais pour cela référence est faite à Inspire.</p>
<p>Pour indiquer qu’un bien de transport ne se trouve que sur une partie limitée d’un 
L’élément de réseau cyclable est valide, une référence linéaire est utilisée. 
{% endblock %}

