{% extends "voc2_en.j2" %}

{% block summary %}
<p>Customer Monitoring System is an implementation model that allows the exchange of data about trajectories at VDAB and its partners to ensure the follow-up of job seekers.</p>
{% endblock %}
