{% extends "voc2_en.j2" %}

{% block summary %}
<p>The OSLO-Cultural Heritage vocabulary defines terms that are applicable when describing data related to Cultural Heritage.</p>

<p>Most terms were mapped onto two existing standards: <a href="http://www.cidoc-crm.org/">CIDOC-CRM</a> and <a href="http://www.cidoc-crm.org/frbroo/">FRBRoo</a>.</p>
<p>CIDOC-CRM mainly focuses on the description of tangible and intangible heritage objects and the activities in which they are created/produced and managed.</p>
<p>FRBRoo adds a bibliographical aspect: copies of the same text are considered as carriers of the same work and this approach is also useful for other media:
e.g. performances of the same piece of music or the expression of the same work in several languages or by means of a different medium.</p>

<p>In addition, this vocabulary defines some of its own terms. These can be found under Classes and Properties, while the mapped terms are listed under External Terminology.</p>
{% endblock %}

