{% extends "voc2_fr.j2" %}

{% block summary %}
<p>Le vocabulaire OSLO-Patrimoine culturel définit les termes qui s’appliquent à la description de données liées au patrimoine culturel.</p>

<p>La plupart des termes ont été mis en correspondance avec deux normes existantes : <a href="http://www.cidoc-crm.org/">CIDOC-CRM</a> et <a href="http://www.cidoc-crm.org/frbroo/">FRBRoo</a>.</p>
<p>Le CIDOC-CRM se concentre principalement sur la description des objets du patrimoine matériel et immatériel et les activités dans lesquelles ils sont créés/produits et gérés.</p>
<p>FRBRoo ajoute un aspect bibliographique : les copies d’un même texte sont considérées comme porteuses d’une même œuvre et cette approche est également utile pour d’autres supports :
par exemple, les interprétations ou exécutions d’un même morceau de musique ou l’expression de la même œuvre dans plusieurs langues ou au moyen d’un support différent.</p>

<p>De plus, ce vocabulaire définit certains de ses propres termes. Ceux-ci se trouvent sous Classes et propriétés, tandis que les termes mappés sont répertoriés sous Terminologie externe.</p>
{% endblock %}

