{% extends "ap2_en.j2" %}

{% block summary %}
<p>The OSLO-Cultural Heritage object application profile, a profile on the <a href="https://data.vlaanderen.be/ns/cultureel-erfgoed">OSLO-Cultural Heritage</a> vocabulary, explains how Cultural Heritage terminology should be used to exchange data about Cultural Heritage objects.</p>
<p>By Heritage we mean both tangible (movable and immovable) and intangible heritage. It can therefore be about museum collections, material objects such as paintings, books, buildings, monuments, landscapes; the intangible aspects of these objects such as the text, the image, the file, but also the idea that is expressed by them; intangible heritage such as traditions, customs, crafts.</p>
<p>Events or Activities that take place in the context of Heritage are dealt with in a different application profile, namely in <a href="https://data.vlaanderen.be/doc/applicatieprofiel/cultureel-erfgoed-event">OSLO-CulturalHeritage-event</a>. This concerns Performances or the Creation/Production of heritage objects or their management (Acquisition, Conservation, Removal, Measurement, Classification, etc.). In the OSLO-CulturalHeritage-object application profile, we look at events at most from the point of view of a heritage object.</p>
<p>Central to the OSLO-CulturalHeritage-object application profile are the Curated Collection and the Man-made Objects that are part of it. Culture is, by definition, something man-made and usually what is considered heritage is carefully managed and preserved (curated). We also included ManmadeCharacteristics in the profile to distinguish between more or less separate objects (e.g. a painting or a book) and objects that are integrated into their environment (e.g. a cave painting or a canal).</p>
<p>In the OSLO-CulturalHeritage-Object application profile, there is also room for intangible objects such as texts, images, diagrams and recordings (respectively Language Objects, Visual Items, Designs or Procedures and Documents). This makes it possible, for example, to write a text separately from its carrier or e.g. a computer file separately from the storage medium.</p>
<p>It's one thing to be able to link the text of a book to a book copy in a library. It is even better to be able to document the relationship between a text and its translation. Or to be able to refer to the individual songs on an album. For that reason, the Work and Expression classes were added to the model. A Work may be derived from another work (cfr the translation of the book) or may include Expressions of other Works (cfr the songs on the album).</p>
<p>Work and Expression were further specialized. In addition to an ordinary stand-alone work (IndividueelWerk), there are "containers" with expressions of other works: Aggregation work for e.g. collective works, Publication work for e.g. a publication with text and photos and Performancework for e.g. theatre or dance that shows text and movement and music etc to an audience. There are also the categories Recording Work (for registrations by means of moving or non-moving image and sound) and Serial Work (a periodically published Publication Work). The ultimate integrator is ComplexWerk for works that consist of other Works (e.g. Het Verdriet van België in Dutch and its translation into French).</p>
<p>The objects described in the OSLO-CulturalHeritage-object application profile may be subject to certain rights, e.g. ownership or copyright. The Law class describes the type of rights involved. And of course it is possible to specify the rights holders. For ownership, there is a shortcut for this: the association "owner" between an object and an Agent (Person or Organization).</p>
<p>A law can be applied to things that take a concrete form, but not to an idea. This means that there are no rights to any instance of Work (definition: "idea or combination of ideas behind an artistic or intellectual Expression") but to the text, image or sound in which the idea is expressed. Material things such as paintings or monuments can also be subject to a right.</p>
<p>It is possible to specify the Legal Basis on which a particular right is based.</p>
<p>Classes in the OSLO-Cultural Heritage object application profile are specializations of the abstract class Entity and inherit characteristics such as identifier, description or type. Associations between entities can also be described in this way, e.g. to indicate which event is depicted in a painting or to make it clear of which work of art a photograph was taken.</p>
<p>Each class has attributes that further describe instances of it, e.g. the Location of a Human-Made Object. Some of these are the result of events that took place on the object, e.g. the location of a painting after it has been purchased by a museum. It is possible to refer to these events, a more thorough description (e.g. who made this painting and when) is given in the application profile OSLO-CulturalErfgoed-event.</p>
{% endblock %}


