{% extends "voc2_de.j2" %}

{% block summary %}
<p>Das OSLO-Cultural Heritage-Vokabular definiert Begriffe, die bei der Beschreibung von Daten im Zusammenhang mit dem Kulturerbe anwendbar sind.</p>

<p>Die meisten Begriffe wurden auf zwei bestehende Standards abgebildet: <a href="http://www.cidoc-crm.org/">CIDOC-CRM</a> und <a href="http://www.cidoc-crm.org/frbroo/">FRBRoo</a>.</p>
<p>CIDOC-CRM konzentriert sich hauptsächlich auf die Beschreibung von Objekten des materiellen und immateriellen Kulturerbes und die Aktivitäten, in denen sie erstellt/produziert und verwaltet werden.</p>
<p>FRBRoo fügt einen bibliographischen Aspekt hinzu: Kopien desselben Textes gelten als Träger desselben Werkes, und dieser Ansatz ist auch für andere Medien nützlich:
z.B. die Aufführung desselben Musikstücks oder die Äußerung desselben Werkes in mehreren Sprachen oder mittels eines anderen Mediums.</p>

<p>Darüber hinaus definiert dieses Vokabular einige seiner eigenen Begriffe. Diese sind unter Klassen und Eigenschaften zu finden, während die zugeordneten Begriffe unter Externe Terminologie aufgelistet sind.</p>
{% endblock %}

