{% extends "voc2_en.j2" %}

{% block summary %}
<p>This Vocabulary is an additional Taxonomy to the <a href="https://data.vlaanderen.be/ns/financiele-rapportering/">Financial Reporting Vocabulary</a>.</p>
{% endblock %}

